[2021-07-01 16:29] EverlastingBugstopper commented on #648
Thanks for the report @prcdpr - I'm closing this as a duplicate of #645

[2021-07-01 16:31] prcdpr commented on #648
It's not a duplicate, this is different issue. #645 is about introspection, this one is about installation

[2021-07-01 16:39] Nicoowr commented on #647
Thanks for the feedback @EverlastingBugstopper  I ended up installing `rover` via `curl` in both my CI and locally. It works as expected although it's not ideal. I'll keep you posted if I ever find a better solution :)

[2021-07-01 17:08] EverlastingBugstopper commented on #648
While the command you're running here is different than what's reported in #645, the underlying issue is the same, which is that our HTTP client in the Rover codebase (which is also used in the installer) does not respect OS level certificates.

The fix for #645 _should_ also fix this.

[2021-07-01 17:11] prcdpr commented on #648
But installer uses https://www.npmjs.com/package/binary-install

https://github.com/apollographql/rover/blob/main/installers/npm/binary.js#L96-L97

Am I missing something? This is NodeJS code, and introspection code is in Rust

[2021-07-01 17:29] EverlastingBugstopper commented on #648
Mmmmmmm... y'know I think you're right about this, this is most definitely coming from JS code!

Thinking about this a bit more, I think it makes sense that the default installer rejects self-signed certificates since it could be very dangerous to bypass SSL validation when downloading a binary. Also, it's pretty hard for an npm installer to accept an extra config flag specifying extra CA authorit

[2021-07-02 04:06] justinabrahms opened #653 "Unable to publish graph due to utf-8 issues"
## Description

When I attempt to publish my graph, I get an error about the stream not being in utf-8 encoding. I'm on windows & the terminal output with PS means powershell.

### Steps to reproduce

[code]

If I go into WSL2 (ubuntu) and run `file` on it, this is the result:

[code]

### Expected result

Schema updates

### Actual result

UTF8 error

### Environment

[code]

[2021-07-02 09:18] merceyz commented on #647
You can unplug `binary-install` so it's extracted from the archive and allowed to write to itself
[code]

Change `binary-install` to not write to itself, write to `node_modules/.cache` instead or have `@apollo/rover` write the file to it's own folder which would work since it has a postinstall and is therefor unplugged automatically.

Having `binary-install` write the bin by name to itself seems l

[2021-07-02 13:35] kyleschrade opened #654 "Spaces in graph name"
## Description

When trying to switch from apollo CLI to rover our graph seems to have an invalid name. Our graph name is something like "Company GraphQL Gateway" (not the best name, I know) but when trying to do commands like:

`rover subgraph check "Company GraphQL Gateway"@dev1  --schema ./schema.graphql  --name products`

 We get an error like:

After replacing the spaces in the graph name wit

[2021-07-02 16:46] abernix commented on #654
I don't mean to claim that this is completely intuitive, but is it possible that rather than using the name of the graph (that's at the top of the screen Studio) you need to use:

1. The identifier indicated as "Graph Ref" at the top of the Schema page"; or in the same spirit
2. The identifier that's in the URL

Put another way, there shouldn't be spaces in this identifier.  (And replacing them wi

[2021-07-02 17:00] kyleschrade commented on #654
yea I found this out by inspecting the apollo studio page and your right. I would say a `rover list graphs` command would be extremely useful for first-time users of rover though (we can close this thread now leaving it open due to not knowing what the protocol is).

[2021-07-02 18:18] haines opened #655 "Add `--revision` option to `rover subgraph publish`"
## Description

We're currently using the `--serviceRevision` option to `apollo service:push`, because we run from a Docker image that doesn't have the full Git repository. We'd like to migrate to `rover subgraph publish`, but we'd prefer not to lose the version information in Apollo Studio.

Would it be possible to add a `--revision` option to `rover subgraph publish`?

[2021-07-05 16:11] lrlna commented on #653
Hi @justinabrahms, thanks for reporting this. I see that you're using a powershell on a windows machine. By default piping or redirecting stdout in windows will save your files as utf-16 instead of utf-8. I am not entirely sure if we can do something on our end to force the file written to be utf-8 because we already do as much utf-8 conversion as possible, but I'll double check this week. For the

[2021-07-05 20:29] mrlannigan opened #661 "Unable to create a new variant of a federated graph with `rover subgraph publish`"
## Description

When trying to create a new variant in a federated graph, I am met with an error that would suggest that the graph I am trying to publish to is not federated.

Note: I have had to redact some of the identifying information about my company's graph from the below content.

### Steps to reproduce

Inside of a docker container with the environment variable, `APOLLO_KEY`, set:
1. `npm

[2021-07-07 03:53] oliyoung opened #665 "bug: crashed while publishing graph"
Trying to replace `npx apollo service:push` with rover and getting repeated failures,  on traced logs, it's probably somewhere here since we run git via Gerrit internally (where xxxx.yyyy is a valid fqdn to our Gerrit repo)

[code]

**Crash Report**
[code]

[2021-07-07 18:56] #645 closed, assigned to nobody

[2021-07-08 05:06] mziwisky opened #670 "bug: crashed while running `rover subgraph introspect`"
following https://www.apollographql.com/docs/federation/quickstart/, got to the part that says to run `rover subgraph introspect https://rover.apollo.dev/quickstart/products/graphql`, it crashes without much help.

**Crash Report**
[code]

[2021-07-08 05:42] mziwisky commented on #670
aha, so i see the expression `splitpath[1]` at https://github.com/tjtelan/git-url-parse-rs/blob/v0.3.1/src/lib.rs#L237 is the out of bounds access.  and when i run the rover command with `-l debug`, i see it's trying to parse the `origin` git remote of my current directory for some reason, and it's failing because that parsing library doesn't know how to handle ssh host aliases, which i happen to

[2021-07-08 05:50] mziwisky commented on #670
huh, maybe i only have the `cd` workaround after all -- even when i expand my remote to `ssh://mziwisky@gerrit.instructure.com:29418/apollo-gateway`, i get the same crash.  apparently the git url parsing lib fails on this valid remote as well.

[2021-07-08 12:16] abernix commented on #655
Thanks for opening this!  I'd love to better understand the problem space to make this the most useful we could for you.  We didn't have a ton of usage of `serviceRevision`, so understanding use-cases is really valuable.

Do you mind expanding on this or ruminating on how you'd use it?  Is there a way we could help tie these things together? What are you using for the value that you pass to `servi

[2021-07-08 13:05] haines commented on #655
Sure thing!

In CI after merging a PR to main, for each of our subgraphs, we produce two Docker images - one containing the GraphQL server, and one containing the subgraph schema file (e.g. `public.graphql` for the public variant of our graph) and the `apollo` CLI. The schema image has two environment variables baked in - `APOLLO_SERVICE_NAME` (the application name) and `APOLLO_SERVICE_REVISION` (

[2021-07-11 16:24] parkerself22 commented on #661
@mrlannigan Is there any reason you aren't passing the `--convert` flag? That cleared up the issue for me.

I found this issue because I was looking for guidance on the flag itself, mainly, why do we need to pass convert if the subgraph doesn't exist yet? I would think that the first time I publish a subgraph to a variant it should be the default behavior to assume it is subgraph instead of a non-

[2021-07-11 18:50] mziwisky commented on #670
looks like this is the same as #665 -- `git-url-parse-rs` assumes a git url's path has at least (or perhaps exactly) two levels to it (i.e. there's a slash in it), but this tends not to be the case with gerrit.  gerrit URLs tend to have just one level after the slash.

[2021-07-12 16:28] kyle-banner opened #674 "bug: crashed while running a subgraph check"
**Crash Report**
[code]

[code]

(edited by @EverlastingBugstopper just to fix up some formatting)

[2021-07-13 14:09] gabsn commented on #647
Thx this solved the issue for me!

[2021-07-14 16:15] Nicoowr commented on #647
@merceyz Thanks dude, adding and unplugging binary-install from my project worked for me :D

[2021-07-14 16:15] #647 closed, assigned to nobody

[2021-07-16 10:22] abernix commented on #654
Thanks for circling back! The Studio team is aware of this, so I'll go ahead and close this over here, but thank you for reporting this originally!

[2021-07-16 10:22] #654 closed, assigned to nobody

[2021-07-20 11:31] abernix opened #682 "chore: Update `harmonizer` to latest version"
## Prerequisites

- https://github.com/apollographql/federation/issues/895
## Requirements

Update `harmonizer` to support the version that is published from the work in https://github.com/apollographql/federation/issues/895.  This is to support an updated composition algorithm that supports a new `@tag` directive landed in https://github.com/apollographql/federation/pull/859 and bring this functi

[2021-07-20 18:40] EverlastingBugstopper commented on #674
@kyle-banner thanks for the report, I'm sorry you ran into this bug, we'd love to iron it out for you.

It looks like you're getting an OS Error 11 which is... definitely unexpected! Can I ask for the output of the `rover info` command, and also what environment you're running this on? This error is occurring in a call to Rust's `eprintln!` macro, which makes me think that something weird is going

[2021-07-21 14:12] abernix commented on #477
@jstjoe @zionts It's been a few months — any evolving thoughts on this?  Has this got any connection to a build ID, perhaps?

[2021-07-21 14:15] abernix commented on #653
@justinabrahms Have you had the opportunity to validate whether the suggestion that @lrlna offered worked in your case?

[2021-07-21 14:22] abernix commented on #665
Thanks for reporting this! Closing as a duplicate of #670 and moving this content there.

[2021-07-21 14:22] #665 closed, assigned to nobody

[2021-07-21 14:23] abernix commented on #670
Copying the report from @oliyoung in https://github.com/apollographql/rover/issues/665#issuecomment-884230318:

[2021-07-21 14:29] prasek commented on #477
@jstjoe @zionts if you run the following on [supergraph-demo](https://github.com/apollographql/supergraph-demo):
[code]

You get:
[code]

so even if the subgraph hasn't changed, it gets updated in the Registry every time even if there are no changes, or at least reports that:

[code]

so something like
- `rover subgraph publish --force` or rather
- `rover subgraph publish --force-compose` or
- `ro

[2021-07-21 14:31] abernix commented on #644
I'll close this now because we believe this may have been fixed or improved in #649 and #650 which should have made it into Rover v0.1.8.  If you're still experiencing this problem, please let us know!  Thanks for reporting this originally!

[2021-07-21 14:31] #644 closed, assigned to nobody

[2021-07-21 19:29] abernix commented on #682
Ready to go, @EverlastingBugstopper: [`harmonizer@0.27.0`](https://crates.io/crates/harmonizer/0.27.0).

[2021-07-22 16:33] EverlastingBugstopper commented on #648
@prcdpr just following up - did you end up trying this out?

[2021-07-22 17:57] danpayne17 commented on #674
Hi @EverlastingBugstopper . Kyle is on vacation so I'll chime in here with what we know. Here is the output from `rover info`:

[code]

Rover is being called from a bash shell script that I wrote. The script is being called by a GitLab pipeline runner. Attached is the debug output from the command.

Thanks for taking a look at this!

[rover-debug-console-output.txt](https://github.com/apollographq

[2021-07-22 18:18] prcdpr commented on #648
Yes, NODE_EXTRA_CA_CERTS worked and was enough in my case to solve the problem.

[2021-07-22 18:22] EverlastingBugstopper commented on #674
That is super strange! It looks like the panic occurs _rrriiigghhhttt_ as it's about to finish printing. At the top it says there were `112` schema changes, and the table seems to include `112` passes, and then panics right around the time it's about to finish printing the table.

I've tried to reproduce this issue by printing even larger tables, but can't seem to reproduce!

Truly think this has

[2021-07-22 18:40] EverlastingBugstopper commented on #648
Awesome!

[2021-07-22 18:40] #648 closed, assigned to nobody

[2021-07-22 18:49] EverlastingBugstopper commented on #674
Ah! I think I may have found the culprit. Seems like `node` does some funky business to set `stdout/stderr` streams to non-blocking mode, which doesn't play nicely with Rust.

I've found [this comment](https://github.com/rust-lang/rust/issues/57632#issuecomment-546614184) describing the issue which also links to workarounds by Mozilla.

[2021-07-22 18:51] danpayne17 commented on #674
When I run locally, it works fine, but obviously I'm on a different system:

[code]

[2021-07-22 18:51] danpayne17 commented on #674
Oh nice! I will look at that comment.

[2021-07-22 19:09] danpayne17 commented on #674
That fixed it! Buried in there was that the issue goes away in later versions of node12. I upgraded and now pipeline completes successfully. Thanks for the help!

[2021-07-22 19:10] EverlastingBugstopper commented on #674
Awesome!! Glad I could help 😄

[2021-07-22 19:10] #674 closed, assigned to nobody

[2021-07-22 20:21] #632 closed, assigned to nobody

[2021-07-23 17:30] #682 closed, assigned to nobody

[2021-07-23 17:41] paulpdaniels opened #687 "Broken link to supergraph specification on docs"
## Description

There is a link on https://github.com/apollographql/rover/blob/main/docs/source/supergraphs.md to the supergraph specification which appears to be dead (https://apollo-specs.github.io/core/draft/pre-0). I found the associated repo and it seems like it should now be pointing to [here](https://github.com/apollographql/specs-core/blob/main/core.spec.md)?

[2021-07-23 17:44] Beatrix-droid commented on #687
May I work on this?

[2021-07-23 17:53] EverlastingBugstopper commented on #687
@Beatrix-droid go for it!

[2021-07-26 17:02] EverlastingBugstopper opened #688 "Add top level `display` field to structured output"
While reviewing #676, @prasek suggested that we add a top level `display` object to our `--output=json` so that folks can write wrappers around Rover for their own logging/metrics integrations.

Inital proposal from @prasek:

[code]

---

The main thing that's complicated here is how we want to handle output that... doesn't really match up super nicely with the `display.details[x].message` format.

[2021-07-26 17:12] EverlastingBugstopper commented on #688
I guess another alternative is to sorta logically group the output messages, so the checks table could be its own "message" like so:

[code]

[2021-07-26 17:28] prasek commented on #688
@EverlastingBugstopper thanks for these different options. Perhaps a simplified message output without the table formatting for details would work, such that it could be used in a bullet list, table or whatever output format the integration or CI pipeline wanted to use?

[2021-07-26 18:18] EverlastingBugstopper commented on #688
Hmmmm... I guess it's kinda hard to present things as a message like that with no formatting unless you start adding some structure back in since each line is printed as a table... at which point it'd be easier to just refer people to `data.changes` where they can construct their own bullets/table format.

Unless I'm missing something? Just having a hard time envisioning what the simplified messag

[2021-07-26 19:51] prasek commented on #688
For example:

[code]

[2021-07-26 19:57] EverlastingBugstopper commented on #688
Ah! That looks super nice!

I wonder if we should update our regular output to look more like this as well so we don't have to special case it. I've never been the hugest fan of the ASCII tables that we output anyways. Thoughts?

[2021-07-26 20:05] #508 closed, assigned to EverlastingBugstopper

[2021-07-26 20:28] #285 closed, assigned to EverlastingBugstopper

[2021-07-26 20:35] prasek commented on #688
🙂

Sounds good 👍

The `display.details` content above could be rendered in a table or list depending on view preference

[code]

[code]

[2021-07-26 23:22] queerviolet commented on #688
in js-land, we have `console.log` and `console.table`. you could imagine a `display` array which basically serializes the values passed to those:

[code]

obviously in rover-land we don't have `.log` or `.table` yet, but you imagine implementing them with an interface like this:

[code]

i _believe_ that we could make `.table` work in a fairly straightforward way by implementing a custom `Serializ

[2021-07-27 01:27] queerviolet opened #691 "use the system keychain to store sensitive profile data?"
## Description

should we store sensitive profile data in the system keychain? there's [a crate](https://crates.io/crates/keyring) for it.

arguments for:
  - it's what [apple](https://developer.apple.com/documentation/security/keychain_services/keychain_items/using_the_keychain_to_manage_user_secrets) and [microsoft](https://docs.microsoft.com/en-us/windows/uwp/security/intro-to-secure-windows-ap

[2021-07-27 13:57] robmurtagh opened #692 "Support JSON schema files"
## Description

We're looking to use the following command:

[code]

However it appears that the `--schema` option only supports single `.graphql` schema files. Would it be possible to accept e.g. a single `.json` files here as well?

## Usecase

Our 'monolithic' graph is made up of multiple schema `.ts` files, each containing `gql` template literals. From this we statically build a `schema.json`

[2021-07-27 14:30] #142 closed, assigned to nobody

[2021-07-27 15:03] queerviolet commented on #692
is the format effectively `JSON.stringify(documentNode)`?

[2021-07-27 15:16] robmurtagh commented on #692
I just tried it out, and they look very similar, but I'm not sure they're necessarily exactly the same thing?:

### `JSON.stringify(documentNode)`

[code]

Returns:

[code]

### `schema.json`

Whereas `schema.json` is typically the introspection result, as documented [here](https://graphql.org/learn/introspection/), which begins e.g.:

[code]

[2021-07-27 15:17] queerviolet commented on #688
update: i looked at this a bit last night and it looks like `tracing` basically gives us these macros already, and we're using it to print our log messages already, so i'd update my suggestion to say that we should just make `tracing::Subscriber`s for console logging and structured output logging

(the `details` approach above isn't really needed, bc spans / child-span / events already represent a

[2021-07-27 18:12] EverlastingBugstopper opened #693 "Add exponential backoff retries for HTTP requests"
## Description

- What does it do?
  - On any HTTP request that we think might resolve on a retry (maybe we should default to 500 type errors and perhaps specific `RoverClientError`s) we should have Rover retry the request. We need to be careful not to just retry _everything_ though, we need to be explicit about the exact scenarios in which retries are desired.
- What are the inputs/outputs?
  - I

[2021-07-27 18:34] EverlastingBugstopper opened #694 "Consider allowing globs in `file` inputs for `subgraph check` and `subgraph publish`"
## Description

- What does it do?
  - `rover subgraph check` and `rover subgraph publish` all take `--schema` arguments. These arguments (and possibly also the `file` key in supergraph config YAML) should allow path expressions/globs.
- What are the inputs/outputs?
  - Any files matching a path expression/glob will be concatenated together to create a subgraph schema that is then passed on to whe

[2021-07-27 18:51] trevor-scheer commented on #694
Small nitpick but I think a rename (or alias, non-breaking) `file` -> `files` would make more sense since we'll be globbing a potentially >1 number of files.

[2021-07-27 21:19] EverlastingBugstopper commented on #692
Ah! We actually do support using introspection as an input, but we have a separate command for it: `rover graph introspect`. This command will produce SDL from an introspection JSON response if you have introspection enabled on the graph. From there, you can publish that SDL using `rover graph publish`.

If your graph was named `my-graph`, and you wanted to publish to the `dev` variant, you could

[2021-07-27 22:31] prasek opened #695 "Better support for local dev and CI workflows, so I can more easily test with a live gateway using the output of Managed Federation"
## Problem

Doing smoke tests on a real live gateway during local dev and in CI workflows is helpful to ensure things are working end-to-end beyond just schema checks.

This is easy to do on your local laptop with `rover supergraph compose` or in a [CI workflow](https://github.com/apollographql/supergraph-demo/blob/main/.github/workflows/main.yml#L57) by passing the `supergraphSDL` directly to the

[2021-07-28 08:29] robmurtagh commented on #692
Thanks for the response @EverlastingBugstopper 🙏  Unfortunately:

* `rover graph introspect`  returns the GraphQL schema in the [Schema Definition Language (SDL) format](https://www.apollographql.com/blog/backend/schema-design/three-ways-to-represent-your-graphql-schema/#graphql-schema-definition-language) (`schema.graphql`)
* Ideally it would be possible to accept the schema in a [GraphQL introsp

[2021-07-28 11:27] abernix commented on #694
I think we should carefully define the desired behavior for how subgraph schema files are merged.  Is merely concatenation acceptable?  If so, then there is a short-term, already supported answer of (if I recall):

[code]

However, given that `buildFederatedSchema` does more than just concatenate distinct `typeDefs` members that are passed to it, I think there's some investigation to be had there

[2021-07-28 11:32] abernix commented on #694
Btw, acknowledge that the `cat` 🐈  work-around would not work for YAML-based configuration.  I think we just want to decide if we're okay with the initial version of this just being concatenation or if that's in any way problematic.

If it's not a problem, then let's do it and then build the more complete merging stuff later, but we should make sure that doesn't result in a federated schema of a d

[2021-07-28 22:39] prasek commented on #694
@abernix @EverlastingBugstopper consistent behavior with `buildFederatedSchema` and the result of `rover subgraph introspect` would be ideal. Is that already part of harmonizer?

[2021-07-29 14:59] chenrui333 opened #696 "rover 0.1.9 build failure"
Seeing the build failure when building rover 0.1.9 release.

[code]

[2021-07-29 15:33] EverlastingBugstopper commented on #696
This is broken on `main` as well today. This seems to be due to a change to Apollo's API upstream. Will investigate this today, thanks for the report!

[2021-07-29 18:23] EverlastingBugstopper commented on #695
I'm a bit confused by the ask here. It seems there are maybe two asks?

1) I want an easy way to create temporary variants in Apollo Studio from Rover, and tear them down easily
  - This seems like something we'd need API support for as, IIRC, deleting variants isn't actually possible w/o bogging down a graph's performance over time
2) We want to be able to publish/check all subgraphs at once
  -

[2021-07-29 18:26] lennyburdette commented on #695
(Btw I renamed the repo to multi-check-publish to avoid any branding confusion.)

I agree with @EverlastingBugstopper 's breakdown above. And I'm not as convinced that point 1 is all that necessary—I'm exploring the ability to skip variants entirely for development workflows: https://github.com/lennyburdette/development-gateway

[2021-07-29 19:32] prasek opened #698 "Support use of `supergraph.yaml` across multiple `rover` commands like `docker-compose`"
## Background

The `supergraph.yaml` in many ways is like a [docker-compose.yml](https://github.com/apollographql/supergraph-demo/blob/main/docker-compose.yml) that can be used from multiple commands to simplify their usage (docker compose up|down|logs, etc).

Today only `rover supergraph compose` accepts a `supergraph.yaml`, which is great!

However, other rover commands require a lot of repetiti

[2021-07-29 19:45] prasek commented on #695
Cool, sounds good. 👍

For (1) - reworded this issue to address better support for dev and CI workflows in general with some ideas. If there are underlying API changes needed to provide a better UX, let's sync with the Studio folks on what's needed.

For (2) - split out https://github.com/apollographql/rover/issues/698 to support use of supergraph.yaml across multiple rover commands like docker-com

[2021-07-29 19:58] EverlastingBugstopper commented on #692
Sure - so part of the reason that `graph introspect` returns SDL in the first place is in order to feed it to `graph publish`, as Apollo's graph registry tracks changes to SDL and not introspection.

As a workaround, if you can spin up a local endpoint that just returns that statically generated `schema.json`, you should be able to use `rover graph introspect` to turn that into valid SDL. It's not

[2021-07-30 00:05] prasek commented on #695
@lennyburdette https://github.com/lennyburdette/development-gateway seems to have similar goals to https://github.com/apollographql/rover/issues/479 that @ndintenfass suggested a while back.

@abernix suggested: `rover watch` but with a config.  perhaps `rover supergraph compose --watch` or similar?

It would be really nice for a local dev gateway to simply watch a local `supergraph.graphql`, rega

[2021-07-30 11:19] lennyburdette commented on #695
I was focused on making shared gateway development in a remote dev environment easier—especially the ability to share links or header values with QA or mobile teams so they can test against in-progress schema changes.

I'm not super interested in solving the local gateway development story. I don't think it's common for teams to be able to proxy traffic to subgraph servers running in a remote clus

[2021-07-30 11:19] abernix commented on #695
This is along the lines of thinking we've had for Apollo Server.  And similarly, the Router.

[2021-07-30 11:21] lennyburdette commented on #695
Oh, and you can get hot-reloads of a supergraph.yaml already today. I have it enabled by default in my container experiment:
https://github.com/apollosolutions/gateway-container/blob/main/src/gateway.js#L55-L81

[2021-07-30 11:32] abernix commented on #695
Ah, that's pretty good.  At some point, I could see us taking a file path as the `supergraphSdl` input value and merely watch it in the same way we watch the cloud. (Seems like we should have no problem telling the difference between a file path and SDL. 🦆)

[2021-07-30 14:06] lennyburdette commented on #698
Joey has added some functionality to his fork to handle deleting subgraphs that aren't present in the config. If we implement these features, it might be a good idea to have a `--prune` flag or something to trigger that behavior.

https://github.com/joeynenni/roverx/commit/c16bc13e316cf5bc0d298e7c3d4af2b53edb270f

[2021-07-30 17:32] chenrui333 commented on #696
Thanks @EverlastingBugstopper!

[2021-07-30 20:20] prasek opened #700 "support .`env` files like `apollo` CLI"
## Description
Would be great to support `.env` files like the `apollo` CLI does:
https://www.apollographql.com/docs/devtools/cli/#provide-an-api-key

[2021-07-31 18:54] prasek commented on #695
@lennyburdette for shared gateway dev, wonder if `kubectl apply -k k8s/router/dev` with a Kustomize ConfigMap generator for the local supergraph might be a more k8s-native approach for updating a remote cluster, like this https://github.com/apollographql/supergraph-demo/tree/main/k8s/router/dev.

Granted not everyone is using k8s, but for those who are you mentioned skaffold the other day and that

[2021-08-02 07:38] abernix commented on #700
This support was introduced hastily to the `apollo` CLI and there was at least some consensus that this was problematic behavior to enable by default.  Not the least of which is that `.env` is a somewhat magic mechanism that is best enabled explicitly and involves secrets which often need various flexibilities that are application-specific (e.g., `.env.staging`, etc.).  It also conflicts with patt

[2021-08-02 11:04] abernix commented on #694
There is no relation from `harmonizer` to either `rover subgraph introspect` or `buildFederatedSchema`.

The workflow with the best UX for using modules (that is, sets of `typeDefs` and `resolvers`) with Federation right now is to use `buildFederatedSchema` and run `rover subgraph introspect` against that.  This leverages `buildFederatedSchema` (and thus `modulesFromSDL` and friends) via runtime i

[2021-08-02 14:26] EverlastingBugstopper commented on #700
Agree - .env files are an environment thing that varies between languages and introducing support for it introduces yet another source of confusion for authentication.

Folks should use whatever auth setup works best for them, and Rover already has quite a bit of flexibility in this regard with the combination of profiles and environment variables.

[2021-08-03 00:53] #696 closed, assigned to EverlastingBugstopper

[2021-08-03 12:44] abernix commented on #524
@synackSA Hey! Any updates on this?

[2021-08-03 12:49] abernix commented on #687
I've opened https://github.com/apollographql/rover/pull/706 which should close this.  Feedback welcome!

[2021-08-03 13:48] chenrui333 commented on #696
thanks @EverlastingBugstopper for the quick fix! any chance that the team would make a quick patch release? Thanks!

[2021-08-03 14:35] #687 closed, assigned to nobody

[2021-08-03 14:51] EverlastingBugstopper commented on #688
Unfortunately, we don't use `tracing` for _all_ of our log messages as it was requested early on that we remove the `INFO` prefix from our progress messages and I just... for the life of me I couldn't figure out how to modify the tracing subscriber to do that so they were switched to `eprintln` or `println` statements (unless they are in a subcrate). All tracing level logs are suppressed unless yo

[2021-08-03 14:52] EverlastingBugstopper commented on #696
We'll be releasing `v0.2.0` after we receive some more feedback on structured output. For now, if you clone this repo and run `cargo xtask dist --version v0.1.9` then it will build a version of Rover for you using the types from an older GraphQL schema in your local `target` directory.

[2021-08-03 15:54] EverlastingBugstopper commented on #113
We have a suggestion for resolving composition errors that links to our docs.

[2021-08-03 15:54] #113 closed, assigned to nobody

[2021-08-03 15:55] EverlastingBugstopper commented on #227
We're using a JS based linter in CI to catch these types of issues

[2021-08-03 15:55] #227 closed, assigned to JakeDawkins

[2021-08-03 15:56] EverlastingBugstopper commented on #226
Closed by #699

[2021-08-03 15:56] #226 closed, assigned to EverlastingBugstopper

[2021-08-03 15:57] #468 closed, assigned to nobody

[2021-08-03 16:04] EverlastingBugstopper commented on #653
we could likely combine an `if is_atty` with an `if cfg!(windows)` and encode our output in `UTF-16` if we detect that combo.

[2021-08-03 17:51] EverlastingBugstopper commented on #695
^ This feels like something that should maybe be solved w/the new router implementation

---

I think I'd want to be able to run another native Rover command rather than have to curl a random URL.

That makes me think we'd want to be able to run `rover supergraph fetch` on the result of a check (which reminds me an awful lot of #499! 😄 )

Today, `rover subgraph check` checks a proposed schema agai

[2021-08-03 17:54] EverlastingBugstopper commented on #278
I've labelled this as blocked - we need API support for this. Once it's there I imagine implementation won't take long, but we'll need to design our updated logs and structured output.

[2021-08-03 18:01] EverlastingBugstopper commented on #480
edit: this comment relates to mutation, not initial bootstrapping

I was gonna t-shirt size this but I think it's an XXL to have a reasonable implementation of this. We _could_ do this by deserializing, modifying, and reserializing, but the problem there is that we'd lose any formatting and comments which... I don't think we want.

It looks like there is a Python package that can preserve ordering

[2021-08-03 18:08] EverlastingBugstopper commented on #691
In order to keep this mostly frictionless and backwards compatible, we could add a `--keychain` or `--use-keychain` flag when creating new profiles with `rover config auth`.

`rover config auth --profile new-profile --keychain` then create a profile file just like the other ones, but instead it would just say like "stored in keychain" or something. Then, any time `--profile new-profile` is used, i

[2021-08-03 18:56] EverlastingBugstopper commented on #698
---

### 1) support use of supergraph.yaml in additional commands, so I can get rid of all the scripts above

I think `supergraph check` should be atomic - that is, completely overwrite the state of all subgraphs, build them together all at once, and then update the supergraph with the result. If they compose there should be no warnings about composition errors whatsoever like there would be if we

[2021-08-04 20:13] EverlastingBugstopper commented on #693
I'm having a hard time integrating the `backoff` error API with our own, so I'm going to try using the [`retry`](https://crates.io/crates/retry) crate instead.

[2021-08-04 20:17] EverlastingBugstopper opened #708 "Update `--output json` to v1"
Once we've gathered an appropriate amount of feedback around our output and feel satisfied with the extra functionality it provides, we'll promote the `json_version` to `v1`.

[2021-08-04 20:48] EverlastingBugstopper commented on #453
One thing to consider here is orgs - I'm not entirely sure how user API Tokens are scoped. If it's a 1:1 org to API Token then it would be super easy to just create the graph under that org. However, if one user API key can provide access to multiple orgs, you'll have to specify an org when creating the graph.

---

The paradigm of `create` gets a bit weird when you try to think about it in terms

[2021-08-04 20:51] EverlastingBugstopper commented on #480
Upon doing a more thorough read :facepalm: I think a builder would be reasonable to implement - the mutation bit is what I was hung up on. I still think it'll be T-Shirt large as it'll be an interactive command that we'll want to have helpful errors/walkthrough on. I've mentioned this issue in #453 where I've suggested this functionality live under `rover supergraph create`.

[2021-08-04 20:59] EverlastingBugstopper commented on #569
This happened!

[2021-08-04 20:59] #569 closed, assigned to nobody

[2021-08-04 21:45] EverlastingBugstopper opened #709 "Cut patch version v0.1.10 without structured output changes"
## Description

We recently changed the Apollo Studio API to make the publish result nullable, which older versions of Rover can't handle, resulting in cryptic `E004` errors. We should cut a `v0.10.0` patch release that doesn't include the latest changes to structured output.

This update will bring better error messages to failed publishes.

(full error for SEO):

[code]

[2021-08-05 16:32] longility opened #711 "What is the approach on using local schema file when we are using `gql` template literal?"
## Description

I'm using `gql` template literal as seen in documentations such as https://www.apollographql.com/docs/tutorial/schema/#define-your-schemas-types.

My goal is to publish the schema to apollo studio through CI/CD, and I see documentation on how to do that using a schema file as seen here https://www.apollographql.com/docs/rover/ci-cd/

**What are some options or is there a recommenda

[2021-08-05 17:13] prasek commented on #711
Hi @longility 👋

Check this out: https://github.com/apollographql/supergraph-demo#standard-cicd ... would love to hear feedback on it.

If using with `rover` for example `rover subgraph check` in CI it's easier to keep the `.graphql` file sepearate, and then just load it into your server, like this: https://github.com/apollographql/supergraph-demo/tree/main/subgraphs/products

Alternatively you ca

[2021-08-05 17:49] EverlastingBugstopper commented on #709
closed by #710

[2021-08-05 18:00] EverlastingBugstopper opened #713 "v0.10.0 yanked"
I accidentally tagged a release for v0.10.0 which is _not_ the version I was trying to tag. This tag has been deleted.

[2021-08-05 18:43] #713 closed, assigned to nobody

[2021-08-05 18:56] EverlastingBugstopper commented on #709
I got my semver mixed up - meant to cut `v0.1.10` instead.

[2021-08-05 19:46] longility commented on #711
@prasek thanks for the response! Everything you said makes sense. I will check it out and decide which approach. I will provide feedback once I get more familiar in deep in it.

[2021-08-05 22:06] EverlastingBugstopper commented on #709
It's out!

[2021-08-05 22:06] #709 closed, assigned to EverlastingBugstopper

[2021-08-05 22:22] prasek commented on #700
`docker` and `docker-compose` are a good language independent references to checkout:
- `docker` supports a `--env-file` flag.
- `docker-compose.yml` supports an [`env_file` option as well](https://docs.docker.com/compose/environment-variables/#the-env_file-configuration-option)
- `docker-compose` supports https://docs.docker.com/compose/environment-variables/

In [local dev/test it's not uncommon

[2021-08-05 22:56] prasek commented on #698
### support use of supergraph.yaml in additional commands, so I can get rid of all the scripts above

#### rover supergrah check

`rover supergraph check --config supergraph.yaml` - check all subgraphs

Agree this would be ideal. 👍

#### rover supergrah publish

`rover supergraph publish --config supergraph.yaml` - publish all subgraphs

Agree, esp. so you don't get temporary `WARN:` messages when

[2021-08-05 23:01] prasek commented on #698
### recognize a default supergraph.yaml

I'd look to the following for inspiration:
- `docker` + `Dockerfile` - in the current dir for default, otherwise `-f, --file`
   - note that you're still building a docker image with that file, so the tool name and the thing you're operating on are the same
- `docker-compose` + `docker-compose.yml` - in the current dir for default, otherwise `-f, --file`

[2021-08-05 23:02] prasek commented on #698
### support referencing a specific subgraph by name
like docker-compose lets you reference services by name

`rover supergraph check --name products` - check products subgraph, with info from default supergraph.yaml
`rover supergraph publish --name products` - publish products subgraph, with info from default supergraph.yaml
`rover supergraph delete --name products` - delete products subgraph, wit

[2021-08-06 11:21] abernix commented on #525
I do agree it would be great if the `-` support was consistently supported!  And agree that a follow-up we could subsequently discuss could be inline schema.

[2021-08-06 11:46] abernix opened #718 "add source instruction to install message for immediate use"
## Description

Right now, when you install Rover, it automatically augments the appropriate shell file so that `rover` can will be in your `PATH` on the next usage and you can just type `rover`.

When you've _just_ installed it in a fresh container though (e.g., let's say you just ran `docker run`), to get `rover` in your path you need to:

- Logout and log back in
  - On a Docker container this

[2021-08-06 12:59] cyberhck commented on #524
generally that might happen because of ca-certificates, you tried calling an endpoint, when you're missing ca-certificate the API call fails, when you install curl, it lists ca-certificate in it's dependencies, and certificate gets installed which results in passing endpoint call.

[2021-08-06 13:08] cyberhck opened #719 "dockerize rover"
## Dockerize Rover and publish to docker registry

As the title suggests, it'd be quite nice if apollo team could build official rover docker CLI and publish to docker.

While anyone is able to do this, I think publishing from rover's CI pipeline would mean it'll automatically get updates when there's a new release in rover.

Add details like:
- On every merge to master it publishes docker with a

[2021-08-06 13:11] cyberhck commented on #719
we'll probably need different variant:
- distroless
- alpine
- scratch
being 3 main ones.

[2021-08-07 00:18] ZachGoldberg opened #720 "Rover fails to introspect local HTTPS server with self-signed certificate"
## Description

We test locally using HTTPS with a self signed certificate and I'm basically looking for a ALLOW_INSECURE flag for rover.

### Steps to reproduce

```openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout server.key -out server.crt```
[code]
```rover subgraph introspect 'https://localhost:4000/graphql```

### Expected result

Rover produces a schema as usual

### Actual result

[2021-08-09 13:27] abernix commented on #720
Seems reasonable.  Prior art here likely being Python's `PYTHONHTTPSVERIFY` and Node.js' [`NODE_TLS_REJECT_UNAUTHORIZED`](https://nodejs.org/api/cli.html#cli_node_tls_reject_unauthorized_value).

Perhaps we would name this `ROVER_TLS_VERIFY` and have it default to `1` and be set to `0` when ignoring verification is desired?

Alternatively, I could imagine we perhaps want more granularity for this

[2021-08-09 17:30] prasek commented on #719
@cyberhck this sounds very similar to https://github.com/apollographql/supergraph-demo-k8s-graph-ops/issues/50

Can you provide some more context on this:

Is this https://argoproj.github.io/argo-cd/user-guide/resource_hooks/?

[2021-08-09 17:35] cyberhck commented on #719
I'm just asking for an official docker image, and in case someone is curious why, I've mentioned the reason.

While we can publish docker ourselves, having apollo's ci do that is better

[2021-08-09 22:14] jstjoe commented on #477
Yes. We should probably update the response string to be clearer as well, for cases where no update actually happens.

[2021-08-10 08:03] AndreyIlyunin opened #722 "Create/Delete graph variants using Rover CLI"
## Creating and deleting graph variants using Rover CLI

Ability to manage graph variants using Rover CLI:
- create new graph variants by providing its names/IDs*
- delete graph variants by their names/IDs*

---

This will helps users to move to the managed schemas totally.
And the ability to use Rover CLI subgraph publish features for any environment in the same manner.

For example, the use-case

[2021-08-10 20:14] EverlastingBugstopper opened #723 "bug(ci): investigate "failed" ci publish to npm"
I fixed the publish to npm manually before leaving due to the release step failing. However, due to an ongoing incident with GitHub Actions, I cannot download [the logs](https://github.com/apollographql/rover/commit/53b7a265360379e011614ad40c51e6b8866acd01/checks/3256909111/logs) to see what went wrong. Leaving this issue open to investigate once it's back up.

[2021-08-10 20:18] EverlastingBugstopper commented on #424
You can do this right now if you just clone and build from source so I'm going to close this.

[2021-08-10 20:18] #424 closed, assigned to nobody

[2021-08-10 20:53] EverlastingBugstopper commented on #693
no dice on `retry`... might have to just do some looping manually. the problem i'm running into is the error types returned by these libraries don't give me an easy way to return a `Result<T, RoverClientError>` and I can't seem to map things properly.

[2021-08-10 22:39] a7ul commented on #582
For anyone looking for a workaround
this is what we ended up doing:

- Switch to non alpine image (node:16)

`Dockerfile`

[code]

`install-rover.sh`
[code]

[2021-08-11 16:02] EverlastingBugstopper commented on #582
If you'd like a slightly more reliable build from source, you should clone the repo, run `cargo xtask dist --version v0.1.10 && ./target/release/rover install` - this will build and install a specific version of rover using the same build process we use in CI in addition to downloading the schema that was in production at the time of publishing that version. Using this method ensures that any brea

[2021-08-11 17:40] bennyKY opened #724 "Error "schema input must have at least one of “sdl” or “hash”" when publishing"
## Description

running `publish` command with schema parameter:
[code]

we are getting this error:
“error: Partial schema input must have at least one of “sdl” or “hash””.
It doesn't have error code (like other errors).

### Environment

Rover Info:
Version: 0.1.10
Install Location: /Users/bennykachanovsky/.rover/bin/rover
OS: Mac OS 11.4.0 [64-bit]
Shell: /usr/local/bin/bash

[2021-08-11 21:37] EverlastingBugstopper commented on #693
I think my main issue here was trying to integrate this into the existing codebase. I've split out some of what I want into this [example repo](https://github.com/everlastingbugstopper/retry) that should help me integrate the logic into Rover directly. I also played around with `httpmock` which seems very promising for expanding some of our test coverage.

[2021-08-11 21:44] a7ul commented on #582
`cargo xtask dist --version v0.1.10` didn't work as expected for me.

<img width="753" alt="image" src="https://user-images.githubusercontent.com/4029423/129107034-cdd3c1c7-9e33-4106-b620-0d761a238b36.png">

<details>
<summary>
Complete logs here
</summary>
<pre>
root@4d24f19e73e5:~/rover#  cargo xtask dist --version v0.1.10
    Updating crates.io index
       Fetch [========>                ]  36

[2021-08-11 21:46] EverlastingBugstopper commented on #582
Ooh! I'll be sure to fix that up! thanks for trying this out.

[2021-08-12 14:41] joeynenni commented on #720
We are in the same situation. A `--insecure` option like `curl` would be great!

[2021-08-12 17:14] EverlastingBugstopper commented on #724
Thanks for the report @bennyKY - it looks to me like this occurs whenever the proposed schema file is completely empty. We can definitely have a better error message here, but for now I'd recommend investigating your `src/srver/federation/backoffice/common.graphql` file and ensure it actually contains a schema prior to running this command.

[2021-08-12 17:34] EverlastingBugstopper commented on #723
ah - the problem was that i tagged the wrong version. this is now fixed.

[2021-08-12 17:34] #723 closed, assigned to EverlastingBugstopper

[2021-08-12 18:01] EverlastingBugstopper commented on #720
Is it possible to add these self-signed certs to OpenSSL's trusted certs in `/etc/ssl/certs`? Do these same requests work w/`curl` w/o an `--insecure` option or do workflows like this typically rely on `--insecure` options?

[2021-08-12 18:20] #724 closed, assigned to EverlastingBugstopper

[2021-08-12 21:57] stephenh opened #728 "introspect drops comment new lines which breaks SDL parsing"
We had an SDL file on our server-side that looked like:

[code]

However `rover graph introspect` turned this into:

[code]

Which then causes `graphql-js`'s `lexer.js` to blow up on "unterminated string", i.e. it doesn't like the quadruple quotes.

Perhaps this is really a bug in graphql-js's parsing? Being some lazy and filing it here because we found it via `rover introspect` changing the SDL (

[2021-08-13 03:11] setchy commented on #502
I'd +1 this.

In fact, I raised this [issue](https://github.com/apollographql/apollo/issues/1209) in the apollo repo just now.  There is some stray content in there that provides an 'example' of thee rover cli supports the `--branch`, `--author` and `--commitId` flags

Would be nice if rover either:
*  supported the [4 git context environment variables](https://www.apollographql.com/docs/rover/con

[2021-08-13 15:35] chenrui333 commented on #696
[rover 0.1.10 is good](https://github.com/Homebrew/homebrew-core/pull/83175), thanks @EverlastingBugstopper!

[2021-08-13 17:02] EverlastingBugstopper opened #729 "rover-client: consistent error handling"
We have some nice error messages for invalid graph names/variants, but they are not applied evenly to all operations - I'd like to modify the `rover-client` framework just a bit to make it easier to work with top-level requirements like graphs and make sure that our error messages are consistent across all of the different operations.

[2021-08-13 19:21] EverlastingBugstopper commented on #513
I think this should be solved with our retries w/exponential backoff in #693 and we haven't heard other reports of this so I'm going to close this. If anybody still thinks this would be helpful, feel free to reopen!

[2021-08-13 19:21] #513 closed, assigned to nobody

[2021-08-13 19:23] EverlastingBugstopper commented on #694
Sounds like this can be closed?

[2021-08-16 03:35] cyberhck commented on #719
would you be open to a PR? I'd be okay with writing a Dockerfile and a github workflow to dockerize and push to docker hub if you'd prefer.

[2021-08-16 06:32] cyberhck commented on #719
also, where will it release? docker hub? github registry? I'll need someone to setup secrets

[2021-08-16 09:42] cyberhck opened #733 "rover subgraph publish getting stuck"
## Description

In our company, I don't want to publish schema by using rover through CI, because it makes no sense IMO. You have a delay between CI and service starting, service might fail while starting and might rollback, etc.

I'm trying to publish subgraph once the deployment succeeds.

To do that I need rover inside a docker container.

Here's what I did:
[code]

And built locally.

### Step

[2021-08-16 09:58] cyberhck commented on #733
I also tried the following dockerfile:
[code]

Same results.

[2021-08-16 11:04] cyberhck commented on #733
I did find a workaround, instead of piping two docker commands on host, I changed entry point to use cmd, and ran rover manually and piped two commands inside that docker container and it seems to be working (I did this on the smaller dockerfile btw)

[2021-08-16 11:04] cyberhck commented on #733
so maybe not a rover issue, should I close this?

[2021-08-16 15:04] EverlastingBugstopper commented on #733
Yes - I believe your issue is that when piping two docker commands together it doesn't automatically pass Rover's stdout to Rover's stdin. Instead it's passing dockers stdout to dockers stdin, which it doesn't seem to properly handle. Glad you got it figured out!

[2021-08-16 15:04] #733 closed, assigned to EverlastingBugstopper

[2021-08-16 16:10] #530 closed, assigned to EverlastingBugstopper

[2021-08-16 16:25] ericf89 commented on #728
Seeing this too with a description that terminates in a double quote.  🤔

It's inlined, and makes it so this schema can't be parsed by a `rover graph check` command later in our pipeline
![image](https://user-images.githubusercontent.com/1235309/129595904-b274dd07-dc0c-4ee3-89c7-679811146bd7.png)

Interestingly, whatever process that publishes the sdl to apollo studio on startup seems to be sendin

[2021-08-16 16:30] lrlna commented on #728
@stephenh @ericf89 thank you for reporting this. That definitely seems like a bug in our encoder that ought to be fixed!

[2021-08-16 21:09] EverlastingBugstopper opened #737 "bug: Check config sending `0` instead of `null` as of `v0.2.0-beta.0`"
Any time a number is sent alongside a check operation, Apollo Studio will override the default configuration, even if the number is 0. As of [this commit](https://github.com/apollographql/rover/commit/cdd43c109b7d73c49bd1b2a2d9ca6a5292f30aaa#diff-ade4dc9f24fe5066754f8b93[…]cdffff708246ac2b90a46e3bec530), Rover is sending `0` by default instead of `null`, which cause operation checks to run over `0

[2021-08-17 10:37] longility opened #739 "Should we expect a subgraph to have multiple "entities" as a common approach?"
## Description

The demo shows an example of 1 subgraph - 1 entity, which is more "pure" microservice. However, I think that 1 subgraph - many entities (more "monolith") may be a common scenario. I see it as an incremental and pragmatic approach to development where we can defer splitting up the subgraph to more subgraphs, which may not necessarily be 1 subgraph - 1 entity as well. I don't know if

[2021-08-17 10:53] longility commented on #739
I put this in the wrong repo.

[2021-08-17 10:53] #739 closed, assigned to nobody

[2021-08-17 11:42] ghost opened #740 "Add Azure DevOps to CI/CD docs"
## Description

Currently the documentation for adding rover cli checks and publishing a federated schema to a CI/CD pipeline are missing for Azure DevOps.

Following is a yaml template that can be dropped in for Azure DevOps scenarios.
Note the template assumes an authenticated Azure DevOps Artifact feed is used.

This template works by using npm install to make the rover cli available during ci/

[2021-08-17 12:30] setchy commented on #729
I was about to raise a new GH Issue but found this ticket.  Here is an observation I had this morning

---

We are using managed federation and this morning I was experimenting with introducing a new variant name for use via the `rover subgraph check` command.

If I provide a GRAPH_REF (graph-id@variant-name) that has a valid graph-id, but invalid variant-name, I observed the following error messa

[2021-08-17 14:09] EverlastingBugstopper opened #741 "docs: structured output"
Let's document the new `--output json` 😄

[2021-08-17 14:38] EverlastingBugstopper commented on #512
Closed by #726

[2021-08-17 14:38] #512 closed, assigned to EverlastingBugstopper

[2021-08-17 14:47] EverlastingBugstopper commented on #729
Yeah @setchy - this is a known issue unfortunately. We introduced the `--convert` flag specifically to help people from accidentally converting a non-federated graph to a federated graph as there is no real way to reverse this. Unfortunately it also had the unintended side effect of giving a confusing error message when a variant doesn't exist!

I believe that what you're referring to is tracked i

[2021-08-17 14:53] setchy commented on #729
Thanks @EverlastingBugstopper - I've used the `--convert` flag to create the new variants.

#661 does cover the second part of my feedback.  Couldn't see a specific ticket for the first part (ie: error on the `rover subgraph check DummyManagedGraph@missingVariantName`)

[2021-08-17 19:17] #737 closed, assigned to EverlastingBugstopper

[2021-08-17 19:33] #728 closed, assigned to lrlna

[2021-08-17 20:08] #693 closed, assigned to EverlastingBugstopper

[2021-08-17 20:23] EverlastingBugstopper commented on #729
Ah! Yes the variant checking should definitely be happening prior to checking for if it's a federated graph or not. We'll be sure to fix that as part of this issue.

[2021-08-17 20:56] EverlastingBugstopper commented on #454
I'm told this will require some design and changes to the Studio API so I'll label this as blocked for the time being.

[2021-08-17 21:11] EverlastingBugstopper commented on #453
Just talking about `rover graph create` for a moment, this is what the current graph creation modal looks like in Studio:

![image](https://user-images.githubusercontent.com/9408157/129797273-90c4d1a4-32b1-4643-aa2f-320124b569b0.png)

Rover operates primarily on the Graph ID and not the Graph title whereas in Studio this is reversed.

Furthermore, the graph creation modal currently makes you pick

[2021-08-18 08:46] lrlna commented on #728
@stephenh @ericf89 the fix will be part of our next release. I can ping you once it's out.

[2021-08-18 09:52] abernix commented on #733
Btw, it occurred to me after looking at the commands in your original issue again that you weren't passing the `-ti` or any combination of the `-a` arguments to `docker run` (see [full reference here](https://docs.docker.com/engine/reference/commandline/run/#options)), which very likely contributed to this since the default mode for Docker is to not allocate a TTY or attach to standard file descri

[2021-08-18 10:33] cyberhck commented on #733
I did pass a `-t` though, initially I tried with `-it` but that wouldn't work (can't be interactive), then I started using `-t`, the broken pipe issue was solved, but it still wouldn't pass to stdin for rover, it's okay though, I've done piping inside the docker container and is running on our systems :)

[2021-08-18 11:42] Adam-Burke opened #745 "Github actions schema check - error[E003]: Invalid header value"
## Description

Rover cli error on github actions using command

`pnpx rover graph check ligrsys@production --schema ./packages/api/dist/schema.gql --log debug
`
### Steps to reproduce

Github actions step

      - name: Run check against prod schema
        run: |
          pnpx rover graph check ligrsys@production --schema ./packages/api/dist/schema.gql --log debug

### Expected result

Request

[2021-08-18 11:53] Adam-Burke commented on #745
It works fine on my local mac if that helps at all.

[2021-08-18 14:19] EverlastingBugstopper commented on #745
Hey @Adam-Burke - thanks for the report, that's super strange!

I wonder if there's something strange about your API key - perhaps we've generated one that doesn't play nicely w/Rover for some reason. I don't believe any other headers we're sending should give you issues (though I could be wrong!)

Would you mind attempting some other commands as well? Perhaps `rover config whoami` from GitHub Act

[2021-08-18 18:06] ericf89 commented on #728
Thanks for the quick turn around @lrlna!

[2021-08-18 21:49] EverlastingBugstopper commented on #722
Hey @AndreyIlyunin - we're doing some thinking around graph provisioning w/Rover as it's something we've wanted internally as well (see #453)

I've created some preliminary flowcharts for two possible commands `rover graph create` and `rover graph delete` that primarily operate on creating and deleting individual variants.

The two flowcharts are here and should be public, if you have any feedback

[2021-08-18 22:32] prasek commented on #722
@AndreyIlyunin if this is a common use case, one possible optimization re: (3) above:

what about something like this instead?
`rover supergraph publish my-graph@ci --config supergraph.yaml` which took a [config yaml](https://www.apollographql.com/docs/rover/supergraphs/#configuration) similar to `rover supergraph compose`

[code]

this would also clear up confusion around having to the use `--con

[2021-08-18 22:55] AndreyIlyunin commented on #722
Hi @EverlastingBugstopper

Actually, this is what we are looking for. Thanks!

Just to clarify, as it seems a bit tricky from the comments around the new variant creation flow,
If this is the way you are going to implement this:
[code]
it will work for us.

What about `$ rover graph delete graph@staging-1 --force` - it is just required to keep the studio clean, without stale variants that contain

[2021-08-18 23:09] AndreyIlyunin commented on #722
Yep. The single command is the most attractive format for working with variants from the CI.
Not sure about the configs with the list, as it looks just like the same replacement for the `serviceList`, but if this will opens for us the way to create new variants by providing a name and also will hook the gateway supergraph schema updates on deploy - this is definitely a must-try option instead of i

[2021-08-19 06:11] Adam-Burke commented on #745
@EverlastingBugstopper yeah changing the key seems to have fixed it. I thought I tried that but probably had something else wrong at the time.

Thanks for the help!

[2021-08-19 06:11] #745 closed, assigned to EverlastingBugstopper

[2021-08-19 17:28] EverlastingBugstopper commented on #360
This needs changes to the Studio API - I've labelled as blocked.

[2021-08-19 18:01] EverlastingBugstopper opened #746 "add `cargo update` to `cargo xtask prep`"
this will help us keep our dependencies up to date when we're cutting a new release

[2021-08-19 18:17] #746 closed, assigned to EverlastingBugstopper

[2021-08-19 18:27] EverlastingBugstopper opened #748 "`rover config whoami` is returning 500 errors on `main`"
Not sure why, will investigate. It looks like we might not be propagating query variables properly.

[2021-08-20 16:38] abernix commented on #722
I'm not against the other proposed options here but I like the way that `create` and `delete` compliment each other and are clear in their naming.

They are small and intuitive building blocks!

[2021-08-20 16:43] #748 closed, assigned to EverlastingBugstopper

[2021-08-20 18:07] #708 closed, assigned to EverlastingBugstopper

[2021-08-23 16:22] #741 closed, assigned to EverlastingBugstopper

[2021-08-23 20:16] EverlastingBugstopper commented on #722
I think the best way forward here is going to be to create the `graph create` and `graph delete` commands first. Then when it comes time to address #698 and we introduce `supergraph publish`, we can re-use the logic and semantics we use for `graph create` and `graph delete` to ensure a consistent experience.

[2021-08-24 05:16] mziwisky commented on #670
thanks @EverlastingBugstopper, looks like this is fixed, in that commands no longer fail in the context of an unexpected git remote URL, but it does still spit out the error message:

[code]

[2021-08-24 07:15] abernix commented on #722
@EverlastingBugstopper I support that.  In the future step, I suspect we may want to have first-class support in some of the APIs for doing this _more_ atomically within a single larger command (if we don't have that today?), but I still believe that comes as a subsequent step.

@prasek Are you okay with this as an initial stone-paving step?

[2021-08-24 16:00] sjungling opened #759 "Introspection Query operation name change"
### Problem
It looks like with the recent 0.2.0 release (?) there was a [change](https://github.com/apollographql/rover/pull/557/files#diff-bb0e38eea6681aacfa087724821763f9d8090eeb15813192d8b5351b4dceecc9) in the `Query` name from `IntrospectionQuery` ([which appears to have originated from GraphQL.js](https://github.com/graphql/graphql-js/blob/bf26a52257cc47513d8a0bd8219c57c8fd279d4a/src/utilitie

[2021-08-24 19:18] EverlastingBugstopper commented on #759
Hey @sjungling, thanks for the report, I appreciate you letting us know that your workflow was impacted by the latest release.

For a bit of context: we don't promise any sort of stability with our operation names - they are subject to change at any time. In this scenario the rename was part of a bulk rename in order to make it easier to reason about the different GraphQL operations Rover sends ou

[2021-08-24 19:35] EverlastingBugstopper commented on #694
This seems to actually be a duplicate issue regardless, closing this and I'll link to it in the other issue.

[2021-08-24 19:36] sjungling commented on #759
@EverlastingBugstopper thanks for the reply. Completely understand not guaranteeing stability in operation names and the context for why the change was made. Good call on validation of the contents of the query as well as the operation name (or just _not_ doing that and switching to headers).

[2021-08-24 19:36] #759 closed, assigned to nobody

[2021-08-24 19:36] EverlastingBugstopper commented on #357
See other discussion: https://github.com/apollographql/rover/issues/694

[2021-08-24 21:41] EverlastingBugstopper commented on #670
Ah! That's unfortunate - I wrote a test to make sure it didn't panic, but never tested things end to end (clearly!) I have a fix for this in [this PR](https://github.com/apollographql/rover/pull/760) that no longer prints the crash message to your terminal - it will be included in the next release, thanks for the report!

[2021-08-25 02:26] zionts commented on #577
I just ran into this again this week when trying to help out a customer and also when trying to make changes to acephei for demo reasons. I can work around this by "stealing" a key, but I do think it'd be nice for the changelog to have the correct actor in the history when support intervenes.

[2021-08-25 06:07] abernix commented on #759
Just to follow up on this with an example of how we make introspection a toggle-able preference in Apollo Server, you can see the `NoIntrospection` validation rule that we invoke on operations [here in the Apollo Server code](https://github.com/apollographql/apollo-server/blob/69df6bf8085c4bc86c5cce572e2764d71b121b4c/packages/apollo-server-core/src/ApolloServer.ts#L56-L67).

[2021-08-25 14:50] zionts opened #761 "[Subgraph Publish] unclear error when handling invalid GraphQL document"
## Description

When running a subgraph publish with an invalid schema (in my case an accidentally capitalized keyword `Type` instead of `type`), the error returned leaks information about the API response and does not help to resolve my problem

### Steps to reproduce

Create a new graph in Studio, publish a new subgraph to the `current` variant using a schema that is not valid and you'll see the

[2021-08-25 16:50] EverlastingBugstopper commented on #761
@zionts I believe this is due to breaking changes made in the API - I'm not 100% sure but I believe this may be resolved in the latest version of Rover v0.2.0

[2021-08-25 23:25] theJC opened #764 "Squelch npx console warns surrounding glibc and musl"
## Description

Allow a mechanism to not output the glibc/musl warnings to console when running rover via the npx mechanism.

We are aware of these concerns, but it only pertain the compose supergraph command, which our CICD pipelines do not use and the additional noise in CICD logs has caused misdiagnosis and confusion by our teams who are using it (our base docker image used in our CICD pipeline

[2021-08-26 20:32] EverlastingBugstopper commented on #722
I think there are maybe a few issues we'll need to address as part of this approach:

1) `rover graph publish this-graph-exists@this-variant-does-not-yet-exist` will create a new variant
1) `rover subgraph publish this-graph-exists@this-variant-does-not-yet-exist` will create a new variant only if the `--convert` flag is passed (see #661)
1) There currently isn't a way in Apollo's API to create a

[2021-08-27 08:28] abernix commented on #720
Possibly! I guess on macOS this might require users to add it to their System Keychain.  That might be fine, but also might be difficult if the certificate they merely want to support is, for example, checked into a repository.  (I'm not sure if this is common, nor am I sure it's particuarly insecure for particular users' cases.)

(Or if they _want_ it to be a transient / non-permanent thing)

[2021-08-27 17:47] #577 closed, assigned to EverlastingBugstopper

[2021-08-29 02:37] isaacewing opened #766 "bug: build errors are encountered during `supergraph compose`, but their length is somehow zero"
Structure is a federated gateway using the latest package versions

## Description
When I run the script in package.json, it crashes, it only happens when I run a "special" server called helper which contains misc enum types in a graphql file

supergraph.yaml file (includes first and last portions, all are the same format, only that "helper" one is what causes it to crash)
subgraphs:
    about

[2021-08-29 18:13] isaacewing commented on #766
Problem solved...

This error occurs with the following conditions:
1.) GraphQL is structured as a federated gateway
2.) YAML file declares all subgraphs
3.) Package.json file (or similar) runs all subgraphs concurrently and generates the supergraph.graphql file
- - - -
4.) The error occurs if any of the type/input/fragment/enum/other does not correctly mimic the separation of concerns methodology

[2021-08-30 16:14] EverlastingBugstopper commented on #766
Hi @isaacewing - thanks for the report! I'm going to reopen this issue as the error message ~you reported~ you encountered (and we coded) is not particularly helpful.

[2021-08-30 16:17] isaacewing commented on #766
@EverlastingBugstopper That's the message it gives me... is there more you want me to copy to make it more helpful...

[2021-08-30 16:17] EverlastingBugstopper commented on #766
Oh no! Your bug report is perfect - the problem is the code we have written. You've encountered an error message that is not helpful _to you_ and we'd like to improve that!

[2021-08-30 16:40] #670 closed, assigned to EverlastingBugstopper

[2021-08-30 16:52] EverlastingBugstopper opened #774 "Migrate tests/lints from GitHub Actions to CircleCI"
This will provide the following benefits:

1) Access to beefier machines means faster builds
1) We use CircleCI for almost all other Apollo projects
1) We can use build images that are better for building for older versions of `glibc` (we're thinking Centos 7)

[2021-08-31 14:35] EverlastingBugstopper commented on #722
Hey @jsegaran or @zionts - does the approach I have outlined in no. 3 in that last comment make any sense? Are there any pitfalls I should be aware of if we start out a new variant based on `current`?

[2021-08-31 14:55] ndintenfass commented on #722
The history of a variant created this way may be kinda janky. If `current` were federated would that also mean we'd copy it's subgraphs? Or would you manually grab the api schema and publish just that (which could end up being a strange state)? Would you also copy the query URL associated with `current`?

[2021-08-31 16:09] EverlastingBugstopper commented on #722
yeah this was something I had considered but thought it _might_ be fine if Apollo's `current` was associated w/git's `main` branch, but that's a pretty loaded assumption.

This is also somewhat strange, especially since graphs themselves can contain multiple federated variants _and_ multiple unfederated variants. Ideally you'd be able to `graph new` and then _either_ `subgraph publish` _or_ `graph

[2021-08-31 16:10] EverlastingBugstopper commented on #453
closing this as a duplicate of #722

[2021-08-31 16:10] #453 closed, assigned to nobody

[2021-09-01 15:02] abernix commented on #357
Closing as a duplicate of #694.  #694 seems to have more content, so I'll prefer that.

[2021-09-01 15:02] #357 closed, assigned to nobody

[2021-09-01 16:13] joeynenni commented on #720
@EverlastingBugstopper Adding the cert is non-trivial and something we want to avoid if possible. Our current development environment does require us to use `--insecure` for much of the local testing. Asking teams to use the old version of Apollo CLI mixed with rover is a bit awkward, any ideas if this feature will happen? Thanks!

[2021-09-01 18:32] glasser opened #783 "Improve errors and messages when you haven't configured auth at all"
I think this error could be better when you have no auth set up:

[code]

I see it was improved as part of https://github.com/apollographql/rover/issues/127. And yeah, in a world where you *do* have a profile but it’s not named `default`, that “try running” suggestion seems great.

But if the issue is that this is your first time using `rover` and you’ve never done anything auth-y, then it feels w

[2021-09-01 19:16] lennyburdette opened #784 "Port over `apollo service:download` (introspection json from Studio)"
## Description

`rover graph fetch` returns the SDL from Studio, while `rover graph introspect` returns the introspection result from a running server. Could we get a version that returns the inspection result from Studio?

Possibly:
[code]
or
[code]

The use case is needing the introspection result for a codegen tool, but the server has introspection disabled.

[2021-09-10 19:38] theJC opened #790 "Enhance exponential backoff retries for HTTP requests to work for connectivity issues"
## Description

In #693 HTTP retries with backoff were added, but appear to only be for when a response is received and its an internal error (based on the release notes, haven't found any other documentation yet)

Please expand this capability to retry on connection failures or timeouts.

Bonus points/stretch goal would be to add command line arguments to control the number of requests and timing

[2021-09-12 15:21] Cellule opened #792 "graph check: operation timed out"
## Description

When running `rover graph check` against a graph with lots of metrics, the CLI times out.
I could however confirm the check completed and shown relevant errors on the website.
I tried reducing the `validation-period` to 1 week and it then worked as expected.
We are currently using the now deprecated `apollo schema:check` which works for the same validation period

### Steps to repr

[2021-09-13 14:14] Nicoowr commented on #766
It'd be awesome if the error could point to which external type was used :)

[2021-09-13 16:53] EverlastingBugstopper opened #795 "Migrate release process from GH Actions to Circle CI"
This should build upon the work done in #781 and remove `.github/workflows/release.yml` and put that functionality in `.circleci/config.yml`

[2021-09-13 17:56] #774 closed, assigned to EverlastingBugstopper

[2021-09-13 21:05] rodneykeeling commented on #792
My team is also experiencing this issue. I tried submitting a support request to Apollo but received a 500 error when doing so.

[2021-09-14 14:13] EverlastingBugstopper opened #801 "update harmonizer (breaking change)"
breaking change, anybody using rover after this dep is updated will need to their gateway to at least [v0.39.0](https://github.com/apollographql/federation/blob/main/gateway-js/CHANGELOG.md#v0390
). when this is updated we will advertise the breaking change in the changelog.

should likely add something to the docs as well. cc @StephenBarlow

[2021-09-14 15:58] prasek commented on #722
`rover supergraph publish my-graph@ci --config supergraph.yaml --ensureNewGraphRef`

Not sure about the configs with the list, as it looks just like the same replacement for the serviceList, but if this will opens for us the way to create new variants by providing a name and also will hook the gateway supergraph schema updates on deploy - this is definitely a must-try option instead of if/else con

[2021-09-14 20:15] gfviegas commented on #615
Just bumped with the same issue @thijsdaniels mentioned initially: API key protected APIs.
Is there any workaround until the header options is supported?

Thanks

[2021-09-15 07:42] thijsdaniels commented on #615
@gfviegas You could download each of the subgraph's schemas using the `introspect` command, which _does_ support the `--header` option, and then use the `subgraph compose` command on those downloaded schemas. I haven't tested this, but as far as I can tell it should work just fine.

[2021-09-15 12:41] abernix commented on #722
@prasek: Reading the above, I'm understanding that @EverlastingBugstopper already followed up on the approach you quoted, noting its faults: `create` on its own is problematic (empty graph content) and `supergraph publish` needs API changes (to support the creation).

I believe at this point we're at the point of needing API changes to proceed.  I don't think those API changes for `supergraph publ

[2021-09-15 12:51] abernix commented on #615
@thijsdaniels' suggestion should indeed work (thanks for offering that up!) though I agree there's an evolution of the configuration format that could offer this as well.  I'd suggest going with the `rover subgraph introspect http://endpoint --header` option for now though, as it'd be some time before we had this ready.

[2021-09-15 20:54] jmgaitan06 opened #814 "apollo supergraph from folder"
I have a go application that uses ent and graphql and I want to merge different graphql files into one using apollo rover but I don't want to list all the names of these files, how can I read these files from a specific folder?

[2021-09-16 19:22] AdrianMolero opened #815 "Bug when consuming a graphql from a url"
## Description

According to the documentation:
https://www.apollographql.com/docs/federation/quickstart/#1-install-the-rover-cli

I base on the part where they talk about the file configuration in yaml and I use the one based on schema: subgraph_url and I put my public graphql, for practical purposes I try to use the example of the following page: https://rickandmortyapi.com/graphql

when I run r

[2021-09-16 19:56] EverlastingBugstopper commented on #815
Hey @AdrianMolero - thanks for the report. It seems like this might be the case because you haven't included the protocol for the API. I imagine if you replaced rickandmortyapi.com/graphql with https://rickandmortyapi.com/graphql you might have better luck.

Let me know if this helps!

[2021-09-16 20:13] AdrianMolero commented on #815
Thanks @EverlastingBugstopper  - in the reported case I am already using the URL with the mentioned protocol.

[2021-09-16 20:28] EverlastingBugstopper commented on #815
OK! Could you please re-run the command with the `--log debug` flag and paste the full results, along with your full configuration YAML?

[2021-09-16 20:34] AdrianMolero commented on #815
[code]

and de yaml configuration is:

[code]

[2021-09-17 22:49] #795 closed, assigned to EverlastingBugstopper

[2021-09-20 17:34] EverlastingBugstopper opened #828 "release: v0.2.1"
should include everything that's been merged since v0.2.0

[2021-09-20 17:35] EverlastingBugstopper opened #829 "release: v0.3.0"
this should happen after release v0.2.1 is complete (see #828), and after #801 has been documented and merged.

[2021-09-20 18:55] #828 closed, assigned to EverlastingBugstopper

[2021-09-20 19:40] EverlastingBugstopper commented on #670
Hey @mziwisky - this has been patched in v0.2.1 😄

[2021-09-21 14:58] antiqe commented on #792
We experiment the same issue in our organisation, it seem to be linked to the size of the schema and the number of operations.

[2021-09-21 15:52] EverlastingBugstopper commented on #815
Ah! I see the problem now. It looks like the Rick and Morty API you're referring to here is not compliant with the subgraph specification outlined [here](https://www.apollographql.com/docs/federation/subgraphs/). In order to compose a supergraph from multiple subgraphs, they must be defined as a subgraph rather than a regular graph.

You can use `rover graph introspect` on your Rick and Morty endp

[2021-09-21 17:19] rob-grio opened #835 "Operation timed out sending request for schema check"
## Description

We're trying to do a schema check in CircleCI; however, we're getting timeouts trying to reach Apollo's endpoint. The error tells us to submit an issue here:

[code]

### Steps to reproduce

1. Add your `APOLLO_KEY` environment variable to your CircleCI project settings (we did this in the CircleCI web UI).
2. Add a schema check job to your `.circleci/config.yml` file (I've tried t

[2021-09-21 17:20] EverlastingBugstopper opened #836 "docs: document proxy environment variable usage"
According to the [`reqwest` documentation](https://docs.rs/reqwest/0.11.4/reqwest/#proxies), it will automatically detect and support the `HTTP_PROXY`, `HTTPS_PROXY`, and `NO_PROXY` environment variables.

Rover's documentation should be updated with a new section explaining how to use Rover with a proxy. This documentation should then be linked to from the migration guide along with an example sh

[2021-09-21 17:24] EverlastingBugstopper commented on #835
Hi @rob-grio, thanks for the report. I'm going to close this issue as a duplicate of #834 as this is due to an ongoing incident affecting performance of the Apollo Studio API. You can follow along with the status of the incident [here](https://status.apollographql.com/).

[2021-09-21 17:24] #835 closed, assigned to nobody

[2021-09-21 17:25] EverlastingBugstopper commented on #792
Hi all - I'm going to close this issue as a duplicate of #834 as this is due to an ongoing incident affecting performance of the Apollo Studio API. You can follow along with the status of the incident [here](https://status.apollographql.com/).

[2021-09-21 17:28] EverlastingBugstopper commented on #792
Sorry for closing this! This actually does seem to be unrelated to the current incident outlined in #834 - this is more due to the size of the query you're making as @antiqe calls out.

One thing I could see us doing to fix this is to split the requests for operations up into 1-week chunks and perform them all in parallel.

[2021-09-21 17:31] Cellule commented on #792
Would it be possible to provide a  --timeout cli argument as well to wait longer for a request?
Of course doing the work in parallel/faster would be awesome, but having more flexibility on a timeout for the cli would be beneficial. Especially since it seems the request does not time out on the server as the results are available later online.

[2021-09-21 19:05] EverlastingBugstopper commented on #720
I've opened a [pull request](https://github.com/apollographql/rover/pull/837) that adds this capability in case anybody wants to take a look.

[2021-09-21 19:06] EverlastingBugstopper commented on #792
I've opened a [pull request](https://github.com/apollographql/rover/pull/838) that allows configuration of the timeout if you'd like to take a look 😄

[2021-09-22 18:16] busches commented on #792
We're running into the same thing, but even at just one week. It will sometimes pass, but failing more often than it's passing right now.

[2021-09-22 19:41] busches opened #839 "Rover subgraph check --output markdown"
## Description

We are currently migrating from the `apollo` CLI to the new `rover` CLI and we use the `--markdown` option of `apollo service:check` to send comments back to GitHub. I didn't see an issue tracking this feature request, outside the documentation saying it's not ready yet. https://www.apollographql.com/docs/rover/migration/#machine-readable-output

Old command for reference: https://

[2021-09-22 19:46] EverlastingBugstopper commented on #839
Hey @busches - thanks for the report. It looks like the docs you linked here are actually a bit out of date as we do have support for `--output json` (though still no `--output markdown`).

I'm going to update the docs to point this out - there aren't any plans to include `--output markdown` but if there's enough interest we'll prioritize.

For now, I'd try `--output json` out for a spin and see i

[2021-09-22 20:53] busches commented on #839
We did try JSON, but the plain output for now is much easier to read, but formatted poorly, since the text table isn't a markdown table.

Hopefully the interest is there, otherwise if someone submitted a PR adding it, would you be open to it?

[2021-09-22 21:27] EverlastingBugstopper opened #841 "docs: add example output for rover commands"
Our docs contain a lot of example commands that can be run, but not much info about the data they return (which is a critical portion!) We should update instances of our command invocations to include Rover output.

[2021-09-22 22:32] EverlastingBugstopper commented on #839
Have you tried piping to `jq` to just get portions of the data you need? I have [a gist of a bash script](https://gist.github.com/EverlastingBugstopper/d6aa0d9a49bcf39f2df53e1cfb9bb88a) you could use to get what you're looking for if you're interested.

Sure - I'd love to help with contributions. I will say that this is likely a semi-large undertaking as we'd need to add support for `--output mark

[2021-09-23 04:35] davingee opened #842 "bug: pipe error"
## Description
Describe the issue that you're seeing.

**Crash Report**
[code]

[2021-09-23 14:42] busches commented on #839
@EverlastingBugstopper We'll give that gist a run through, likely will do everything we want. 🎉  Probably should share that more broadly :)

[2021-09-23 18:15] EverlastingBugstopper opened #843 "feat: support `--output markdown`"
In addition to `--output plain` and `--output json`, Rover should have an `--output markdown` option that prints Rover's results in well-formatted markdown that can be used in pipelines that post comments to GitHub or other tools.

For now we recommend that folks use `--output json` and pipe to `jq` to create their own custom scripts. One such script can be found in [this gist](gstopper/d6aa0d9a49

[2021-09-23 18:16] EverlastingBugstopper commented on #839
I've added the gist to both our migration guide docs and in the `--output json` section of the docs in #840 and also opened a new issue to track `--output markdown` across all commands in #843

[2021-09-23 19:55] EverlastingBugstopper opened #844 "chore: wrap Client with our own builder"
as suggested by @o0Ignition0o in [this comment](https://github.com/apollographql/rover/pull/838#discussion_r714704765)

[2021-09-23 20:41] #720 closed, assigned to EverlastingBugstopper

[2021-09-23 20:55] #792 closed, assigned to EverlastingBugstopper

[2021-09-24 16:02] #801 closed, assigned to EverlastingBugstopper

[2021-09-24 16:36] #839 closed, assigned to EverlastingBugstopper

[2021-09-24 16:40] AdrianMolero commented on #815
thank you very much for your help, I will continue testing the solution with the recommendations that you indicate me

[2021-09-24 16:41] #815 closed, assigned to nobody

[2021-09-24 17:21] EverlastingBugstopper commented on #720
cc @joeynenni and @ZachGoldberg - Rover v0.3.0 is out today which includes flags for disabling hostname validation and/or certificate validation

[2021-09-24 17:23] EverlastingBugstopper commented on #842
Hi @davingee - thanks for the report.

I'm not sure what you were trying to do here, but if I had to guess I'd imagine you were trying to pipe one rover command to another. The first command (to the left of the `|`) likely failed, and when this happened, your shell didn't exit and passed something illegible (or nothing at all) to the second command (to the right of the `|`). To debug this I'd reco

[2021-09-24 20:48] #829 closed, assigned to EverlastingBugstopper

[2021-09-24 22:07] joeynenni commented on #720
This is great, thank you @EverlastingBugstopper!

[2021-09-29 18:27] tim-trisnadhama opened #852 "400 Bad Request"
## Description

Hi, I m trying to convert our gateway to use supergraphSDL instead of the serviceList solution. When I ran my subgraph (verified it in playground), and ran the command
`APOLLO_TELEMETRY_DISABLED=1 rover subgraph introspect http://localhost:8081/graphql --log trace`,

i got this error
[code]

[2021-09-29 18:38] EverlastingBugstopper commented on #852
Hey @tim-trisnadhama - thanks for the report. `subgraph introspect` performs a separate introspection query than you might be used to. Is it possible that you're expecting to make a regular introspection request? If so, you might want to run `rover graph introspect` instead.

If not, and you expect your service to respond to subgraph introspection requests properly, would you mind pasting the log

[2021-09-29 18:46] EverlastingBugstopper commented on #722
After thinking about this a bit more, I have a new proposal that should be a bit less work for us and doesn't require Gravity to make any changes.

1. Don't require people to pass `--convert` when running `subgraph publish` on a graph whose variant does not exist
1. When `subgraph publish` or `graph publish` is run on a variant that does not exist, print a message to `stderr` informing the user th

[2021-09-29 20:15] tim-trisnadhama commented on #852
Hi @EverlastingBugstopper ,

Here is the log
[code]

So i tried using previous version (0.1.0) and it works fine
![image](https://user-images.githubusercontent.com/77118191/135341855-985d0103-c802-4c87-93f4-d69de6b332a2.png)

[2021-09-29 21:01] EverlastingBugstopper commented on #852
That's super strange! I did some sleuthing and found a _few_ small changes to the schema/query pairing we send on that command but they only seem cosmetic (we renamed the query and added some comments for our linters).

<table>
<tr>
<td> </td>
<td>

## [v0.1.0](https://github.com/apollographql/rover/tree/v0.1.0/crates/rover-client/src/query/subgraph)

</td>
<td>

## [v0.3.0](https://github.com/apo

[2021-09-30 03:06] tim-trisnadhama commented on #852
Hi, sorry, here is for the `rover subgraph`
[code]

[2021-09-30 03:12] tim-trisnadhama commented on #852
I think i may have found the issue, you are right, i did run the query
[code]

and got everything, but that is only when i provide our custom header value, my bad! we whitelisted `IntrospectionQuery` but didnt whitelist `SubgraphIntrospectQuery`.. Didnt know apollo made another one to introspect queries! Thank you very much! Very much helpful!

[2021-09-30 03:12] #852 closed, assigned to nobody

[2021-09-30 03:25] tim-trisnadhama commented on #852
but for the future, can you please make it so that the error also outputs the message?

[2021-09-30 10:58] ru4ert opened #855 "rover isn't found. Installed via Windows - PowerShell"
## Description

I tried to install rover via the command:
`iwr 'https://rover.apollo.dev/win/latest' | iex`
**Output:**
[code]

on my windows os. After, I tried this command.
`rover config auth`
**Output:**
[code]

### Steps to reproduce
I ran these two commands via the normal PowerShell.
`iwr 'https://rover.apollo.dev/win/latest' | iex`
`rover config auth`
### Expected result

Rover should be fou

[2021-09-30 14:35] EverlastingBugstopper commented on #852
Sure! So we actually don't really recommend whitelisting queries by name as it's a potential security problem. The reason it's a potential security problem is because someone could make a malicious query to get a bunch of data that they aren't authorized for if they just call the query they're making `IntrospectionQuery`. This whitelist approach only really works if you're also validating the cont

[2021-09-30 14:41] EverlastingBugstopper commented on #855
Hey @Rupert-com thanks for the report. I'm actually unable to reproduce this issue and we haven't changed our Windows installer since Rover was launched quite a while ago, so this is very strange!

A few things could help me try to debug this:

Does the file the installer says it downloaded actually exist at `C:\Users\ruper\.rover\bin\rover.exe`? If so, try running it like `C:\Users\ruper\.rover\b

[2021-09-30 15:13] ru4ert commented on #855
@EverlastingBugstopper
Hey again. I restarted my pc and it worked properly.
Most installations work without a restart. I thought this one too since the installation section is very small.

Thanks!

[2021-09-30 16:17] EverlastingBugstopper commented on #855
Yeah, that is quite strange that you needed a restart, that definitely shouldn't be necessary.

I'm going to leave this issue open in case anybody else encounters this issue and we can investigate further.

[2021-10-01 07:30] abhishek199-dhn commented on #855
I'm also having the same kind of issue but on Amazon Linux while publishing the schema.

Runtime - python' runtime version '3.9
Amazon Linux 2 x86_64 standard:3.0

**Error log:**

[Container] 2021/10/01 07:22:14 Entering phase BUILD

[Container] 2021/10/01 07:22:14 Running command curl -sSL https://rover.apollo.dev/nix/latest \| sh
curl: (60) SSL certificate problem: certificate has expired
More d

[2021-10-01 12:00] ivaylo-andonov opened #904 "Rover syntax error when try to execute rover cli tool from package.json script"
Following the official **Rover CLI** docs about installing rover as a dev dependency in order to compose the supergraph and pass it to the Apollo Gateway https://www.apollographql.com/docs/rover/getting-started/#npm-installer we are hitting some internal binary syntax error coming from `rover` package when any rover command is executed from package.json of the container ( nodejs server ) :

[code]

[2021-10-01 14:03] EverlastingBugstopper commented on #855
edit: i've moved my comment [here](https://github.com/apollographql/rover/issues/856#issuecomment-932334372) since it's unrelated to this one

[2021-10-01 15:33] EverlastingBugstopper opened #856 "curl: (60) SSL certificate problem: certificate has expired"
_Originally posted by @abhishek199-dhn in https://github.com/apollographql/rover/issues/855#issuecomment-931980574_

[2021-10-01 15:34] EverlastingBugstopper commented on #856
That seems like a different issue related to SSL certificate validation and I _think_ this is going to be something you'll have to fix on your machine since you are unable to even download the installation script.

My guess is that this is related to the recent CA certificate expiry woes that are well documented in [this post](https://nakedsecurity.sophos.com/2020/06/02/the-mystery-of-the-expiring

[2021-10-01 16:03] EverlastingBugstopper commented on #856
@abhishek199-dhn I found [this article](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-expired-certificate/) on how to fix this for Amazon Linux 2 - hopefully this helps!

[2021-10-04 08:48] abhishek199-dhn commented on #856
I will check the link. Thanks for the article link @EverlastingBugstopper.

[2021-10-04 11:18] lrlna opened #859 "sdl-encoder: adjust encoder to the current draft spec"
## Description

`sdl-encoder` does not yet including encodings for recent features in the [current graphql draft spec](https://spec.graphql.org/draft). We should make adjustments to certain definitions, like adding `repeatable` implementation to `directive` definition.

Once definitions are adjusted, they can be added in [`schema.rs` parsing](https://github.com/apollographql/rover/blob/main/crates

[2021-10-05 21:19] Miaxos commented on #814
You could create your `config.yml` with a script which will read files from folder and generate the input.

Little example for your use case a script `generate_config.sh`:
[code]

and you run `./generate_config.sh *.graphql config.yml` it'll generate a config file you can use for composing your supergraph.

[2021-10-06 09:39] m-v-k opened #862 "installer conflict with pipeline variables"
## Description

When installing rover cli in a bash script in my pipeline with version set to latest;
(also happens when version set to any explicit version, e.g. v0.3.0)
[code]

it outputs;

[code]

Notice the wrong version number (should be v0.3.0). The valueof 0.4.396 is the value of one of the pipeline variables; $VERSION
so there seems to be a conflict there.

### Steps to reproduce

1. in a

[2021-10-07 05:20] mziwisky commented on #582
I needed to be able to cross-compile to arm64 from an x86 machine, and the info here was an invaluable jumping off point.  I ultimately put together a dockerized build like this:

`Dockerfile`
[code]

With that, you can build the binary and copy it out of the container:
[code]

[2021-10-07 16:40] EverlastingBugstopper commented on #862
You should be able to workaround this issue with the `env` command, which should work in any POSIX compatible shell. - if you run this command instead, it should work as expected:

[code]

We likely should have used the `ROVER_VERSION` environment variable instead of `VERSION` in order to prevent conflicts like this but I'm afraid if we change it now we may break installation in pipelines where pe

[2021-10-08 08:56] m-v-k commented on #862
thank you for the quick reply,
i had a workaround already, but yours is better, thanks!

just saying, if i follow your documentation, i get this conflict.
the documentation (ci/cd part) also states how to apply versioning in the install script, this does not mention a VERSION variable.
so besides changing its name so e.g. APOLLO_ROVER_VERSION or something, i suggest updating the docs as well. this

[2021-10-08 08:56] #862 closed, assigned to EverlastingBugstopper

[2021-10-08 14:24] EverlastingBugstopper opened #867 "chore: squash GraphQL API "non-nullable" errors if there is another error in the array"
Occasionally, the `errors` array returned from the Apollo Studio API will have a helpful error message followed by a not so helpful "Cannot return null for non-nullable field x.y.z". In these cases, we should only print the first helpful error, and move the second error message into the debug logs.

[2021-10-12 17:06] lennyburdette commented on #480
FYI I hacked together a simple script to demonstrate that creating the supergraph config needn't be a substantial barrier: https://github.com/apollosolutions/supergraph-config-create. I'll let y'all know if this script gets any traction as an argument for inclusion in rover proper.

[2021-10-14 15:00] AdrianMolero opened #875 "Error introspect graph with hearders"
According to the documentation:
https://www.apollographql.com/docs/rover/graphs/

I base on the part where they talk about how to send the Authorization header according to the following example:
rover graph introspect http://example.com/graphql --header "Authorization: Bearer token329r"

However, at the moment of executing the command I get the following error:

error: Invalid value for '--header

[2021-10-17 08:05] srolel commented on #615
@thijsdaniels could you please elaborate on that solution? from what I can see in 0.3.0, rover does not have a `subgraph compose` command.

[2021-10-18 16:13] chrskrchr opened #878 "SDL output from `rover graph introspect` doesn't include enum descriptions"
## Description

We're trying to use the Rover CLI in place ApolloServer's schema reporting for publishing our schema to Apollo's schema registry.  However, we're running into an issue where the SDL output of `rover graph introspect` doesn't appear to include the descriptions we've written for `enum` types in the schema.

### Steps to reproduce

Clear steps describing how to reproduce the issue. **

[2021-10-18 16:36] lrlna commented on #878
hi @chrskrchr ! Thanks for the report. This should be fixed once we land #879!

(also thank you so much for a whole repo with a reproduction 🙏 )

[2021-10-18 16:40] chrskrchr commented on #878
Awesome!  Thanks for fixing this so quickly.

[2021-10-19 16:23] #878 closed, assigned to nobody

[2021-10-20 13:42] chrskrchr opened #884 "SDL output from `rover graph output` has inconsistent leading whitespace on multiline comments"
## Description

When using `rover graph introspect` to introspect and print the schema SDL to stdout, multiline comments on nested fields are printed with inconsistent leading whitespace.  The first line of the multiline comment has two leading spaces as expected, but the subsequent lines are printed with no leading whitespace.  e.g.,:

[code]

### Steps to reproduce

1. Clone this repo: https://g

[2021-10-20 14:01] chrskrchr commented on #884
Some additional context - this whitespace inconsistency may not seem like a huge deal, but it's generating a bunch of unexpected schema diffs when checking a schema that was produced via `printSchema()` as described in the PR description against a schema that was published via `rover graph introspect | rover graph publish ... --schema -`.

[2021-10-21 04:42] hungcheng-houzz opened #885 "bug: crashed while <insert description here>"
## Description
Describe the issue that you're seeing.

**Crash Report**
[code]

[2021-10-22 08:10] lrlna commented on #884
Ahhh yea that definitely seems like a bug @chrskrchr ! Thanks for the report. This time around it will take me a bit longer to get to it. I'll aim to get you a fix early next week.

[2021-10-22 22:59] chrskrchr commented on #884
Thanks for the heads up!  Is there a way for us to consume the fix prior to the official [0.4.0](https://github.com/apollographql/rover/milestone/23) release?  (short of downloading and compiling our own binary)

[2021-10-25 16:20] #722 closed, assigned to nobody

[2021-10-26 12:37] o0Ignition0o commented on #844
Fixed thanks to @ptondereau 's super cool Pull request 😁

[2021-10-26 12:37] #844 closed, assigned to nobody

[2021-10-27 12:55] ptondereau commented on #867
Hello @EverlastingBugstopper I would like to pick this issue.
Do you have a schema to reproduce this stack of errors to test e2e with the Studio?
Thank you

[2021-10-27 15:56] EverlastingBugstopper commented on #867
not off the top of my head - going to cc @jsegaran and ~@ptondereau~ EDIT: realize i cc'd you when i meant to cc @pcarrier instead 😆

[2021-10-29 14:26] ptondereau commented on #790
@abernix I would like to pick the issue, but I'm seeing that you're assigned to it.
May I propose something?

[2021-10-29 14:45] EverlastingBugstopper commented on #885
hey @hungcheng-houzz, thanks for the report! I'm going to close this as a duplicate of #842. my response to you is the same as the response I made on that issue [here](https://github.com/apollographql/rover/issues/842#issuecomment-926798284) - if you have more info about your situation and cannot figure out what's going wrong based on the troubleshooting there, please comment on that issue.

[2021-10-29 14:45] #885 closed, assigned to nobody

[2021-10-29 21:45] ThePlenkov opened #899 "Cannot install behind a corporate proxy"
Hi! I'm trying to install this module using `npm i --save-dev @apollo/rover` and I have this:

[code]

Debug indicates that it's 100% a proxy issue. We have HTTP_PROXY and HTTPS_PROXY variables maintained..  It looks like issue is inherited from binary-install module. The possible solution may be to maintain a global https agent in install.js.

[2021-11-01 12:04] ThePlenkov commented on #899
what is more interesting - previous apollo and apollo-codegen didn't have this issue.

[2021-11-01 16:26] EverlastingBugstopper commented on #899
Hmmm - this looks like something that will need to be fixed in [binary-install](https://github.com/EverlastingBugstopper/binary-install) - for now you might try installing with the `curl | sh` installer instead, that one shouldn't have any problems.

[2021-11-02 03:12] zhenwei12138 opened #902 "bug: crashed while rover supergraph compose --config ./supergraph.yaml > supergraph.graphql"
## Description
Describe the issue that you're seeing.

**Crash Report**
[code]

[2021-11-02 10:33] abernix commented on #899
As a work-around, I wonder if something like this works in your environment, through the use of the [`global-agent` npm package](https://npm.im/global-agent)?:

[code]

I haven't tested, but in theory, this might work, assuming [`node-options`](https://docs.npmjs.com/cli/v7/using-npm/config#node-options) are passed through to the invocation of `npm` within Node.js and affects the agent `npm` itsel

[2021-11-02 10:34] abernix commented on #899
Hmm, on the other hand, there's also the built-in option [`https-proxy`](https://docs.npmjs.com/cli/v7/using-npm/config#https-proxy) and it's possible that should be inherited by `binary-install` if it's already set for npm itself?

[2021-11-02 19:17] rwilcox commented on #899
Here's a question from where I sit behind a proxy / firewall at $SOON_TO_BE_FORMER_DAY_JOB_JUST_WAIT_TWO_WEEKS : we've had scenarios where the proxy blocks access to certain sites, including sites where some process inside `npm install` was going to retrieve extra supporting libraries. (Like we see here with npm downloading the rover binaries.)

Would an interesting workaround for this issue be to

[2021-11-03 09:50] pcmanus commented on #904
Took the liberty to transfer to the rover repository as it's more likely to get attention there.

[2021-11-03 12:17] abernix opened #909 "Run plugin tests and lints in xtask"

[2021-11-03 16:42] chrskrchr commented on #884
@lrlna - do you have an ETA on a fix for this issue?

[2021-11-04 17:03] lennyburdette opened #912 "Add support for Node 16 in NPM installer"
## Description

Please add support for Node 16 in the package.json of the NPM installer:

https://github.com/apollographql/rover/blob/main/installers/npm/package.json#L30-L31

This is a customer ask.

[2021-11-08 14:04] wabrit opened #913 "rover supergraph compose doesn't honour directive"
## Description

My subgraph schema uses a custom directive to "expand" enums on apollo startup. This is being honored when I call  `rover graph introspect`, but not when I call  `rover supergraph compose`.

For example, the following gql

[code]

will use the `@dynamicEnum` directive on startup to replace the PLACEHOLDER value with actual values, so that executing the following GQL query:

[code]

[2021-11-08 16:32] wabrit commented on #913
I suspect this is simply a consequence of https://github.com/apollographql/federation/issues/1165

[2021-11-08 21:44] patrickwall57 commented on #814
Currently experiencing this - Would Rover consider supporting a glob syntax or directory for the schema file attribute? Something like:

[code]

[2021-11-11 07:05] dborstelmann opened #916 "Apple silicon not working?"
`npm install -g @apollo/rover`

Installs fine.  Then run `rover --version`

[code]

New M1 Max Macbook Pro running Montery 12.0.1.

[2021-11-11 21:12] gevuong opened #917 "cannot provide API key to Rover in Gitlab CI"
## Description

What are you trying to accomplish?
Provide the API key to Rover in GItlab CI.

What have you tried?
The API key is stored in a variable called, `APOLLO_KEY`. And based on pipeline logs, looks like the apollo key exists and has a value, but it's not being read interactively (to prevent API key from appearing in terminal) upon executing `rover config auth`.
[code]

Currently using ro

[2021-11-12 11:11] hakkokimkr opened #918 "bug: crashed while running in docker"
## Description

 crashed while running in docker

**Crash Report**

[code]

[2021-11-12 17:54] EverlastingBugstopper commented on #916
Hey @dborstelmann thanks for the report - very strange you're running into this error! I'm unable to reproduce this on my own M1 machine. Could you perhaps attempt to install with the curl installer instead of npm with `curl -sSL https://rover.apollo.dev/nix/v0.4.0 | sh` and let me know if that works fine?

[2021-11-12 17:56] dborstelmann commented on #916
`curl -sSL https://rover.apollo.dev/nix/v0.4.0 | sh`

[code]

New M1 Max/M1 Pro different than M1?  I'm out of my depth here

[2021-11-12 18:04] EverlastingBugstopper commented on #916
Hmmmm - after doing some research it looks like Apple may be removing Rosetta 2 from some regions? https://www.macrumors.com/2021/03/02/rosetta-macos-11-3-strings/

We only build Rover for x86_64 Apple machines since (afaik) there isn't a good way to create native ARM binaries with CircleCI, and the new M1 machines come with [Rosetta 2](https://www.computerworld.com/article/3597949/everything-you-

[2021-11-12 18:08] EverlastingBugstopper commented on #917
Hey @gevuong - you don't need to run `rover config auth` if you are using environment variables to authenticate. The environment variable will override any profile you configure with `rover config auth` and it is OK to just not run that command at all - commands that need authentication will work if you have the environment variable set.

[2021-11-12 18:08] #917 closed, assigned to nobody

[2021-11-12 18:10] EverlastingBugstopper commented on #918
Hey @dividenconquer - thanks for the report! I'm going to close this issue as a duplicate of #842 - please see [this comment](https://github.com/apollographql/rover/issues/842#issuecomment-926798284) to troubleshoot.

[2021-11-12 18:10] #918 closed, assigned to nobody

[2021-11-12 18:13] dborstelmann commented on #916
Thanks for the quick response.  I did this workaround and I'm back up and running.  Is the long term solution here to wait on CircleCI to allow you to build for ARM?

[2021-11-12 19:18] EverlastingBugstopper commented on #260
Reopening this as I think we should be able to produce a universal binary with `cargo-lipo` as you can cross-compile ARM binaries on x86_64 machines now... Maybe we could have done this before as well - it seems like @abernix had the right idea here, I think we just closed this because Rosetta 2 seemed good enough? Maybe not a good long term solution though (see #916)

`cargo xtask dist` on a mac

[2021-11-12 19:21] EverlastingBugstopper commented on #916
Yeah I think so - I've reopened #260 since we want the experience for newer machines to work smoothly, going to close this since you're unblocked and you can track the longer term solution there. For now you should be able to just `git pull && cargo run --release -- install` when new versions come out.

[2021-11-12 19:21] #916 closed, assigned to nobody

[2021-11-12 19:38] EverlastingBugstopper opened #920 "Clean up plugin architecture"
May need to bring in some outside help on this one, but I think we could perhaps do a better job with the way the `rover-fed2` plugin is built today.

---

### Make plugins a first-class workspace crate

We have #909 open because currently the plugins exist in their own cargo workspace as it was the only way I could get the dependency resolver to actually build two separate versions of harmonizer.

[2021-11-15 17:10] #884 closed, assigned to nobody

[2021-11-15 17:58] lrlna commented on #884
@chrskrchr so sorry for the delay on this! I had a family emergency and was not able to attend to any of the github issues for a few weeks. We've now merged the fix into `main`, however.

To answer your earlier question, the easiest way to run rover as it is currently on `main` is still to build it locally. Once you have it cloned you should be able to run `cargo run --release -- install`.

[2021-11-15 18:01] jkepps commented on #912
https://github.com/apollographql/rover/pull/900 just needs to get approved and merged...

[2021-11-16 02:44] chrskrchr commented on #884
Thanks for the update!  Hope that all is well on the home front.

I pulled the `rover` repo down locally and confirmed with a local build that with this latest fix, we're no longer seeing any unexpected whitespace diffs when running `rover graph introspect`.  🙌

[2021-11-16 13:31] chrskrchr commented on #884
@lrlna - do you have an ETA for the `0.4.1` release?

https://github.com/apollographql/rover/milestone/24?closed=1

I tried cross-compiling the Rover CLI for the architecture where we plan to run it (`--target=x86_64-unknown-linux-gnu`, but ran into issues getting it to build successfully on OS X.  I can continue troubleshooting the build issues on my end if needed, but am more than happy to just

[2021-11-16 13:55] lrlna commented on #884
@EverlastingBugstopper would be the best person to ask about release dates. Avery, is there a release planned some time soon?

[2021-11-16 19:53] EverlastingBugstopper opened #924 "chore: update harmonizer to v0.37.0"

[2021-11-16 21:14] #511 closed, assigned to nobody

[2021-11-17 15:44] EverlastingBugstopper commented on #884
Planning on cutting a release this week 😊

[2021-11-17 21:18] #924 closed, assigned to nobody

[2021-11-18 15:11] EverlastingBugstopper commented on #912
closed by #900

[2021-11-18 15:11] #912 closed, assigned to nobody

[2021-11-18 18:44] #836 closed, assigned to nobody

[2021-11-18 20:48] lrlna commented on #884
There is a `0.4.1` release for you @chrskrchr! Let us know how it works out.

[2021-11-23 00:43] andrewmclagan opened #936 "AARCH64 support (Mac m1)"
## Description

When installing `rover` cli on an MacBook M1 ARM we receive:

[code]

We build multi-arch docker images with `rover` embedded for our federated subgraphs.

### Steps to reproduce

- Install on Macbook M1 ARM system

### Expected result

Succesfull installation.

### Actual result

What actually happened.

### Environment

- Operating system and version:
- Shell `bash`
- Version of

[2021-11-23 01:44] andrewmclagan commented on #936
We currently build multi-arch docker images with the following:

[code]

This is of course a multistage build to save space. This issue is to raise the possibility of native built binaries?

[2021-11-23 02:16] hungcheng-houzz opened #937 "bug: crashed while trying to do a schema check"
**Crash Report**
[code]

[2021-11-23 02:38] lrlna commented on #937
hi @hungcheng-houzz! We fixed this is a while ago in #549. I notice your report says you're still on version `0.1.0` of Rover. Could you update to a more recent version (latest release, for example, is `0.4.1`)? You shouldn't have this problem anymore.

[2021-11-23 02:39] lrlna commented on #937
I'll close this issue, as it's been already fixed.

[2021-11-23 02:39] #937 closed, assigned to nobody

[2021-11-23 03:27] chrskrchr commented on #884
The `0.4.1` release works like a charm - no unexpected diffs at all when using the Rover CLI to introspect and publish schemas.  Thanks!

[2021-11-23 03:38] chrskrchr opened #938 "error: request to http://engine-registry.prod.svc.cluster.local/api/graphql failed, reason: read ECONNRESET"
## Description

I realize that this is unlikely to be an issue with the Rover CLI itself, but I'm unsure where else to report it.  My team is in the process of integrating the Rover CLI into our CD pipeline per Apollo's deployment best practices.  I kicked off a deployment earlier and the `rover graph publish` step failed with the following error:

[code]

This appears to be an internal Apollo err

[2021-11-23 11:35] #936 closed, assigned to nobody

[2021-11-24 10:45] dchambers commented on #938
I'm integrating `rover` into that rarest of things; a fast and completely reliable CI pipeline, and with the introduction of `rover subgraph check` I'm now seeing random failures for the first time, with exactly the same error as described by the OP. In my case, on the first run, one of the four tasks failed, where each task runs the `rover` command about 10 times for the various subgraphs in the

[2021-11-29 15:46] chrskrchr commented on #938
@dchambers - these are wonderful datapoints!  At the very least, it confirms that the error I saw wasn't just a one-off.

@lrlna @EverlastingBugstopper - does your team own the backend API that the Rover CLI uses to execute these graph/subgraph operations?  If not, could you pass this issue along to the folks that _do_ own that backend API?  I'd be really curious to know what failure rates Apollo

[2021-11-29 15:48] EverlastingBugstopper commented on #938
Hey y'all - we've been out for Thanksgiving for a bit, thanks for opening the issue and the detailed reports.

 Our team doesn't own the API behind Rover, but I'll pass this issue on to the team that does.

[2021-12-01 17:00] sandorvasas opened #940 "How do I generate TS typedefs with the new CLI?"
So I have been generating typescript typedefs successfully with the old CLI, loved it really much.
These are the npm scripts I use:
[code]
Now I'm reading the migration guide and trying `rover fetch (something...)` but whatever I try it comes down to an error message saying I have no profile. I see I could get a profile by authenticating with an API token etc. But I don't understand. I'm trying to

[2021-12-01 17:43] EverlastingBugstopper commented on #940
Hey @sandorvasas, thanks so much for the report. The short answer to your question is that client development doesn't fall under the umbrella of what we're trying to solve in Rover _(for now)_, and your existing workflow is actually still the recommended one! Khalil recently wrote a [blog post](https://www.apollographql.com/blog/tooling/apollo-codegen/typescript-graphql-code-generator-generate-gra

[2021-12-01 17:43] #940 closed, assigned to nobody

[2021-12-02 01:41] andrewmclagan commented on #582
What is the blocker on AARM64 support?

Multi-stage docker build:

[code]

[2021-12-02 09:37] sandorvasas commented on #940
@EverlastingBugstopper Thanks so much for the detailed answer! I'm sticking with the Apollo CLI for now then.

[2021-12-03 18:19] EverlastingBugstopper opened #942 "feat: better error message when running `rover subgraph introspect` on a graph"
running `rover subgraph introspect` on a graph spits out a `400 Bad Request` since there's no `_service` root field. we should detect this case and direct them to run `rover graph introspect` instead.

[2021-12-03 19:00] EverlastingBugstopper opened #943 "chore: investigate compiling `rover-client` to wasm"
could then be used in web applications or VS code extensions.

[2021-12-03 19:03] EverlastingBugstopper opened #944 "feat: live reload for supergraph compose"
we should add a `--watch` flag to `rover supergraph compose` and `rover fed2 supergraph compose` that watches the file system for changes to local schema changes and poll the introspection endpoints and/or the graph registry at a set interval (maybe make an arg group so you can override how frequently to poll)

would be nice to eventually make an option to bypass polling altogether and point rover

[2021-12-03 19:11] EverlastingBugstopper commented on #904
Hey @IvayloAndonov thanks for the report. This issue slipped past our attention somehow.  Are you still encountering this issue? If so, are you able to run any other Rover commands? Specifically, the output of `rover info` would be helpful here, along with the contents of your `supergraph.graphql` (or a minimally reproducible example of one) and the output of the command when you run it with the `

[2021-12-03 20:35] EverlastingBugstopper opened #945 "feat: `rover graph query`"
Let's say I'm a graph developer with Rover installed and I want to query a graph (either a running graph or something in the registry). To do so, I either need to open Studio and navigate to explorer, or open the self-hosted explorer instance, or I need to write my own curl commands. What if I want to stay in my terminal and use `rover` for this purpose (I can imagine it'd be easier to stick aroun

[2021-12-03 21:20] EverlastingBugstopper commented on #913
I'm not entirely sure what the issue here is, but if this is a federation 2 only thing (which I'm not sure it is) you need to install the `rover-fed2` plugin and invoke with `rover fed2 supergraph compose`. If it is an extension of that issue you linked though then that won't really help you out.

[2021-12-03 21:38] EverlastingBugstopper opened #946 "brainstorm: consider a project manifest"
The npm installer along with the `rover-fed2` plugin make it difficult to truly have per-project configuration. We should investigate the feasibility of a `.rover` or `.apollo` directory that would include a project manifest like `supergraph.yaml` for federation projects, and probably just a graph ref for monolithic projects. This could also take care of handling the binary/plugin versions so you

[2021-12-04 09:14] wabrit commented on #913
Hi @EverlastingBugstopper - it looks like an issue with underlying federation (particularly the way schemas and directives interact when building subgraphs), so is not a rover issue. So I'll close this and let the federation issue pick up the reins.

[2021-12-04 09:14] #913 closed, assigned to nobody

[2021-12-06 17:35] EverlastingBugstopper commented on #842
I also encountered a similar pipe error while trying to pipe Rover's output to another command:

I ran `rover --help | grep` and rover printed an automated bug report:

[code]

**Crash Report**

[code]

[2021-12-06 17:47] EverlastingBugstopper commented on #842
I think what we need here is to migrate away from `println` and `eprintln` in `RoverOutput` and instead use the `write` macro to write to `stdout` and/or `stderr` directly, and handle the errors that can occur there (since the [`println` macro family](https://github.com/rust-lang/rust/issues/46016) panics by default. This should included handling for `SIGPIPE` errors that indicate that the process

[2021-12-06 17:54] EverlastingBugstopper opened #948 "`--profile` does nothing in `rover subgraph introspect`"
## Description

`rover subgraph introspect` takes a `--profile` argument but doesn't use it.

### Steps to reproduce

[code]

### Expected result

`--profile` shouldn't be there

### Environment

[code]

[2021-12-06 18:00] #948 closed, assigned to EverlastingBugstopper

[2021-12-09 14:37] EverlastingBugstopper opened #952 "document supergraph fetch"
I can't find dcs for the supergraph fetch command, we should add some

[2021-12-09 21:16] EverlastingBugstopper commented on #289
fly.io has a great example of this with `flyctl auth login`

[2021-12-13 17:10] EverlastingBugstopper commented on #661
This was fixed in v0.4.0 with #861

[2021-12-13 17:10] #661 closed, assigned to nobody

[2021-12-13 20:10] #842 closed, assigned to nobody

[2021-12-13 21:32] EverlastingBugstopper opened #956 "chore: consider moving harmonizer to rover"
currently we have a few shared types across multiple binaries (namely, `rover-fed2` and `harmonizer` are in different repositories but have shared types that originate in rover [here](https://github.com/apollographql/rover/tree/main/crates/apollo-supergraph-config) and [here](https://github.com/apollographql/rover/tree/main/crates/apollo-federation-types)

Since harmonizer is in a different reposi

[2021-12-13 22:07] EverlastingBugstopper commented on #956
we could also theoretically move those type crates into their own repo by themselves which might make things easier? not sure.

[2021-12-14 17:15] chrskrchr commented on #938
We raised this issue to our Apollo customer success team and they reported back that a fix was rolled out on Dec 7th to mitigate this issue.  @dchambers - have you seen any `rover subgraph ...` failures in your CI pipeline since then?  We haven't, but we're running a very small number of CLI commands and might just be getting lucky.

I'll close this issue out if @dchambers reports back that their

[2021-12-14 18:20] kroehre commented on #856
I am also encountering this issue, when trying to install Rover:
[code]

[2021-12-14 18:40] EverlastingBugstopper commented on #856
You'll likely need to update your machines CA certificates - Ubuntu allows you to do so with [this command](https://manpages.ubuntu.com/manpages/xenial/man8/update-ca-certificates.8.html) - hope that helps!

[2021-12-14 18:41] EverlastingBugstopper commented on #856
Note that this error likely occurs when curling other https websites as well. if you're only getting this error with our endpoints though it may indicate a problem with Netlifys SSL cert renewal policies, but I doubt that is the issue here

[2021-12-14 19:03] kroehre commented on #856
@EverlastingBugstopper thanks! I'll give that command a try.

FWIW I've not seen this error before with other https websites, and I just verified `curl -sSL https://google.com` works as expected.

[2021-12-14 20:37] EverlastingBugstopper commented on #956
i've drawn up a quick diagram of how things are architected at the moment:
![Letter - 1](https://user-images.githubusercontent.com/9408157/146072997-9e5e6f54-5d34-4716-a979-0221deaaf65c.png)

and a quick diagram of how things maybe could be in the future? i'm not entirely sure if splitting up rs and js into separate repos is good or not, but i think that collapsing harmonizer into one branch with

[2021-12-15 11:25] lrlna commented on #956
@EverlastingBugstopper your idea of using feature flags is exactly what I'd go for as well! It seems like a huge pain in the butt to maintain two separate branches, and judging by the (very handy) diagram, cargo's resolver has a hard time resolving the two separate versions of harmonizer like that. We will probably be maintaining two separate versions of federation for a while longer, so going wit

[2021-12-15 21:14] dchambers opened #958 "Allow composition errors to be ignored ... or?"
## Description

We can use `--query-count-threshold`, `--query-percentage-threshold`, and `--validation-period` as a means to completely ignore operation errors, but there does not seem to be something like a `--ignore-composition-errors` switch to do the same for composition errors.

## Motivation

My motivation for wanting this is that I have a build step (in our schema governance repo) that's o

[2021-12-18 01:28] sola92 opened #959 "Error during rover subgraph publish"
## Description

Error during rover subgraph publish

### Steps to reproduce
Calling
[code]

Leads to:
[code]

### Expected result

What should happen?

Publish should execute successfully.

### Actual result

Failure with unexpected error.

### Environment

Run `rover info` and paste the results here
[code]

If you can't run `rover info` for some reason, please provide as much of the following inf

[2021-12-18 01:35] #959 closed, assigned to nobody

[2021-12-21 04:10] omgaz opened #961 "error[E004]: HTTP status client error (403 Forbidden) for url"
## Description

Receiving a 403 error when trying to introspect a schema on a live running server. Server is behind a firewall, but machine where commands are run have access.

### Steps to reproduce

Run `rover graph introspect https://api.example.com/graphql --log debug` where whatever https://api.example.com is, is behind a firewall.

### Expected result

Introspection should complete as expect

[2021-12-21 04:20] omgaz commented on #961
I think I found the issue, and a possible fix.

Issue: rover does not set a user agent in the header. This is an issue when using an AWS powered WAF with default rulesets applied (AWS#AWSManagedRulesCommonRuleSet#NoUserAgent_HEADER).

To replicate:

Put an apollo server behind an AWS WAF using the `AWSManagedRulesCommonRuleSet`. Try to introspect the server and you'll get a 403. (https://docs.aws.

[2021-12-30 15:43] Miaxos opened #962 "bug: nix install script doesn't work in docker on m1 machines"
## Description

There is no precompiled binary for aarch64, which is troublesome when you are working with a M1, I think it would be useful to add it, there are more and more people working on this architecture.

[code]

Linked issue: https://github.com/apollographql/rover/issues/936 https://github.com/apollographql/rover/issues/260 https://github.com/apollographql/rover/issues/582

Thank you for

[2022-01-04 23:41] manymotes opened #964 "bug: crashed while trying to save introspected schema to a file, kinda like this: "rover graph introspect http://localhost:4000 | rover graph publish my-graph@dev --schema -""
## Description

                            Describe the issue that you're seeing.

[2022-01-04 23:43] #964 closed, assigned to nobody

[2022-01-05 00:36] manymotes commented on #875
rover graph introspect https://fb-test.hillavv.com/graph --header "Basic: mytoken"
try this, hope it works

[2022-01-10 10:00] abernix commented on #856
I'm going to close this as we haven't received other reports of it and our monitoring hasn't shown anything notable to indicate there's a more systemic problem going on.  Please let us know if you continue to have problems by opening a new issue!

[2022-01-10 10:00] #856 closed, assigned to nobody

[2022-01-10 10:03] abernix commented on #875
If you're experiencing this it may be a shell escaping or parsing issue, as it should be working.  As noted above, be sure to use quotes as appropriate to quote `key: value` pairs!  I'll close this, but if you continue to have problems, please report back.  Thanks!

[2022-01-10 10:03] #875 closed, assigned to nobody

[2022-01-10 10:04] abernix commented on #938
I'm going to close this because we believe it should be improved thanks to improvements to the API infrastructure, but please open a new issue if it continues to be problematic.  Thanks again for opening this originally!

[2022-01-10 10:04] #938 closed, assigned to abernix

[2022-01-19 14:47] grzn opened #967 "Build fails with the recent schema from Apollo"
Hi,

The rover build starts failing sometime in the last four days (last time we've attempted on building it was 4 days ago and it was successful, and today it fails).

This is the error:
[code]

You can see it failing in your CI:
https://app.circleci.com/pipelines/github/apollographql/rover/618/workflows/e0a64815-3694-4570-be6b-12c5a36f4eb5/jobs/3702

Not sure if this something that's broken in t

[2022-01-19 19:09] EverlastingBugstopper commented on #967
Hey @grzn - thanks so much for your report. Your intuition that this is a problem with the schema is correct! I've contacted the appropriate team and they are working on a fix - no official ETA on when that will be complete but I'll mention you here when it is resolved and close the issue.

[2022-01-19 19:27] nishils commented on #967
+1 to this issue blocking us as well.

What I don't understand is how the builds are failing when we are version pinned and there's been no changes to 0.4.1? Are the builds non-deterministic? Is there a path to where we can build the most recent stable version of 0.4.1?

[2022-01-19 19:41] EverlastingBugstopper commented on #967
you can do deterministic builds by running `cargo xtask dist --version v0.4.1`, but by default, the `main` branch will fetch the latest API schema from Apollo Studio.

just out of curiosity, why are all y'all building from source in the first place? we do release stable binaries [here](https://github.com/apollographql/rover/releases). Are we missing your architecture?

[2022-01-19 19:51] nishils commented on #967
We are sourcing from the github tarball (https://github.com/apollographql/rover/tarball/v0.4.1 ) and then installing via `cargo run --release -- install`

We'll try using the cargo xtask right now.

There's no m1 support afaik so we are running into an issue where half our devs can pull the stable binary and the other half have to build from source.

Thanks for the help!

[2022-01-19 19:52] grzn commented on #967
Yes we’re missing linux arm64.
We're downloading v0.4.0 source tarball and building it running `cargo build --release`, same issue arises.

[2022-01-19 19:56] 6peterlu commented on #967
As another datapoint: I just tried `cargo xtask dist --version v0.4.1` on my machine and ran into the same issue

[2022-01-19 19:57] EverlastingBugstopper commented on #967
fwiw you should be able to run the x86_64-apple-darwin tarballs on M1 machines because of Apple's "Rosetta" software. what happens if you run `curl https://rover.apollo.dev/nix/latest | sh` on an M1? for me it says it will download rover from "https://github.com/apollographql/rover/releases/download/v0.4.1/rover-v0.4.1-x86_64-apple-darwin.tar.gz" which it then unpacks and writes to "~/.rover/bin/r

[2022-01-19 20:06] grzn commented on #967
Thanks @EverlastingBugstopper

[2022-01-19 21:30] nishils commented on #967
We just migrated to using the prebuilt binaries and got it working. There was some complexity in our build setup to get this working, but you are correct in that leveraging Rosetta got us to a working solution.

Thanks for the suggestion!

[2022-01-20 17:07] EverlastingBugstopper commented on #962
Hey @Miaxos - we don't have any plans to build native ARM binaries right now, but you should be able to use the precompiled x86_64 binaries for your M1 machines since they come installed with Apple's Rosetta software which allows x86_64 code to be run just fine. Hope this helps!

[2022-01-20 17:08] EverlastingBugstopper commented on #962
also i'm closing this as a duplicate of #260

[2022-01-20 17:09] Miaxos commented on #962
Yeah, but in a docker context within M1 it's really troublesome to run your entire docker stack through rosetta.

[2022-01-20 17:10] EverlastingBugstopper commented on #967
this should be fixed now.

[2022-01-21 11:32] abernix commented on #962
That would be troublesome, but I don't quite understand how this would be the outcome.  Could you elaborate on how that would happen?

(If you run `rover` on Mac and `rover` itself runs through Rosetta, that shouldn't cause Docker to be Rosetta'd, only `rover`.  If you need to run `rover` inside Docker, presumably you'd be using a Linux version of `rover` and using x86_64 binaries inside Docker on

[2022-01-21 18:27] grzn commented on #967
Our builds are still failing on this. Reopening

[2022-01-21 18:33] grzn commented on #967
Oh I see, you fixed this in HEAD, but v0.4.0 will continue to fail.

Can you either release rover so we could rely on a tagged release in our toolchain, or do you have (or knows how to get) an old copy of the GraphQL API schema that v0.4.0 works with, that we can use in our builds? I copy from 10 days ago should be okay.

[2022-01-21 19:04] EverlastingBugstopper commented on #967
y'know, they're supposed to be published alongside every release, but it looks like they haven't been doing so since v0.2.1. i'm doing some digging to see if i can't turn up these old schemas and publish them where they're supposed to be. then i _think_ the `cargo xtask dist --version v0.4.0` should work (since it can actually go and download that schema from the releases page).

[2022-01-22 18:57] grzn commented on #967
Where can find these? is there a Git repository for it? worst case I'll use the latest commit before ```excludedOperationNames``` was added.

[2022-01-25 20:21] #967 closed, assigned to EverlastingBugstopper

[2022-01-25 20:23] EverlastingBugstopper commented on #967
Alright @grzn - I'm hoping I have an answer for you here now.

I've uploaded historical schemas to the assets under each release https://github.com/apollographql/rover/releases. Unfortunately the logic in the `xtask` code tagged at `v0.4.0` still doesn't quite seem to work properly with those old schemas (something with the build configuration just isn't downloading them properly).

I've opened PR

[2022-01-28 16:26] grzn commented on #967
Thanks @EverlastingBugstopper. I've set APOLLO_GPAPHQL_SCHEMA_URL to the 0.4.0 schema and the build passed.

[2022-01-29 02:30] Miaxos commented on #962
Well, if you install rover inside your docker image which is running inside an M1, (if docker isn't running through rosetta, if it is, idk, it's not what I'm doing), you'll have your docker images built for aarch64 and not x86_64, to build x86_64 images you'll have to use `buildx`, so when you want to install rover inside your docker image, you'll get a :
[code]

Dockerfile:
[code]

[2022-01-31 16:33] EverlastingBugstopper commented on #962
my guess is that the docker environment is a bit different than real m1 machines. usually, `uname -s` returns `Darwin` on both M1 and x86_64 machines but it looks like it's returning `aarch64` for you in docker instead. my guess is that the `get_architecture` section of our [installer script](https://rover.apollo.dev/nix/v0.4.1) needs to be updated to check for the proper `uname -s` and `uname -m`

[2022-02-01 05:09] alissonreinaldo opened #978 "error: Incorrect function. (os error 1) in `rover config auth`"
## Description

Hi 👋

I'm following the [docs](https://www.apollographql.com/docs/rover/configuring/#via-the-auth-command), after installing rover (globally via npm) I tried to run this in my terminal (bash):

`rover config auth`

I was expecting this command to be interactive, and require me to provide an API KEY. Instead, it immediately fails as below (without prompting for anything):

![image](

[2022-02-01 15:09] kmcrawford opened #979 "Is there a way to maintain "Connection Settings" in a variant via a CLI"
I am unable to find documentation on how to maintain the below via a CLI, is this possible?

![image](https://user-images.githubusercontent.com/40531/151994395-7ec96b05-512a-4019-99df-c0aab47091de.png)

[2022-02-01 18:24] EverlastingBugstopper commented on #979
Hi @kmcrawford - thanks for the question. This is not something the CLI supports today but long term the development story will be a bit tidied up. I'm going to close this issue for now as it's not something that will be coming any time soon.

[2022-02-01 18:25] EverlastingBugstopper commented on #978
Hi @alissonreinaldo thanks for the report. I've honestly never seen this issue before and I imagine it has something to do with your operating system maybe being a bit unexpected? Could you please paste the output of `rover info` so I can take a look at some more specific details?

edit: as a workaround for now, or if we don't figure out what the heck is going on here, you can set the `APOLLO_KEY`

[2022-02-01 18:30] #909 closed, assigned to EverlastingBugstopper

[2022-02-02 01:17] xzyfer opened #981 "Restore --variant flag"
## Description

The `--variant` flag was removed in https://github.com/apollographql/rover/issues/101 in favour of `graph@variant` positional argument. Formatted positional arguments are problematic in environments without substitution or templating capabilities i.e. npm/yarn scripts.

Consider the following `package.json`.
[code]
There isn't a viable way for the script caller to select the varian

[2022-02-02 16:18] kmcrawford commented on #979
@EverlastingBugstopper is it possible to add this functionality of SetVariantURLMutation to rover?  I can create a pr if this exists?

[2022-02-02 18:04] EverlastingBugstopper commented on #979
I don't think there's any existing surface area in the CLI that it would make sense to put this in. Would you mind sharing with me the workflow you envision?

[2022-02-02 18:05] nmokkenstorm opened #982 "bug: crashed while <insert description here>"
## Description

Good afternoon,

Rover crashed for me with an `error: [unknown]` and the terminal output kindly requested me to raise an issue here. I'm just composing subgraphs here, nothing that doesn't work for the same project in different places in the same way. Let me know if there is specific information that would help debug this.

**Crash Report**
[code]

[2022-02-02 18:16] nmokkenstorm commented on #982
I managed to solve my issue, which was caused by having a custom scalar `Date` defined in an entity. The rover error should probably be more descriptive and not crash over this however, so I think this should stay open? I'm not proficient in Rust so I don't know where to start with fixing this, but I'd love to figure out how/why

[2022-02-02 18:40] EverlastingBugstopper commented on #902
closing as a duplicate of https://github.com/apollographql/rover/issues/766

[2022-02-02 18:40] #902 closed, assigned to nobody

[2022-02-02 18:41] EverlastingBugstopper commented on #982
hey @nmokkenstorm - thanks for the report. this error message is not great. we do already have an issue tracking this problem [here](https://github.com/apollographql/rover/issues/766), so I'm going to close this as a duplicate.

[2022-02-02 18:41] #982 closed, assigned to nobody

[2022-02-02 22:58] kmcrawford commented on #979
Adding it to publish graph as optional parameters would work.

[2022-02-03 14:02] kmcrawford commented on #979
According to what the site uses it's a combination of `PersistDefaultHeadersForGraphVariant` & `SetVariantURLMutation`
[code]

[2022-02-04 18:11] benatshippabo opened #983 "code generation capability?"
## Description

Hey! So based on the readme for the [`apollo-tooling`](https://github.com/apollographql/apollo-tooling):

![[image](https://github.com/apollographql/apollo-tooling/blob/6f67fa231911dc2effc8ab94445063cd278bc861/packages/apollo/README.md?plain=1#L7 )](https://user-images.githubusercontent.com/66273043/152580922-7034eca1-3a4e-4390-b065-08d517f4f46b.png)

it seems like the obvious choi

[2022-02-07 21:14] EverlastingBugstopper commented on #983
Hey @benatshippabo - thanks for the question. Rover is geared more towards server projects rather than client ones (at least for now!) Not saying that this won't _eventually_ exist in Rover, but it will be a long, long time. We recommend migrating to [`graphql-codegen`](https://www.graphql-code-generator.com/) for all of your code-generating needs. It's really great software and I'll think you'll

[2022-02-07 21:14] #983 closed, assigned to nobody

[2022-02-07 21:18] EverlastingBugstopper commented on #979
Ah, that's interesting. So far most operations only do 1 mutation at a time, though it seems sending those other mutations in succession would do what you're looking for. I think since we have `--routing-url` for subgraphs, it _may_ make sense to add this as an optional flag for `graph publish`. I'm going to ask @prasek to weigh in here as I'm not entirely sure what setting this endpoint actually

[2022-02-07 23:04] kmcrawford commented on #979
This would be great as our ci/cd system publishes feature branches as variants. It would be nice if the endpoints were all setup for our developers without them having to do an extra step.  (We also use rover delete to automatically clean up the variants when the feature branch gets merged/deleted)

[2022-02-08 08:19] abernix commented on #979
@EverlastingBugstopper

This **solely** configures the Apollo Studio Explorer's default headers which results in them being pre-populated when "Exploring" this graph variant.  That is a nice feature, though I am curious if there is _enough_ potential surface area here to have a set of `rover explorer config <graphRef> ...` commands.  (My hunch is that there could be (including a `rover explorer la

[2022-02-08 10:44] kmcrawford commented on #979
Rover is used from our ci/cd system to create and maintain variants.  I feel leaving this feature out makes it an incomplete cli tool, in which the entire process can’t be automated.

[2022-02-08 18:50] EverlastingBugstopper opened #984 "feat: allow for `supergraph compose` to be updated at runtime"
## Description

I propose adding a `version` key to the configuration files for supergraphs. This version will specify the "platform" version to use (at its most simplest we could say v1 is federation 1 and v2 is federation 2 but I imagine there's maybe a bit more to go with it than that).

This additional configuration option allows for Rover to run newer versions of the composition algorithm wit

[2022-02-09 03:35] tc opened #985 "Rover adds `Scalar Float` to schema graphql file"
## Description

When running `rover graph introspect http://localhost:8666/graphql` locally, it generates the file, it adds this custom scalar definition:

[code]

The previous apollo command `apollo schema:download` to generate the schema did not include Float as a scalar.

When used in a flutter project, the schema parser read scalars as custom data types vs using the native "float" data type.
h

[2022-02-09 09:54] lrlna commented on #985
thanks for submitting this @tc! I am looking into getting you a fix.

[2022-02-09 17:04] #985 closed, assigned to lrlna

[2022-02-09 18:01] EverlastingBugstopper commented on #790
Hey @ptondereau - we'd love your proposal! Sorry your comment was lost in the fray.

[2022-02-09 18:03] EverlastingBugstopper commented on #944
duplicate of #479

[2022-02-09 18:03] #944 closed, assigned to nobody

[2022-02-09 18:04] EverlastingBugstopper commented on #479
comment from #944

[2022-02-09 21:41] EverlastingBugstopper opened #991 "bug: rover is built on centos 7 but... can't run on centos 7??"
if you try to install rover on centos 7, you'll get an error telling you that you can't because Rover needs glibc 2.18.

[code]

this is a bald faced lie! we build rover's binaries on centos 7! what gives?

turns out, once we moved from ubuntu 16 to centos 7 we didn't need to require version 2.18, only 2.17. we added nice error handling so folks with glibc under our required version would safely d

[2022-02-09 21:46] #991 closed, assigned to nobody

[2022-02-09 22:11] ptondereau commented on #790
I'm very busy since I've found a new job, but I'll try to come with a PR quickly!

[2022-02-10 09:41] mlkiefer commented on #962
I think the script is running correctly.
The point Miaxos is trying to make is that a Docker container on an M1 Mac is running Linux **on a VM**.  So the script sees that it is running on Linux on an aarch64 platform and tries to obtain a binary for that one, which doesn't exist.
[code]
If you tried to override that in the script and run x86_64 binaries in there, the Linux in the VM wouldn't know

[2022-02-10 09:45] murilozilli commented on #917
@EverlastingBugstopper any ideas here?
[code]

I tried this(replacing the api key bit) that i saw on another post of yours and also didnt work

[code]

[2022-02-10 14:41] abernix commented on #979
@kmcrawford To be clear, your use case seems completely valid; I'm not challenging the value of this to you and nothing I said above was meant to imply that we're not talking about this.  Let me know if there was something that I said that made you feel otherwise!

What I am discussing is a possible approach for **how** we might make this available to users who need it — like yourself.   To put it

[2022-02-10 14:49] kmcrawford commented on #979
@abernix That is fine, it seemed the `launch` suggestion above was for an interactive cli that developers would run and "launch" a studio session vs a setup that the CI/CD process can do in an automated fashion.  Thank you for your consideration on this issue.

For completeness somethings like:
[code]
Or for Subscriptions: (not my use case but I'm sure others would require this too)
[code]

[2022-02-10 15:24] abernix commented on #979
Ah, I see.  My offering of `rover explorer launch <graphRef>` was just to offer a concrete suggestion of other `rover explorer` commands that might be worth considering.  In this case, `rover explorer launch <graphRef>` would literally open a web-browser to Explorer.  (And if you'd run `rover explorer config` then it'd have the headers set already!).

[2022-02-10 22:08] EverlastingBugstopper commented on #790
OK! If it turns out you don't feel like working on this then don't feel any obligation to, just wanted to let you know that we'd accept a PR if you decided it was worth your time 😄

[2022-02-10 22:11] EverlastingBugstopper commented on #917
hey @murilozilli - would you mind opening a new issue and i'll take a look? when you open the issue would you please include the output of `rover info` as well as the output of `APOLLO_KEY=service:restofmyapikey rover config whoami`? thanks

[2022-02-10 23:14] EverlastingBugstopper commented on #962
ahhh, thanks for the explainer there @mlkiefer, that makes a lot of sense. in that case i'm actually going to close this as a duplicate of #582 (which does seem to include some user-submitted Dockerfiles that may help you!)

it seems like there have been increasing requests for arm64 binaries as of late, I can't make any promises as to if/when those binaries will be provided but do know that it's

[2022-02-10 23:48] theJC opened #992 "supergraph compose should call SubgraphFetchQuery only one time, not once for every subgraph"
## Description

It appears Rover supergraph compose makes a query SubgraphFetchQuery call for each subgraph, but the call gets all schemas for all subgraphs.   Our supergraph in one of our environments has 70 subgraphs in it, and if I run the rover supergraph compose command with --log trace I see 70 calls with:

`DEBUG rover_client::blocking::client: Request Body: {"variables":{"graph_id":"indeed

[2022-02-11 14:49] abernix commented on #568
I think this is done. 😜

[2022-02-11 14:49] #568 closed, assigned to abernix

[2022-02-11 15:14] abernix opened #993 "installer+npm: increase range of `engines` to support Node.js 17"
Currently, we're limiting the `engines` range on the npm installer for [`@apollo/rover`](https://npm.im/@apollo/rover) to Node.js 14 through 16:

https://github.com/apollographql/rover/blob/6515eb316de764b367dc5a456d254529eab76105/installers/npm/package.json#L30-L33

On our other projects we somewhat heavily rely on the Node.js runtime and we want to be careful about experimental standard APIs and

[2022-02-11 16:50] EverlastingBugstopper commented on #992
Hey @theJC, thanks for the report. I agree that this behavior is not ideal and there are many reasons to improve this.

Unfortunately, I don't think the Studio API currently supports fetching more than one subgraph schema with a given query so putting everything into a single query is blocked until that support comes.

We _are_ talking about introducing a `.rover` "project" directory that might ha

[2022-02-11 18:01] theJC commented on #992
@EverlastingBugstopper  -- The response coming back a single execution of that query CONTAINS ALL of the subgraphs and their activePartialSchemas, it isn't returning just a single individual subgraph each time its called.

[code]

[2022-02-11 18:35] EverlastingBugstopper commented on #992
AH! You're so right here! Ok wow this _is_ an expensive query. It seems like the opposite of what I previously said is true, you can _only_ fetch _all_ subgraphs from a supergraph. for your case, these are all likely coming from the same graph, but it's feasible that you could be creating a supergraph from subgraphs that are deployed across _multiple_ graphs or _multiple_ variants. so, we need to

[2022-02-11 19:11] #783 closed, assigned to EverlastingBugstopper

[2022-02-11 19:40] EverlastingBugstopper commented on #962
actually, it looks like linux M1 builds _can_ use our x86_64 binaries. @garypen pointed [this PR](https://github.com/apollographql/supergraph-demo-fed2/pull/26) out to me that fixed the same thing. going to do the same hack on our installer and get that out to you today

[2022-02-11 20:14] EverlastingBugstopper commented on #962
~ok so my own investigation into this is yielding very strange results. no matter what i do i can't seem to get `uname -s` and `uname -m` to return anything other than "Linux" and "x86_64" on my M1 machine running docker from `ubuntu:latest`~ scratch this, for some reason i thought my work macbook (that i rarely use) was an M1, but now i'm remembering that I have an M1 that I need to ssh into.

An

[2022-02-11 20:24] #993 closed, assigned to EverlastingBugstopper

[2022-02-11 20:55] #952 closed, assigned to StephenBarlow

[2022-02-11 23:53] Maldron opened #1004 "The npm release of rover 0.4.2 doesn't work on debian linux"
## Description

When installing rover with npm, the latest release doesn't work on the [node:16 debian linux image](https://hub.docker.com/_/node). Maybe an issue with package that got pushed to npm for this release?

### Steps to reproduce

Build an image like this
[code]

exec into the container, then run `rover info` (or try to run `rover supergraph compose`).

If you're already on a similar li

[2022-02-12 10:25] mlkiefer commented on #962
It probably works for the x86_64 Mac binary in the native Mac environment but it won't work in the Linux VM that runs the docker container.
That's a linux on an ARM (virtual) machine so it doesn't know what to do with an x86_64 binary. In any case, we have removed rover from our setup so at least for me, this is not important any more.
However, thanks for working on Apollo and providing these tool

[2022-02-13 20:18] theJC commented on #992
@EverlastingBugstopper -- this wasn't really fixed yet was it (shouldn't be closed)?

In the [release](https://github.com/apollographql/rover/releases/tag/v0.4.2) it looks like the glibc change was marked as fixing the wrong issue?

[2022-02-14 10:41] lrlna commented on #985
@tc the fix is part of `0.4.2` release. Let me know if that works for you!

[2022-02-14 14:56] garypen commented on #962
The docker build problem isn't caused by the install script, but by trying to install amd64 rover into the aarch64 (ARM) docker image. From above:

[code]
By default, on an M1 machine, that will retrieve an aarch64(ARM) docker image and thus the install of rover will fail. If however, I have this Dockerfile:
[code]
(Note the specification of amd64, then all is well. Slow, but well) I changed CMD t

[2022-02-14 15:54] theJC commented on #991
Still exhibiting the same issue in 0.4.2

[code]

[2022-02-14 16:11] EverlastingBugstopper commented on #962
AH! thanks for the help on this @garypen - I don't think we'll update our installer code then and folks can use this as a workaround. I'm going to close this and we can continue to track `aarch64` binaries in issue #582.

[2022-02-14 16:11] #962 closed, assigned to nobody

[2022-02-14 16:12] #1004 closed, assigned to EverlastingBugstopper

[2022-02-14 16:18] EverlastingBugstopper commented on #992
you're very correct! thanks for the catch on this @theJC, really appreciate it.

[2022-02-14 23:09] tc commented on #985
works, thanks!

[2022-02-14 23:18] mabuyo opened #1009 "Improve docs on Rover profile configuration"
## Description

[The section on configuring profiles](https://www.apollographql.com/docs/rover/configuring/#configuration-profiles) is missing some important instructions such as:

- how to create a profile (`rover config auth --profile <PROFILE_NAME>`)
- how to list all profiles (`rover config list`)

Would be great to add these to the docs!

[2022-02-14 23:20] EverlastingBugstopper commented on #1009
Thanks for the report @mabuyo - we should definitely add this information to the docs!

[2022-02-15 10:50] bnjjj opened #1010 "Upgrade the version of `apollo-encoder`"
As we released the version of `apollo-encoder`, there are some breaking changes in v0.2.0. Need to use this new version in rover and adapt the code with the breaking changes

[2022-02-15 17:51] sdemjanenko commented on #983
@EverlastingBugstopper is there an example showing how to wire the schema that Apollo studio has into graphql-codegen? Apollo-tooling was nice in that the tool wired everything up automatically.

[2022-02-15 19:57] EverlastingBugstopper commented on #983
i don't think we have an example of this specific integration, but you should be able to use `rover graph fetch mygraph@myvariant > studio-schema.graphql` (documented [here](https://www.apollographql.com/docs/rover/graphs/#fetching-from-apollo-studio)) and then refer to that file in your code generation config.

[2022-02-16 20:55] EverlastingBugstopper opened #1011 "chore: refactor `RoverOutput`"
Rover has some helpful types for printing outputs and errors, but they're stored in a different section than the rest of the command code and the giant match statements are difficult to reason about.

to start, i think we should make a trait for all rover commands (ignore my probably incorrect syntax here, we likely need `Box` or something i'm not sure):

[code]

and instead of `RoverOutput` being

[2022-02-17 20:06] lennyburdette opened #1013 "Support `rover supergraph fetch` for contract variants"
From a customer:

When using `rover supergraph fetch <variant_graph_ref>` it fails saying:

[code]

The use case is fetching the supergraph schema to use in an Uplink fallback. They need the contract supergraph with all the `@inaccessible` directives applied.

@jsegaran and @david-castaneda are working on an API change that should make this possible.

[2022-02-18 10:31] abernix commented on #1013
I can confirm that our remote API doesn't **yet** support contract variants!  Once that lands, this will just _start working_ right?  With no changes on Rover?

[2022-02-21 23:47] dburles opened #1015 "`stderr` used for non error messages"
I noticed in our logging that for some reason many success messages are returned as `stderr`, here's some examples:

https://github.com/apollographql/rover/blob/200efd3f8542f8967cb67474464c9664c2f56e93/src/command/output.rs#L93-L98

`eprintln!` also goes to `stderr` https://doc.rust-lang.org/std/macro.eprintln.html
https://github.com/apollographql/rover/blob/cdd43c109b7d73c49bd1b2a2d9ca6a5292f30aa

[2022-02-22 16:51] EverlastingBugstopper commented on #1015
Yes, there is a reason for this!

Rover emits status logs to `stderr` so that when output is redirected to `stdout` it does not include them. This makes doing things like `rover graph fetch my-graph > my-graph.graphql`, and `rover subgraph fetch my-graph@dev --name my-dev-subgraph | rover subgraph publish my-graph@prod --name my-prod-subgraph --schema -` possible. If we included the status message

[2022-02-22 16:51] #1015 closed, assigned to nobody

[2022-02-22 20:01] pcarrier commented on #867
This happens when we returned a null value where a non-null was expected. IMHO we identify those situations and fix the schema rather than work around it in clients.

[2022-02-22 23:21] dburles commented on #1015
That makes sense, and thanks for the detailed explanation @EverlastingBugstopper.

[2022-02-23 14:49] MaxHill commented on #615
I also have this problem, would love to see a solution to this.

[2022-02-24 17:49] david-castaneda commented on #1013
@lennyburdette @abernix The API for fetching the latest approved schema should be ready for use.

This query should work for regular variants and contract variants.

[code]

[2022-03-02 16:44] EverlastingBugstopper commented on #1013
hey @david-castaneda - would love to accept a PR that uses this new query!

[2022-03-02 16:52] EverlastingBugstopper commented on #162
we have monitoring for this in datadog

[2022-03-02 16:52] #162 closed, assigned to nobody

[2022-03-02 19:43] lennyburdette commented on #1013
@david-castaneda will `latestApprovedLaunch` always be a successful launch?

[2022-03-02 20:45] setchy opened #1020 "feature: rover readme publish && rover readme fetch"
## Description

Add a new subcommand, `readme`, that would allow the Apollo Rover CLI to:
- fetch the readme markdown from Apollo Studio for a given GRAPH_REF, or
- publish a local markdown file to Apollo Studio for a given GRAPH_REF

This would allow CI/CD processes to keep the `README` content stored in VCS (like graph or supgraph schemas can be) and automatically published and synchronized acro

[2022-03-03 04:33] jsegaran commented on #1013
Yep. The latest approved launch contains the schema that is being used by uplink for running gateways/routers.

[2022-03-03 04:35] jsegaran commented on #1013
Yep. The latest approved launch contains the schema that is being used by uplink for running gateways/routers.

[2022-03-04 17:59] theJC commented on #992
@EverlastingBugstopper  -- Can we get this being fixed removed from: https://github.com/apollographql/rover/pull/1000 -- it looks like it causes the top of this page show that its been fixed.

Also, can you update this ticket on status on if any progress is stalled out on this due to blockers on the Apollo studio API front?   Any ticket you can point to to identify that work would be helpful.

[2022-03-07 16:27] raznar opened #1023 "Rover outputs entire API Key unmasked with the whoami command"
## Description

Rover exposes the full API key when the `rover config whoami` command is invoked.

### Steps to reproduce

Execute `rover config whoami`
Observe the output

### Expected result

The API key should be masked per the [Rover documentation for E014](https://www.apollographql.com/docs/rover/errors/#e014)
[code]

### Actual result

The API Key is unmasked

### Environment

Run `rover inf

[2022-03-08 05:53] sambhavmt opened #1026 "Getting an E003 error while not using any header"
Error E003

I am not providing any header, still getting this while fetching the schema using graph id and variant, and also when trying to publish the same after I used introspect to bring the schema onto local.

[2022-03-08 17:42] EverlastingBugstopper opened #1028 "run supergraph-demo2 in `xtask integration-test`"
as the title says, we should run https://github.com/apollographql/supergraph-demo-fed2 in `cargo xtask integration-test`

[2022-03-10 13:47] fgroen commented on #843
It would be great to have markdown support for rover! I'm missing this in our CI/CD for providing easy feedback.
Additionally, it would also be helpful to have multiple outputs. Like: plain output we can show in the logs *and* markdown output to write to a file.
If I'm not mistaken this was possible in the previous cli.

[2022-03-11 18:34] EverlastingBugstopper opened #1032 ""encountered n build errors" message is duplicated in error output."
not a huge deal, just an aesthetic thing, but we should remove the duplicate output here:

[code]

[2022-03-16 17:23] EverlastingBugstopper commented on #956
this is done now, `federation-rs` is in a fairly stable state.

[2022-03-16 17:23] #956 closed, assigned to nobody

[2022-03-16 17:24] EverlastingBugstopper commented on #867
closing this as won't do

[2022-03-16 17:24] #867 closed, assigned to nobody

[2022-03-16 17:26] #1010 closed, assigned to bnjjj

[2022-03-16 18:40] EverlastingBugstopper opened #1044 "migrate from `chrono` to `time`"
we should migrate from `chrono` to `time` because it is a more actively maintained project, and there are some security issues.

unfortunately, there is still a security issue in `time` as outlined by @Geal:

    // check. This is to prevent issues with the environment being mutated by a different thread in
    // the process while execution of this function is taking place, which can cause a segm

[2022-03-16 18:57] EverlastingBugstopper commented on #1026
Hey @sambhavmt, thanks for the report.

I think I'll need some more information before I'd be able to diagnose your issue. Would you mind running the command that gave you the `E003` error again with `--log trace` and paste the entire command and output here?

[2022-03-17 16:45] EverlastingBugstopper opened #1046 "auto-download the correct version of `supergraph` plugin when running `rover supergraph compose`"
currently there are two `supergraph compose` commands.

1) `rover supergraph compose` uses v0.x of the `harmonizer` crate and is compiled directly into Rover.
1) `rover fed2 supergraph compose` uses v2.x of the `harmonizer` crate and is compiled into a `rover-fed2` binary that must be installed separately.

For Federation 2 GA we want `rover supergraph compose` to handle _both_ versions of federat

[2022-03-17 16:58] lennyburdette commented on #1046
is `rover install --plugin` sticking around? if i wanted to bake both rover and the appropriate composition plugin into a docker image, would i be able to include:
[code]
(I'm thinking about customers that balked at the rover having to make extra network requests to function.)

[2022-03-17 17:00] lennyburdette commented on #1046
Oh i misread — the installer script will download multiple binaries all in one command, correct?

[2022-03-17 17:00] EverlastingBugstopper commented on #1046
the plan is to remove `rover plugin --install rover-fed2` entirely and to have rover come preloaded with the binaries you need. so really it would look like this if you didn't want to do extra networking calls after installing rover

[code]

[2022-03-17 17:01] EverlastingBugstopper commented on #1046
That's correct! And Rover will by default do those extra network calls only once a day to make sure that dev machines are staying up to date. In CI you'll likely want to run compose with `--skip-update`. Does that seem sufficient here or do you think folks will really want to pin specific fully qualified versions?

[2022-03-17 17:05] lennyburdette commented on #1046
we'll see how the "platform version" story evolves, but planning for pinning composition version is probably a good idea. customers like predictability and having the version in their dockerfiles will add clarity.

[2022-03-18 14:38] BrynCooke opened #1047 "Change env variable / cli arg precedence"
## Description

Currently Rover uses the following precedence rules for command line args:
1. Env variables
2. Command line args
3. Defaults

However this is rather unusual. Typically the following is used
1. Command line args
2. Env variables
4. Defaults

This way the user does not get unexpected behaviour if they have an environment variable set and they forget about it. The worst case is that u

[2022-03-18 18:04] EverlastingBugstopper commented on #1047
This would definitely be a breaking change, something we'd want to detect and warn users about ahead of time.

i'm thinking that soon-ish we should start printing warnings if we notice an environment variable exists. there's some maybe funky behavior here around if they don't specify an argument but structopt uses a default. like `(--profile default)` in most API related commands.

pre-1.0:

[code

[2022-03-18 18:08] EverlastingBugstopper commented on #1047
This is a quote from [clig.dev](https://clig.dev/#configuration):

[2022-03-19 12:43] Tohaker opened #1050 "rover fed2 supergraph compose fails on Windows (Powershell + CMD)"
## Description

Following the Federation 2 quickstart guide to the letter, at the [local composition](https://www.apollographql.com/docs/federation/v2/quickstart/local-composition) step the following error is shown when running the rover CLI on Windows. Note that this issue does not persist when switching to WSL (Ubuntu 20.20).

### Steps to reproduce

Follow all the steps [here](https://www.apoll

[2022-03-21 16:49] lrlna commented on #1046
This proposal really simplifies composition in Rover, imo! I like that it provides a unified experience to the users without being really magic-y under the hood. This will make it easier to reason about. I also like that we are nudging folks to version 2, which hopefully will mean more and more people will transition to it a bit sooner.

To clarify a few things:
1. When you say,

    by "negotiate

[2022-03-21 21:13] EverlastingBugstopper commented on #1046
The thinking was that we'd detect if you have `@link` specified in any of the subgraphs and just use fed 2 if you do and use fed 1 if you don't. I have [this issue](https://github.com/apollographql/federation-rs/issues/45) that kinda goes into a bit more detail on this but I'm not sure if it's actually a good idea after thinking about it a bit more. It might be nice to do it if `apollo-rs` can det

[2022-03-22 10:45] dchambers commented on #958
I've just found an even more compelling reason for wanting this feature. Although subgraph teams are already recommended to setup Apollo checks within their CI pipelines, this is not possible to enforce. We'd therefore like to be able to centrally prevent the publishing of schemas that break operation errors to eliminate this aspect of operational risk.

[2022-03-22 13:56] lrlna commented on #1046
Gotcha! I agree with you, having another JS --> Rust lib might be quite cumbersome, especially as we try to move away from having JS dependencies in our Rust packages.

`apollo-parser` can be used to look for a `@link` directive. I can help you with getting this functionality in, if you like. Additionally, we can add a "find directive" query to the upcoming `apollo-compiler` crate in `apollo-rs` t

[2022-03-23 17:36] schoolprojects2025 opened #1054 "Error when running supergraph compose"
I get following error when running supergraph compose. Have anyone else encountered similar issue or any suggestions?

error[E004]: error decoding response body: expected value at line 1 column 1
        This error was unexpected! Please submit an issue with any relevant details about what you were trying to do: https://github.com/apollographql/rover/issues/new/choose

Thank You,

[2022-03-23 22:21] jord1e commented on #1050
Try it with UTF8:
[code]

or try PowerShell **Core** - this works for me: https://github.com/powershell/powershell

[2022-03-24 20:11] EverlastingBugstopper commented on #1046
that would be absolutely stellar.

[2022-03-24 22:51] EverlastingBugstopper commented on #1054
Hey @pkunwor - sorry you're having issues. Would you mind running the command that failed again with the `--log debug` argument, and if at all possible, the offending supergraph.yaml file?

[2022-03-27 15:51] VijayakumarKupusamy opened #1055 "EOF while parsing a value at line 1 column 0"
EOF while parsing a value at line 1 column 0

[2022-03-28 15:17] #1023 closed, assigned to EverlastingBugstopper

[2022-03-28 15:19] EverlastingBugstopper commented on #1055
Hey @VijayakumarKupusamy - we'll need more information on this. We have an issue template, please open a new issue and fill one out. Thank you!

[2022-03-28 15:19] #1055 closed, assigned to nobody

[2022-03-28 21:59] EverlastingBugstopper commented on #1011
Context that might be helpful when refactoring errors https://twitter.com/yaahc_/status/1508563653729030144?s=21&t=uo-nAw7Y-tSkUKV_Csy8eg

[2022-03-29 05:48] VijayakumarKupusamy commented on #1050
![image](https://user-images.githubusercontent.com/77728298/160542061-09531bf0-eebd-4851-9fe8-65de2f216634.png)

again same issue only. Kindly suggest other options.

[2022-03-30 14:50] ashu-dd commented on #447
I am looking for documentation/instructions for setting up Rover in Jenkins CI/Build pipelines. Any updates on this ticket or alternate resources to refer?

[2022-04-01 10:09] hexnaught opened #1060 "(fed2) `sh: 1: You: not found` when trying to install Rover fed-2 CLI plugin."
## Description

First noticed the issue in our build pipeline (Github Actions) running the following step -

[code]

Running the commands locally to see where the issue lay, including checking back to the docs and running those commands - when attempting to install the rover fed-2 plugin, receiving `sh: 1: You: not found` error (in bash / sh / zsh).

![image](https://user-images.githubusercontent.

[2022-04-01 17:21] EverlastingBugstopper commented on #1060
hey @hexnaught - thanks for the issue! I think the issue here is that you have a lowercase `l` instead of an uppercase `L` in your curl script! if you change it to `curl -sSL https://rover.apollo.dev/plugins/rover-fed2/nix/latest | sh -s -- --elv2-license accept` does it work? The reason this likely worked before is because we weren't serving a redirect at this URL but now we are. Our docs recomme

[2022-04-02 10:21] hexnaught commented on #1060
@EverlastingBugstopper Thank you for the response - Using the uppercase `L` did indeed work and it looks like the docs have now been updated so thank you
🙏  https://github.com/apollographql/federation/commit/8c9671baa20ccf4bf5d34c89f4c7f4d8ad78456d

I will close this issue now and make the changes we need to.

[2022-04-02 10:21] #1060 closed, assigned to nobody

[2022-04-02 17:04] carlocorradini commented on #1050
Same issue. Any (new) suggestion? 😥

PS: Already tried @jord1e solution

[2022-04-04 00:06] tlvenn opened #1062 "Missing leading space before & on implemented interfaces when exporting schema"
## Description
rover graph introspect command produces schema with missing spaces before the `&` keyword on implemented interfaces.

### Steps to reproduce
Export a schema with a type or an interface implementing multiple interfaces.

### Expected result
When writing down the schema, the implemented interfaces should be separated with ` & ` like this:
[code]
### Actual result
[code]
### Environmen

[2022-04-04 04:13] bnjjj commented on #1062
Should be related to apollo-encoder, I will take a look

[2022-04-04 04:39] tlvenn commented on #1062
Thanks @bnjjj !

[2022-04-04 13:13] bnjjj commented on #1062
@tlvenn It has been fixed by https://github.com/apollographql/rover/pull/1017 but it's not already part of a release, on the next release it will be automatically fixed

[2022-04-04 14:08] tlvenn commented on #1062
Thanks for the update @bnjjj

[2022-04-05 14:17] carlocorradini commented on #719
Any update on this? It could be super useful...

We can _dockerize_ it as [Apollo Router](https://github.com/apollographql/router/tree/main/dockerfiles) and publish it on [GitHub Packages](https://github.com/features/packages).

What do you think? 🤯🥳

[2022-04-05 19:03] #1046 closed, assigned to EverlastingBugstopper

[2022-04-05 19:04] #790 closed, assigned to EverlastingBugstopper

[2022-04-05 19:05] #1062 closed, assigned to bnjjj

[2022-04-05 20:33] EverlastingBugstopper opened #1064 "v0.5.0-rc.0 does not work when installing via npm"
"you must install rover before you can run it"

[2022-04-06 20:39] EverlastingBugstopper opened #1068 "feat: support `--config -` (read a file from stdin) for `rover supergraph compose`"
our `--schema` flag allows us to take in either a file or `stdin`. `--config` should do the same

[2022-04-06 21:48] ivanbrennan opened #1069 "How to package/install fed2 plugin on NixOS"
## Description

I'd like to use rover on [NixOS](https://nixos.org/), which precludes installing via the provided install scripts, so I wrote a Nix package for rover -- https://github.com/NixOS/nixpkgs/pull/164986 -- which works as expected.

However, I can't figure out how to include the fed2 plugin in my Nix package, and attempting to install it imperatively fails:
[code]

I'm not very familiar

[2022-04-06 22:40] AWinterman opened #1070 "Documentation on building supergraphs is hilariously incomplete"
## Description

There are two exmaples of a pair of specific use cases for how to configure rover's supergraph stitching together, but no indication of whether other configurations are supported, or indeed what the rules are for the examples given.

[2022-04-06 23:00] ldiaz-occ-com-mx opened #1071 "Error with rover when publishing a subgraph and composing the supergraph"
## Description
I have github actions in my repo to run checks for the schema of my subgraphs and run a subgraph publish when the changes are merged.
I had a problem publishing a specific subgraph, `rover-cli@0.1.0` returned this:
[code]

So I re-run the action and received a different result, I even upgraded the rover-cli to the 0.4.8 version, but I'm receiving this:
[code]
Any idea what's going o

[2022-04-07 20:37] EverlastingBugstopper commented on #1071
This seems like a strange edge case due to the old version of rover sending null for something that is now not nullable. My hypothesis is that this put your graph in a weird state. Maybe try adding a type and publishing it and then removing it? That might fix up your graph. If it doesn't, please do let me know and I'll have some back end folks take a look for you.

[2022-04-07 20:52] EverlastingBugstopper opened #1072 "feat: remember answer to elv2 accept"
folks should only have to accept the elv2 license _once_. the very first time they run a bit of fed2 code on a machine.

this should be added in the `houston` crate

[2022-04-07 20:53] EverlastingBugstopper commented on #1069
Hey @ivanbrennan - we are deprecating the `rover-fed2` plugin and I think what we have coming up (currently available as a release candidate) might just fix this for you?

For some background, `rover-fed2` was released as part of "[Federation 2 Preview](https://www.apollographql.com/blog/backend/federation/apollo-federation-2-and-gateway-2-0-are-now-available-in-preview/)" of what we will be makin

[2022-04-07 23:55] cpeacock commented on #1070
Do you have a particular case or configuration you're looking for?  Rover's supergraph mechanics are tied to [Apollo Federation](https://www.apollographql.com/docs/federation/), and that should have copious documentation on how to get up and running.  We're constantly iterating to make our documentation better.  Please take a look at our [code of conduct](https://github.com/apollographql/rover/blo

[2022-04-07 23:55] #1070 closed, assigned to nobody

[2022-04-11 11:20] cyberhck commented on #719
Will Apollo Router be able to do everything that rover does?

[2022-04-11 15:02] #1072 closed, assigned to EverlastingBugstopper

[2022-04-11 15:10] EverlastingBugstopper commented on #961
This was fixed by #1075

[2022-04-11 15:10] #961 closed, assigned to EverlastingBugstopper

[2022-04-11 15:10] EverlastingBugstopper commented on #899
This should be fixed by #1067

[2022-04-11 15:10] #899 closed, assigned to EverlastingBugstopper

[2022-04-11 19:04] EverlastingBugstopper commented on #1071
I believe this ticket has been resolved internally so I'm closing this. If this is not the case then please do not hesistate to re-open this issue.

[2022-04-11 19:04] #1071 closed, assigned to nobody

[2022-04-11 19:05] EverlastingBugstopper opened #1081 "hard error instead of TTY prompt if running in CI"
if no tty detected for `rover install --plugin supergraph@latest-{0,2}`, hard error instead of just hanging. suggestion should be to set `APOLLO_ELV2_LICENSE=accept`

[2022-04-11 19:44] #1081 closed, assigned to EverlastingBugstopper

[2022-04-11 22:38] EverlastingBugstopper opened #1085 "typo in `rover fed2` suggestion"
it should be `federation_version: 2` not `federation_version = 2` in the suggestion. thanks to @lennyburdette for the catch.

[2022-04-13 09:44] SGudbrandsson opened #1088 "Rover introspection output breaks when using triple quotation marks"
## Description

Rover introspection output SDL is broken when it wants to use a triple quotation mark.
![image](https://user-images.githubusercontent.com/1608474/163147034-f6db9ea8-e5c6-446e-b500-3494b1f71f7a.png)

Rover should introduce a newline after closing the triple quotation marks, but it doesn't. This results in a broken SDL.

### Steps to reproduce

1. Introspect an API with schema stitch

[2022-04-13 10:01] lrlna commented on #1088
@SGudbrandsson thanks for the report! it's a bug with our [`apollo-encoder`](https://github.com/apollographql/apollo-rs/tree/main/crates/apollo-encoder), i'll get you a fix in.

[2022-04-13 13:16] Geal opened #1089 "show a warning when building a fed1 supergraph from fed2 subgraphs"
related to https://github.com/apollographql/router/issues/837

I was building fed2 subgraphs, and tried to compose them with rover, but did not set the fed2 option in supergraph.yaml. Rover then creates a supergraph file, without complaining, that looks like this:

[code]

This fails loading in the router (not in the gateway apparently).

I think here rover should show an error or warning message

[2022-04-13 14:48] prasek commented on #1089
@EverlastingBugstopper can we have rover supergraph compose fail if using `federation_version:1` (or omitted) and there are Fed 2 subgraph schemas with `@link`? ideally something like:

[2022-04-13 15:35] EverlastingBugstopper opened #1090 "feat: use `apollo-rs` to auto-use Federation 2"
when any subgraph contains an `@link` directive, rover should just use federation 2 composition under the hood.

right now the only way to use federation 2 is to set `federation_version: 2` in `supergraph.yaml`

this means if you pass a bunch of subgraphs with `@link` directives, `rover supergraph compose` will use federation 1 composition by default. we should instead detect the existence of an `

[2022-04-13 15:46] EverlastingBugstopper commented on #1090
for more context see #1089

[2022-04-13 15:46] EverlastingBugstopper commented on #1089
thanks for the report @Geal - I've opened #1090 to address this

[2022-04-13 15:46] #1089 closed, assigned to EverlastingBugstopper

[2022-04-13 16:00] prasek commented on #1090
@EverlastingBugstopper awesome this is great.

will it work like this?
- if `federation_version` included in `supergraph.yaml` then always use that version for composition
- if `federation_version` omitted in `supergraph.yaml`, then auto-detect `federation_version`, looking for `@link` fed2

[2022-04-13 16:01] EverlastingBugstopper commented on #1090
yup!

[2022-04-13 16:56] #1085 closed, assigned to EverlastingBugstopper

[2022-04-13 17:01] EverlastingBugstopper commented on #1064
this was fixed in v0.5.0-rc.1

[2022-04-13 17:01] #1064 closed, assigned to nobody

[2022-04-13 17:04] EverlastingBugstopper commented on #1069
We've since released v0.5.1 of Rover that should be much easier to integrate. I have a docs PR that is in review stage right now that may be helpful to you. I'll post again here when those docs go live. https://github.com/apollographql/rover/pull/1087

[2022-04-13 17:05] EverlastingBugstopper commented on #1054
Closing this issue due to inactivity. Please feel free to reopen with more information if you are still stuck!

[2022-04-13 17:05] #1054 closed, assigned to nobody

[2022-04-13 17:07] EverlastingBugstopper commented on #210
Closing this issue - we've had `rover supergraph compose` for a while now.

[2022-04-13 17:07] #210 closed, assigned to nobody

[2022-04-13 17:09] EverlastingBugstopper commented on #618
Closing this

[2022-04-13 17:09] #618 closed, assigned to nobody

[2022-04-13 17:10] EverlastingBugstopper commented on #1068
closing as duplicate of #525

[2022-04-13 17:10] #1068 closed, assigned to nobody

[2022-04-13 20:30] mdecurtins commented on #694
Just coming here to say this would be very useful. We don't have a federated schema, but for `graph publish` it would be great to supply a file glob instead of being limited to a local endpoint or a single `*.graphql` file. Interesting workaround using `cat`, but we all know that official support is better than workarounds. 😄

[2022-04-13 21:08] EverlastingBugstopper opened #1093 "feat: output the selected `federation_version` for `rover supergraph compose` with `--output json`"
maybe a good idea maybe not - if we do i think we should also do it for `subgraph publish`, `subgraph check`, and maybe even `supergraph fetch`. this would require changes in studio

[2022-04-14 20:20] dsound-zz opened #1094 "error[E004]: Error decoding response body"
## Description

Running `yarn codegen` gives an unexpected error.

### Steps to reproduce

I don't have much experience posting bug reports. I'm a junior FE developer at a company and don't know how to post code that could be give an example of the error. I tried a few different branches to see if it was just my current working branch but got the same result.

### Expected result

An automated gen

[2022-04-14 20:22] dsound-zz commented on #1094
After further searching, Turns out this is a server error.

[2022-04-14 20:22] #1094 closed, assigned to nobody

[2022-04-15 18:26] conradwt opened #1095 "Wrong architecture version of Rover downloaded when using curl on Apple Silicon"
## Description

When using `curl -sSL https://rover.apollo.dev/nix/latest | sh` to download Rover on Apple Silicon, I'm seeing the following:

[code]

### Steps to reproduce

[code]

### Expected result

[code]
### Actual result

[code]

### Environment

Run `rover info` and paste the results here

[code]

If you can't run `rover info` for some reason, please provide as much of the following info

[2022-04-19 18:03] prasek commented on #1093
would be good to show the min Gateway/Router version to run the composed supergraph, and not just in --output json

@EverlastingBugstopper should we open a separate issue for this or roll it into this one?

[2022-04-19 18:45] benweatherman commented on #1093
I'm wondering if we could have the `supergraph` binaries output their current version for the `rover supergraph compose` case. For fed2, that would allow us to say they should use a gateway >= that version and could be a quick fix. For fed1, that story gets a little more complicated because the composition version doesn't line up with the gateway version (but we could have a simple-ish lookup for

[2022-04-20 20:09] EverlastingBugstopper commented on #1093
yeah, separate issue please

[2022-04-22 23:10] kumarrishav opened #1100 "publish new version of @apollo/rover - 0.5.2"
## Description

Please describe in as much detail the kind of feature would you like us to add!

Add details like:
- What does it do?
- What are the inputs/outputs?
- Prior art (are there any other tools/products that do this now?)
- What is your use case for this?

[2022-04-23 09:26] marchenko1985 commented on #309
Maybe `NO_COLOR` deserves a separate issue

It should be much easier to implement and may not wait for color styles

[2022-04-23 20:57] a7ul commented on #582
With recent plugin based architecture of rover
`rover supergraph compose` now breaks for these self compiled linux arm64 rover cli's since we need to compile rover cli and the supergraph plugin binary too alongside it. Otherwise rover cli will download x86_64 plugin binaries instead in linux.

Hence had to update @mziwisky 's cross compilation docker image like so

[code]

And along side this I us

[2022-04-26 16:11] #525 closed, assigned to EverlastingBugstopper

[2022-04-26 18:07] EverlastingBugstopper opened #1103 "feat: `rover dev` should extend a remote supergraph with a local subgraph"
I'm thinking we could take a similar plugin approach that we have with `supergraph compose`.

auto-download the correct router version that matches the composition version that Rover selects, and put it in `~/.rover/bin/router-v2.0.0`. Rover could run the router with a call to `execvp` or something similar, may want to just use `std::process::Command` to make sure it works on Windows.

Biggest una

[2022-04-26 18:08] #1100 closed, assigned to nobody

[2022-04-26 18:09] EverlastingBugstopper commented on #1100
hey @kumarrishav - we generally don't need issues reminding us to cut new releases but I love the excitement!

[2022-04-26 18:10] EverlastingBugstopper commented on #1095
Hi @conradwt - this is expected, the version of Rover that was downloaded here should work as expected because M1 machines ship with Rosetta which translates x86_64 instructions to ARM. We have #1008 open that will create a "universal" or "fat" binary that will include both instruction sets in our binaries but that is not quite ready yet.

[2022-04-26 18:10] #1095 closed, assigned to nobody

[2022-04-26 18:11] #1090 closed, assigned to lrlna, EverlastingBugstopper

[2022-04-26 18:11] EverlastingBugstopper commented on #1032
this is fixed

[2022-04-26 18:11] #1032 closed, assigned to nobody

[2022-04-26 18:11] EverlastingBugstopper commented on #984
this is done

[2022-04-26 18:11] #984 closed, assigned to nobody

[2022-04-26 18:12] EverlastingBugstopper commented on #920
done

[2022-04-26 18:12] #920 closed, assigned to EverlastingBugstopper

[2022-04-26 18:15] EverlastingBugstopper commented on #766
this should be fixed

[2022-04-26 18:15] #766 closed, assigned to nobody

[2022-04-26 18:16] EverlastingBugstopper commented on #718
this exists - it only prints this message if it detects that rover isn't already in your PATH

[2022-04-26 18:16] #718 closed, assigned to nobody

[2022-04-26 18:58] EverlastingBugstopper commented on #1103
To really follow the pattern here, will need to support downloading `router` binaries via [Orbiter](https://github.com/apollographql/orbiter). [This function](https://github.com/apollographql/orbiter/blob/main/src/functions/tar/tar.ts) provides `rover.apollo.dev/tar` endpoints that support versions and target triples.

switch statements in [this file](https://github.com/apollographql/orbiter/blob/

[2022-04-27 21:40] tysoncadenhead commented on #615
It would also be helpful to be able to use headers on the root subgraphs. Something like:

[code]

The use-case here is that I have a Federated endpoint in front of Private API subgraphs in AWS and the way I'm accessing them is via a header specifying an api gateway id for my VPN Endpoint.

[2022-04-28 04:42] dyki-danbi opened #1114 "bug: crashed while <insert description here>"
**Crash Report**

[code]

[2022-04-28 13:36] split opened #1115 "Link to the federation specifcation v2 is not detected by rover"
## Description

Federation v2 link is not detected correctly when attempting to publish `printSubgraphSchema` generated schema. Other errors rover is reporting are most likely more `printSubgraphSchema` related.

### Steps to reproduce

Attempted to publish following subgraph using `rover subgraph publish`:
[code]

 This schema was generated using `printSubgraphSchema` (subgraph version 2.0.1) wit

[2022-05-02 18:35] EverlastingBugstopper commented on #1115
Hey @split, thanks so much for the report.

I believe that what you're encountering here is expected behavior, though likely not the most intuitive.

You'll have to opt in to Federation 2 in Apollo Studio in order for this to work. `rover supergraph compose` has a bit looser version selection rules that can allow `@link` directives to make the default composition function Federation 2.

However, m

[2022-05-02 18:38] EverlastingBugstopper commented on #1114
Hi @dyki-danbi - thanks so much for the report. If you get the time, would you mind filling us in with a few more details like what command you were trying to run, and with what inputs?

cc @lrlna since this seems apollo-encoder related

[2022-05-02 18:38] #1093 closed, assigned to EverlastingBugstopper

[2022-05-02 19:04] split commented on #1115
@EverlastingBugstopper Thanks for your reply and I should have mentioned I have opt-in to Federation 2 in Apollo Studio and publishing works if I use schema fetched via rover introspection

[2022-05-03 08:37] lrlna commented on #1114
I guess this is a crash with `rover graph introspect`? It seems to be crashing in description encondings, but I need to see the shape of the schema or at least its descriptions to debug.

[2022-05-03 10:06] #1088 closed, assigned to lrlna

[2022-05-03 12:34] KoenBrouwer opened #1119 "Add support for Node 18"
## Description
[Friendly reminder that Node 18 is here. 🙂](https://nodejs.org/en/about/releases/)!
Just upgraded my workspace from Node 16 to Node 18 and while installing version 0.5.4, we're now getting the following warning:

[code]

[2022-05-03 15:59] EverlastingBugstopper commented on #1119
Hey @KoenBrouwer - thanks for the report. Our next release will remove the upper bound on Node versions so this shouldn't happen again for Node 19/20.

[2022-05-03 15:59] #1119 closed, assigned to nobody

[2022-05-03 16:51] KoenBrouwer commented on #1119
Great, that's all I needed. Thanks! 🎉👍🏻

[2022-05-03 20:41] EverlastingBugstopper opened #1122 "consider using `apollo-parser` to color-code SDL"
would be cool to have `jq`-like highlighting for any SDL-like output if a tty is detected

[2022-05-03 22:15] EverlastingBugstopper opened #1123 "consider using KDL for .apollo"
if we end up putting config into a .apollo directory, we should consider using KDL and making commands to modify the config automatically.

see this thread for benefits of this approach over modifying YAML/TOML in place https://twitter.com/zkat__/status/1521608998667046912

[2022-05-03 23:18] benweatherman commented on #1115
howdy @split! We've confirmed this is an issue in the underlying `printSubgraphSchema` code as you mentioned and are working on fixing that in https://github.com/apollographql/federation/issues/1824.

While we work through that, would publishing your subgraph directly work for your usecase? Calling `rover subgraph publish` with this subgraph should succeed:

[code]

If that's not an option, would

[2022-05-04 07:51] lrlna commented on #1088
@SGudbrandsson would you mind giving `v0.6.0` a try and letting me know if that works for you?

[2022-05-04 17:07] benweatherman opened #1124 "Superfluous newline shows on stdout when running rover supergraph compose"
## Description

There's a newline printed to stdout for the supergraph schema that didn't appear in previous versions.

### Steps to reproduce

Run `rover supergraph compose --config supergraph.yaml 2>/dev/null` with any working supergraph config. Notice that there's a newline at the top of the supergraph (this may not show very well in the rendered markdown).

[code]

### Expected result

I would

[2022-05-04 18:31] #1115 closed, assigned to nobody

[2022-05-05 17:17] gevuong commented on #573
Hi I know this issue is closed but I'm encountering a similar issue that returns the same 400 error.
The GraphQL query works in postman with the apollo server URL and API key in the header.
The graph is not federated, and is a monolith, so therefore I'm using `rover graph` instead of `rover subgraph`.

Now, I would like to fetch the GraphQL server's schema via introspection and write it to a `temp

[2022-05-06 15:47] EverlastingBugstopper commented on #573
That's strange @gevuong - what version of Rover? Also, maybe you could get some more information here if you run the command with `--log debug`

[2022-05-06 17:35] gevuong commented on #573
Hi @EverlastingBugstopper,

[code]
I ran with `--log debug` like so:
`rover graph introspect https://xxx.com/xxx/graphql -H apikey:xxx --log debug`

According to logs, it looks like a connection was made to the server, headers were parsed, and the body of the request was received. But afterward, it throws a 400 😕 . And yes, the expected API key name is `apikey`.

[code]

[2022-05-06 17:48] EverlastingBugstopper commented on #573
That's so strange! OK I'm going to recommend that you try running the query that Rover is running here as a `cURL` request to see if the body of the response gives you any meaningful information here.

[code]

[2022-05-09 12:08] olivernybroe commented on #719
While waiting for this feature, we created a small wrapper for our needs (really low effort added) 👍

We only use it for publishing the subgraph as a job in k8s.
You can find our docker wrapper here
https://hub.docker.com/repository/docker/worksome/rover/general
https://github.com/worksome/rover

[2022-05-09 16:06] gevuong commented on #573
Alrighty, so with the help of your curl command, the returned error stated introspection needed to be set to true.
I then added `introspection: true` and now it works!

With that being said, based on Apollo Server [docs](https://www.apollographql.com/docs/apollo-server/api/apollo-server/), under the introspection schema option, `The default value is true, unless the NODE_ENV environment variable i

[2022-05-16 10:50] BrynCooke opened #1130 "Add support for Apollo Router"
It's be good to start discussing a basic subcommand for Apollo Router.

Things that we may want to do + questions:
* Scaffold a new router as a library project
  * Can we use https://github.com/iomentum/cargo-scaffold? (we can)
  * plugin-new (Create a new plugin)
  * plugin-search (List plugins on the marketplace)
  * plugin-add (Add an existing open source plugin)
  * How are plugins published?

[2022-05-19 03:34] jameslnewell opened #1132 "Rover erroring when using --validation-period=<anything>"
## Description

`rover` is erroring when I try and use `--validation-period=<anything>`

[code]

### Steps to reproduce

Call rover graph check with a validation period e.g.
[code]

### Expected result

Schema got checked.

### Actual result

Got an error.

### Environment

[code]

[2022-05-19 05:04] jameslnewell commented on #1132
It works after re-generating our token. Very ambiguous error message 😬

[2022-05-19 05:04] #1132 closed, assigned to nobody

[2022-05-19 06:27] abernix commented on #1132
Apologies for this.  This was actually a [platform outage](https://status.apollographql.com/incidents/c5dvk0tbg5bv) affecting a number of users, but took us longer than we'd hoped to identify and put up the status page for (in case you checked that previously). We believe resetting your API key just happened coincide with the time it was resolved.

Thanks for reporting it!

[2022-05-19 08:45] ThomasJamesCrawford opened #1133 "fetch all the variants of a graph"
## Description

We create a new variant of our graph for each unique ephemeral environment we spin up.

We want to be able to cleanup these variants when they're no longer required.

We can delete the variant if we know the exact name, but if we lose track of the possible variants there's no way to list them all out to find ones we no longer need.

Just something like this would be really helpful

[2022-05-21 05:15] HrayrR opened #1135 "error[E003]: Invalid header value"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. **Please** link to a reproduction if you can. This makes your issue _much_ easier to diagnose.

### Expected result

What should happen?

### Actual result

What actually happened.

### Environment

Run `rover info` and paste the results here

If you can't run `rover i

[2022-05-22 11:00] setchy commented on #1020
#1128

[2022-05-25 12:50] litiziyang opened #1136 "operation timed out"
I am first time use @apollo/rover
I do this "$rover supergraph compose --config ./supergraph.yaml --client-timeout=60" but
<img width="862" alt="image" src="https://user-images.githubusercontent.com/51893504/170265062-bf45c45a-e09c-4a6e-b0e7-66545155594a.png">

my  supergraph config
<img width="359" alt="image" src="https://user-images.githubusercontent.com/51893504/170265226-c4254bfb-f6d0-4492-b3

[2022-05-25 13:58] litiziyang commented on #1136
ok , I solved the problem my rover don‘t download supergraph package I download this package and mv ~/.rover/bin, maybe my env is Disorderly ,this rover download don't find ~/.rover/bin

[2022-05-26 16:07] EverlastingBugstopper commented on #1136
Hi @litiziyang - thanks for filing the report and sorry that you've run into some issues here! We don't want folks to have to manually download the plugin on their own if we can help it so I'd love to work through some troubleshooting with you if you have the time.

What is the output of the command `rover info`? This should tell us some things about your system installation.

After that, temporar

[2022-05-26 16:10] EverlastingBugstopper commented on #1135
@HrayrR I'm closing this issue for now because there is not enough information. If you are still stuck and need help, please fill out the content of the issue with more information and we can try to troubleshoot further.

[2022-05-26 16:10] #1135 closed, assigned to nobody

[2022-05-31 20:54] EverlastingBugstopper commented on #1130
Hey @BrynCooke - thanks for opening this. I've copied your comment over to #1103 and I'm going to close this as a duplicate. Let's continue discussion there!

[2022-05-31 20:54] #1130 closed, assigned to nobody

[2022-05-31 20:54] EverlastingBugstopper commented on #1103
_originally posted by @BrynCooke in #1130_

[2022-06-01 07:10] vvakame commented on #1114
I got same error message.
`npx -p @apollo/rover rover graph introspect https://example.com/api/graphql --header='X-OUR-SECRET: foobar'`

I share my case below.
I uses GraphQL schema with japanese.

e.g.

[code]

<details>

[code]

</detail>

[2022-06-03 21:56] EverlastingBugstopper opened #1138 "run `isFederatedQuery` before `rover graph publish`"
currently the API returns this error: `error: Forbidden: Cannot upload schema directly for federated graph. The model of the service registry is that the graph's schema is computed by composing underlying services. If you have pushed services in error, they can be deleted using the CLI.` which is not _the worst_, it's just a tad inconsistent and still uses outdated "services" terminology.

[2022-06-06 17:27] EverlastingBugstopper opened #1140 "document `readme` commands"
we should have an extra top level "subcommand" page (like "graph", "subgraph", and "supergraph") that have docs on publishing and fetching readmes. this information should include information about the `{{ graph.ref }}` magic template strings that folks can use inside of their readmes (or it should link to an already existing documentation page that has this information)

[2022-06-06 17:27] EverlastingBugstopper commented on #1140
note: you should be able to run `cargo xtask docs` to spin up a local docs server and see changes made to the `docs` folder reflected on your local server fairly quickly!

[2022-06-06 17:53] cy commented on #1140
@EverlastingBugstopper I will take on this ticket :)

[2022-06-07 08:36] dchambers commented on #958
Yet an even more compelling reason for this feature is where a composition error starts to occur on staging or prod, where CI checks are required, and therefore blocking PRs that would fix that composition error.

[2022-06-07 20:40] #1140 closed, assigned to EverlastingBugstopper

[2022-06-07 21:12] bverhoeven opened #1144 "Cloning/copying subgraphs into new variants"
## Description

I'd like to have an ability to clone/copy an existing (super)graph into a new variant.

We started using subgraphs with per-feature-branches, but would also love to create a feature-specific variant of our schema where the updated subgraph is replaced, but all other subgraphs still use the schema and routing URL of our main staging environment.

Currently, publishing the updated su

[2022-06-09 20:24] setchy commented on #1020
Released in [v0.7.0](https://github.com/apollographql/rover/blob/main/CHANGELOG.md#070---2022-06-09)

[2022-06-09 20:24] #1020 closed, assigned to nobody

[2022-06-13 20:32] EverlastingBugstopper opened #1149 "feat(docs): reorganize page categories and expand the "reference" section"
On the left nav for the [rover docs](https://www.apollographql.com/docs/rover/), there are standalone pages like [install](https://www.apollographql.com/docs/rover/getting-started), and then there are pages in subcategories for other commands like [graph commands](https://www.apollographql.com/docs/rover/graphs) in the "Base commands" section, and [subgraph commands](https://www.apollographql.com/