[2022-06-13 20:33] EverlastingBugstopper commented on #1149
we shouldn't start implementation on this until we have some buy-in from folks, but for whoever does end up doing this - don't forget you can run `cargo xtask docs --verbose` and we'll spin up a local dev server for you and you can have live reload for the `./docs` markdown source files)

[2022-06-15 05:29] abernix commented on #618
For what it's worth, it is _also_ a security risk because flags passed to CLIs are available in process lists, whereas environment variables are not.  More concretely, we opted to yank support for the same at the request of our security vendor when shipping the Router's CLI.

[2022-06-15 20:48] EverlastingBugstopper opened #1150 "better error message for permissions issue on `rover readme publish`"
if i run `rover readme publish` with an API token that only has consumer/observer roles, I get the following:

[code]

while this message tells me what i need to know, it's unfortunate that it appears as an exception like this. perhaps something like this would be more appropriate:

[code]

I'm not sure what the best way to go about fixing this up is since there is no error data coming from the AP

[2022-06-21 06:55] DunDun1124 opened #1153 "How to do if the routing_url is a list?"
federation_version: 2
subgraphs:
  films:
    routing_url: https://films.exampleA.com, https://films.exampleB.com
    schema:
      file: ./films.graphql

[2022-06-21 15:43] EverlastingBugstopper commented on #1153
Hi @DunDun1124 - thanks for the question. I'm not entirely sure what the behavior of this would be by just looking at it? Are you trying to do A/B testing? Deploy to a staging/canary environment before production? What would you expect a composed schema to look like if a subgraph has two possible routing URLs?

[2022-06-23 18:41] #447 closed, assigned to EverlastingBugstopper

[2022-06-29 12:09] SahilGoel-PS opened #1159 "CI/CD with Gitlab Pipeline"
## Description

Please describe in as much detail the kind of feature would you like us to add!

Add details like:
- What does it do?
- What are the inputs/outputs?
- Prior art (are there any other tools/products that do this now?)
- What is your use case for this?

[2022-06-29 16:17] EverlastingBugstopper commented on #1159
closing as duplicate of #429

[2022-06-29 16:17] #1159 closed, assigned to nobody

[2022-06-29 20:51] EverlastingBugstopper opened #1160 "`rover readme fetch` should highlight markdown"
if the terminal has a TTY attached (i.e. output not being piped to a file or process), we should color highlight the markdown output.

a good crate for managing this is [`syntect`](https://github.com/trishume/syntect) (which is used by tools like [`bat`](https://github.com/sharkdp/bat))

[2022-06-29 21:10] EverlastingBugstopper commented on #1103
As for initial scoping, we should not worry about how folks build their Router binaries. We should download the router at runtime just like we do for the `supergraph` plugin (and maybe even distribute it as a part of the supergraph plugin itself). Folks can then patch in their own binaries if they really need to right away but for a first pass, only officially distributed binaries will be supporte

[2022-06-29 21:12] EverlastingBugstopper opened #1161 "`rover subgraph init` should create a `.apollo` configuration directory"
rover should recognize a `.apollo` directory and allow required arguments to become optional if they are specified in config.

implementation:

we should closely map configuration keys to their associating flags/arguments. config options should be resolved to a single struct (may need to do some refactoring to enable this and also work with environment variables)

[2022-06-29 21:13] EverlastingBugstopper commented on #1161
[this recent refactor](https://github.com/apollographql/rover/pull/1155) starts laying the ground work for this I think

[2022-06-29 21:17] EverlastingBugstopper opened #1162 "feat: compose a local subgraph into a remote supergraph"
as a precursor to #1103, we should have a way to configure `rover supergraph compose` without full knowledge of all subgraphs. this can be achieved by adding an optional top-level "graph { id, variant }" table in `supergraph.yaml`. when `rover supergraph compose` is run, all subgraphs will be fetched from that variant and composed with the rest of the subgraphs in `supergraph.yaml`.

we may decide

[2022-06-29 21:58] Ken2889 opened #1163 "Gelp"
## Description

What are you trying to accomplish? What have you tried? Let us know any info relevant to your question, and we'll try our best to answer!

[2022-06-30 14:10] #1163 closed, assigned to nobody

[2022-07-01 06:30] abernix commented on #1103
agree.

yup.  we don't need to focus on it for the first pass at this.  we have a number of options as to how this can work and be configured and the build configuration is one of those ways.

[2022-07-01 16:14] EverlastingBugstopper opened #1165 "upgrade to clap 3"
it is out of beta now, we should remove structopt and use clap with the `derive` feature

[2022-07-08 20:57] nmiddendorff commented on #843
Link to the gist was broken. I believe this is the new one: https://gist.github.com/EverlastingBugstopper/d6aa0d9a49bcf39f2df53e1cfb9bb88a

[2022-07-10 15:41] daba-thatkingguy opened #1171 "rover sometimes prints "An API key must have three parts separated by a colon" when that is not the actual problem"
## Description

### What are you trying to accomplish?
I am trying to publish a subgraph to Apollo registry during my CI process using Github CI. Everything works fine, until it gets to the stage to authenticate against the Apollo registry using rover. I pass in my `APOLLO_KEY` which was generated from the Apollo studio registry to Github CI, but I keep getting this error message `error[E014]: The

[2022-07-11 02:32] dburles commented on #582
I'd also like to see pre-built ARM binaries.

[2022-07-11 11:19] alainosorio commented on #1026
Hi, I'm having the same issue:

rover graph introspect https://localhost:7170/graphql | rover subgraph publish My-Graph-peqk2c@current --name products --routing-url http://products.svc.cluster.local:4001/graphql --schema - --log trace
  TRACE rover::cli: command_structure: Rover { command: Subgraph(Subgraph { command: Publish(Publish { graph: GraphRef { name: "My-Graph-peqk2c", variant: "current"

[2022-07-11 15:26] EverlastingBugstopper commented on #1171
hey @daba-thatkingguy - thanks for the report and sorry you're having issues with this.

This is a very strange error to see if your key is set properly. I'm wondering if perhaps you named the secret `APOLLO_KEY` in the GitHub UI rather than `APOLLO_KEY_QA` which is what you reference in your `action.yml`? Probably not if it is giving the same error locally... Are you using v0.7.0 of Rover here?

[2022-07-11 15:49] EverlastingBugstopper commented on #1026
Hmmmm.... I wonder if this is perhaps an encoding issue. I bet that what happened is that when you run `rover config auth` and it writes to `~/.config/rover/profiles/.sensitive/default.toml` that the file was created as UTF-16 because of PowerShell's default encoding. When this file is then read to send along your API key to Apollo Studio, the request library attempts to stuff your UTF-16 encoded

[2022-07-11 18:58] michael-watson opened #1172 "`subgraph new` and `client new` - A strategy for "file new" templates"
## Description

As a GraphQL developer, it is challenging to get up and started with a new project to consume or contribute to the supergraph. Most organizations create internal templates to provide a starting point; the goal of this feature is to provide a starting point for any GraphQL developer consuming/contributing to their supergraph. Below is my proposal to add this functionality:

All of t

[2022-07-11 19:45] EverlastingBugstopper commented on #1172
Hey @michael-watson - thanks for opening this, excited to work on this with you.

re: `subgraph new` - looks great, my one question is why you need the `--schema` argument? in what scenario would you want to generate a project from scratch where you already have a schema? i imagine you would want to have a `.apollo` directory that lives in the template itself that points to a local schema file tha

[2022-07-11 20:22] ndintenfass commented on #1172
We will also want a way to list the templates available. I also wonder if "subgraph" is the right command tree for this, especially because we will want a "list" command and sounds like eventually have non-subgraph templates. Maybe even `rover template ...` to keep it nicely encapsulated.

[2022-07-11 20:37] EverlastingBugstopper commented on #1172
`rover template` makes sense to me.

as far as template selection, i imagine we should allow for separate templates to be stored in different git repositories, and each template could have a `.apollo/template.yaml` directory that contains some template-specific config (like `type = "subgraph"`). then after cloning that repo, rover would run `rover {type-from-template-yaml} init` and ask all the no

[2022-07-11 21:06] michael-watson commented on #1172
`rover template` would work. We should make sure that `rover template create` also provides an option to allow not running `rover subgraph init` (or just letting the user eject out at that step).

Supporting templates from separate git repositories is probably something we can incorporate in the future. We want a single place for all our templates and the current plan is to have all of our templat

[2022-07-12 07:29] abernix commented on #1172
I find this to be a very interesting and compelling feature for `rover`!

I can definitely see the value in this command.  I do like the idea of a similar ergonomic to creating a subgraph with or without a template though, which I think the `--template` (or `--from-template`?) flag to an existing command would allow.  Anyhow, no strong feelings.

I can certainly see the value in a `--schema` argum

[2022-07-12 08:54] ndintenfass commented on #1172
Came here to say what @abernix said better - also makes it really straight-forward to connect the rover experience directly back to the repo, a virtuous OSS cycle where a language community can congregate.

[2022-07-12 11:56] abernix commented on #582
It's worth noting that this work is taking place in https://github.com/apollographql/rover/pull/1137, which also outlines its progress and what we're waiting for to get it sorted out.

[2022-07-12 19:11] michael-watson commented on #1172
Love the discussion!

- I was planning on having the default schema for all subgraph templates include `@contact` and `@key` defined in a `Foo`-way. This could be simplified or expanded on.
- The code-first/code-generation schemas definitely pose a challenge. The idea behind this was to enable the output of a schema design for a new feature as a starting point for the template, but the file could

[2022-07-13 15:38] niodice commented on #979
I'll add a +1 to this feature request. We have a similar use case to automate the creation of graph variants, and a key developer experience will be have an "out of the box" explorer that is properly configured to talk to the backend we spin up.

[2022-07-13 19:06] EverlastingBugstopper commented on #1165
fixed by #1170

[2022-07-13 19:06] #1165 closed, assigned to EverlastingBugstopper

[2022-07-13 20:08] EverlastingBugstopper commented on #1161
docs for `rover subgraph init` should look something like this:

## Initialize your subgraph

Run `rover subgraph init` to create a new subgraph and answer the questions provided by the wizard. Below is an example of bootstrapping a supergraph with a single subgraph. Debug statements are included to show some of what's happening behind the scenes including what the config file will look like.

[co

[2022-07-13 20:16] EverlastingBugstopper commented on #1162
not doing

[2022-07-13 20:16] #1162 closed, assigned to nobody

[2022-07-13 20:18] EverlastingBugstopper opened #1173 "existing `rover subgraph` commands should read arguments from `.apollo/project.yaml`"
as a follow-up to #957 - existing `rover subgraph` commands should read the information they need from `.apollo/project.yaml`.

docs for checks might look like this

## Checking if your subgraph is compatible with the supergraph

After making changes to your subgraph locally, you can run `rover subgraph check` to check that your local subgraph is compatible with the supergraph in Apollo Studio.

[

[2022-07-13 20:21] EverlastingBugstopper commented on #1103
this will be exposed via `rover subgraph dev`, which will extend a remote supergraph schema with a local subgraph and provide a local router endpoint to run queries against. docs for this might look like this:

## Develop your subgraph

You can make changes to your subgraph locally, and run `rover subgraph dev` to get a local router endpoint that you can use to test your subgraph's compatibility w

[2022-07-14 07:44] sambP opened #1174 "apollo key via command line"
I need to publish multiple graph schemas in one ci. How should I do that? Seems confusing to me, because I can define only one APOLLO_KEY env. The previous apollo CLI supported --key via command line, is there something similar with rover?

[2022-07-14 12:45] EverlastingBugstopper commented on #1174
You can use a "user" key instead of a "graph" key that has permissions to publish multiple graphs, or you can run separate rover commands with a different APOLLO_KEY set every time.

[2022-07-14 15:33] lrlna commented on #1161
@EverlastingBugstopper noting down the discussion we had about keys/env vars.

Since users are expected to commit `.apollo`, it'd be good to think about how we'd like to handle any secrets, especially in CI contexts. While it's likely not pertinent for the current implementation, I think it's good to keep that in mind. If it seems like there is a possibility of `.apollo` containing secrets, we sho

[2022-07-14 15:50] EverlastingBugstopper commented on #1161
Yes - we should probably support environment variable expansion just like the router config does. Docs for that are [here](https://www.apollographql.com/docs/router/configuration/overview/#environment-variable-expansion), and it looks like @BrynCooke recently worked on improving its functionality in [this PR](https://github.com/apollographql/router/pull/1331/files#diff-4a11c81ac00715f2740e504e8041

[2022-07-14 19:13] ndintenfass commented on #1103
I'd like to talk about the top level `rover dev` here - it may be better to let the contents of .apollo drive the behavior instead of making dev a verb under the core hierarchy.

[2022-07-14 19:19] BrynCooke commented on #1103
We should also talk about where the router config fits into all of this.

[2022-07-14 19:58] EverlastingBugstopper commented on #1103
Yup! This is essentially the plan but perhaps I did not make it super clear. My plan for `rover subgraph init` to create a `.apollo/project.yaml` with a `project_type: subgraph` field at the top level. `rover init` can then ask for a `--project-type` or prompt the user for what type of project they want to generate when running `rover init` and it will call the appropriate `{project-type-verb} ini

[2022-07-20 05:44] alice-was-here opened #1178 "'You must install rover.exe before you can run it'"
## Description
When installing rover within a yarn workspaces project, the CLI complains that the rover executable is not installed with the following error:

`You must install rover.exe before you can run it`

Colleagues on Mac get the following: `You must install rover before you can run it`

This can be fixed by running `yarn add @apollo/rover` - but, the error will re-appear as soon as you add

[2022-07-20 10:35] saevarb commented on #1178
I see this bug as well in my monorepo. I have installed `rover` as a dev dependency in the workspace root, and any `yarn install` or `yarn add` command(in root or any workspace) will seemingly remove `rover` and result in this error.

From investigating, it appears that `rover` installs its binary in `<root>/node_modules/binary-install/.bin`, which seems to get reset when any new dependency is ins

[2022-07-20 12:37] sambP commented on #1174
Thanks, I'm using it like this:

APOLLO_KEY=${env.APOLLO_KEY_A} yarn rover graph publish

[2022-07-20 12:37] #1174 closed, assigned to nobody

[2022-07-20 14:27] EverlastingBugstopper opened #1179 "`rover install` on installed rover should be no-op"
instead you get an os error 2 because it removes itself

[code]

[2022-07-20 20:05] theJC opened #1181 "Improve supergraph failure error handling and provide context on what was being read when receiving EOF"
## Description

Running rover supergraph, yesterday many of our subgraph pipelines failed to build the supergraph with an error that looked like:

[code]

### Steps to reproduce

This was a sporadic error that our teams experienced for several hours yesterday and then cleared up.  At this time I cannot reproduce

### Expected result

Going forward if it does happen again, it would be extremely hel

[2022-07-20 21:59] EverlastingBugstopper commented on #1178
Hey @alice-was-here - thanks so much for the report, this is very frustrating!

I spent a few hours today debugging this and got... nowhere :( This is the offending line of code I believe: https://github.com/EverlastingBugstopper/binary-install/blob/main/packages/binary-install/index.js#L45

I tried to update it to use [`app-root-path`](https://www.npmjs.com/package/app-root-path) instead, but tha

[2022-07-20 23:49] trevor-scheer commented on #1178
I've got a couple PRs open for _a_ solution (listed above), of which I imagine there's a more correct one. What I have is definitely an improvement, but I'd be happier to see someone remove the need for the `postinstall` or fix the binary install location in a way that it isn't wiped out when yarn updates `node_modules`.

[2022-07-21 11:12] vini-gorillas commented on #979
Hello, Is it possibel to configure the endpoint in the connection settings via the CLI? or someone managed it with some other tricky way? My current setup requires me to manually add this end point which defies using it in the CI tool. any hints?

[2022-07-21 15:30] niodice commented on #979
I was able to set the endpoint using the mutation below:

[code]

You can check out other operations you can do against their API here: https://studio.apollographql.com/sandbox/explorer

[2022-07-22 19:53] dominicfollett opened #1187 "Failing build on v0.4.2: Failed to generate GraphQLQuery impl: Parser error: schema parse error"
## Description

Hi. Somewhat new to Rover so apologies if there is an obvious solution to this. My previously successful builds of Rover have started failing with the following errors:

[code]

### Steps to reproduce

The following is the build script invoked in our docker build:

[code]

### Expected result

Successful build

### Actual result

[code]

### Environment
- Operating system and versi

[2022-07-25 07:40] vini-gorillas commented on #979
But in order to run a mutation wouldnt you want the endPoint to be set? When i try to run the Mutation from the explorer, it pops up to add the connection string. Along with the error

`Cannot query field "graph" on type "Mutation".`

Coudl you explain how you were able to add the connection string with the mutation.

[2022-07-25 13:55] niodice commented on #979
Which API endpoint are you invoking the request against?

Here is a bit of (python) code to get you started:

[code]

[2022-07-26 10:24] abernix commented on #1171
@daba-thatkingguy Any updates on this?

[2022-07-26 10:27] abernix commented on #1171
One thing which would be very useful to analyze here but would require you being **very** careful to not inadvertently share any sensitive information in this issue is if you were to run `rover` with the **`--log debug`** flag and **CAREFULLY** share that output here so we can see to see if there is any additional information being returned from the API server that could shine light on the problem

[2022-07-26 14:13] EverlastingBugstopper commented on #1171
debug log output should redact the api key by default fwiw

[2022-07-26 15:10] #1178 closed, assigned to EverlastingBugstopper

[2022-07-27 08:38] n4bb12 opened #1192 "Type is incompatible across subgraphs — rover subgraph check"
## Description

Thanks for the great tools 🌳

In a federation context, when updating something across all subgraphs (for example, adding to a shared enum or changing the type of a field on an entity), `rover subgraph check` errors with

[code]

After making this adjustment in all subgraphs (which is what we do), composition succeeds. So my question is: What is the intended workflow for making thes

[2022-07-27 17:46] EverlastingBugstopper commented on #1192
You're right that this behavior is not super intuitive, but it is the recommended workflow when coordinating type migrations across multiple subgraphs. You may have some luck with `rover supergraph compose` to ensure that the changes you are making will eventually succeed, but as of right now Apollo's API does not allow you to update more than one subgraph schema at a time. Down the line we're hop

[2022-07-27 17:46] #1192 closed, assigned to nobody

[2022-07-27 21:13] EverlastingBugstopper commented on #1171
i recently made some changes to the code that reads/writes from the file system. i'd love if you could re-run `rover config auth`, paste in your token (this will delete your old one and write the new one to your filesystem), and run `rover config whoami`, see if you get any errors.

[2022-07-27 21:14] EverlastingBugstopper commented on #1178
this has been fixed in v0.8.0 - thanks so much for the great detailed report @alice-was-here - we were able to use it to reproduce the issue and verify that it was fixed.

[2022-07-27 21:14] EverlastingBugstopper commented on #1179
fixed by #1183

[2022-07-27 21:14] #1179 closed, assigned to EverlastingBugstopper

[2022-07-27 21:16] EverlastingBugstopper commented on #1149
this was fixed by the ever-so-helpful @StephenBarlow in two PRs

#1154 and #1157

[2022-07-27 21:16] #1149 closed, assigned to StephenBarlow

[2022-07-27 21:18] EverlastingBugstopper commented on #1114
closing this because it is not reproducible

[2022-07-27 21:18] #1114 closed, assigned to nobody

[2022-07-27 21:18] EverlastingBugstopper commented on #1123
wont do

[2022-07-27 21:18] #1123 closed, assigned to nobody

[2022-07-27 21:19] EverlastingBugstopper commented on #1069
cc @aaronArinder since we discussed this recently

[2022-07-27 21:19] EverlastingBugstopper commented on #1009
cc @StephenBarlow - I'd love to get this stuff covered if you have some extra time

[2022-07-27 21:20] EverlastingBugstopper commented on #1009
actually! it looks like this is already documented [here](https://www.apollographql.com/docs/rover/commands/config#creating-configuration-profiles), i'm going to close this

[2022-07-27 21:20] #1009 closed, assigned to StephenBarlow

[2022-07-27 21:21] EverlastingBugstopper commented on #978
closing this because it's not reproducible. i imagine error messages are better on this in 0.8.0 and it's likely something to do with global installs and npm.

[2022-07-27 21:21] #978 closed, assigned to nobody

[2022-07-27 21:22] EverlastingBugstopper commented on #695
closing this as there is much more recent internal discussion on this topic, and #1190 is WIP

[2022-07-27 21:22] #695 closed, assigned to nobody

[2022-07-27 21:25] EverlastingBugstopper commented on #946
closing this as there is more recent discussion elsewhere

[2022-07-27 21:25] #946 closed, assigned to nobody

[2022-07-27 21:25] EverlastingBugstopper commented on #859
`sdl-encoder` now lives in `apollo-rs`, closing this

[2022-07-27 21:25] #859 closed, assigned to nobody

[2022-07-27 21:27] EverlastingBugstopper commented on #904
closing this because it is not reproducible

[2022-07-27 21:27] #904 closed, assigned to nobody

[2022-07-27 21:30] EverlastingBugstopper commented on #855
closing this as a restart worked

[2022-07-27 21:30] #855 closed, assigned to nobody

[2022-07-27 21:30] EverlastingBugstopper commented on #761
i believe this was resolved long ago

[2022-07-27 21:30] #761 closed, assigned to nobody

[2022-07-27 21:31] EverlastingBugstopper commented on #698
closing this

[2022-07-27 21:31] #698 closed, assigned to nobody

[2022-07-27 21:32] EverlastingBugstopper commented on #711
closing this

[2022-07-27 21:32] #711 closed, assigned to nobody

[2022-07-27 21:33] EverlastingBugstopper commented on #692
we do not plan on adding support for this type of schema, closing this

[2022-07-27 21:33] #692 closed, assigned to nobody

[2022-07-27 21:52] trevor-scheer commented on #1178
+1 @alice-was-here, always grateful to get a good reproduction 🙇‍♂️

[2022-07-27 22:11] ryatama opened #1197 "Subgraph introspection response contains extraneous messaging that invalidates the schema."
## Description

When using the latest release of Rover [0.8.0](https://github.com/apollographql/rover/releases/tag/v0.8.0) via `npx` the 'rover is already installed' messaging displays as part of the schema output. My team just noticed this because we have Github actions configured to run the following to publish our changes:
[code]
The introspection call technically works, but the schema output i

[2022-07-28 00:11] alesevero commented on #1187
I was able to reproduce this error as well while building docker images. However, `0.8.0` seems to be working fine for me. Could you try that out?

[2022-07-28 05:14] kirk-marple commented on #1197
Just wanted to add that our builds started failing earlier today too in a similar way.

We'll have to roll back to 0.7.0 to work around this, since the schema introspection is failing.

[2022-07-28 08:34] kpachbiu88 opened #1198 "v0.8.0 installed from npm broken due to superfluous output on STDOUT"
In Rover version 0.8.0 add extra message in the schema and breaks it

Command: rover subgraph introspect https://api-test.test.com/main/graphql > test.graphql
Result test.graphql:

[code]

This message breaks schema:
If you would like to disable Rover's anonymized usage collection, you can set APOLLO_TELEMETRY_DISABLED=1
You can check out our documentation at https://go.apollo.dev/r/docs.
rover.ex

[2022-07-28 09:32] rplinzner commented on #1198
The issue breaks our production pipelines and we couldn't deploy a quick fix. Lost couple of hairs trying to figure it out. PLS fix.

[2022-07-28 09:33] kpachbiu88 commented on #1198
Temp solution install 0.7.0 version.
npm i @apollo/rover@0.7.0 -g

[2022-07-28 09:34] rplinzner commented on #1198
@kpachbiu88 Yes, figured it out, thx

[2022-07-28 09:47] radekmie commented on #1198
Can confirm, the same happens to us.

[2022-07-28 10:23] abernix commented on #1198
Thanks for opening this issue.  Does this happen also to you all with the version installed from the `curl` installer? (Note: Specifically NOT from npm!).

In other words, the instruction at the top of the documentation here: https://www.apollographql.com/docs/rover/getting-started

[2022-07-28 10:58] jazarja commented on #1198
Also happened when composing supergraph

my command:
[code]

Why you guys need to display such annoying text when composing schema?

[2022-07-28 11:06] abernix commented on #1198
@jazarja The text is meant to be on STDERR and not interfere with the schema that's being generated.  Also, I believe that text is just shown the first time you run Rover on an installation.  If you run literally any other command first, that message might not appear?  It looks to me like information from the installation step is bleeding into the output.

Out of curiosity, are you **also** instal

[2022-07-28 11:08] radekmie commented on #1198
@abernix I installed Rover CLI from `npm` (only there), but _maybe_ had a `curl` version installed at some point too.

No, it's there every time.

[2022-07-28 11:09] jazarja commented on #1198
I install rover with npm on my github action (so it will always first time run whenever I run rover supergraph compose)

I can say the latest version has breaking change so the command to generate supergraph on https://www.apollographql.com/docs/rover/commands/supergraphs doesnt work anymore.

[code]

[2022-07-28 11:21] abernix commented on #1198
Same question to everyone: can anyone confirm that the problem goes away with a version installed from `curl` instead of npm?

[2022-07-28 11:27] radekmie commented on #1198
It works correctly when installed using `curl`.

[2022-07-28 14:11] kevin-mitchell commented on #1198
I believe this is related to https://github.com/apollographql/rover/issues/1197

[2022-07-28 14:39] #1198 closed, assigned to EverlastingBugstopper

[2022-07-28 14:41] #1197 closed, assigned to EverlastingBugstopper

[2022-07-28 15:14] EverlastingBugstopper commented on #1187
unfortunately this is an artifact of the way we get the GraphQL schema at build time. We store the schemas associated with a specific release in our GitHub release artifacts, and have a way to build specific older versions that are no longer compatible with the latest Apollo Studio schema. If you run `cargo xtask dist --version v0.4.2` it should first print a bunch of errors, and then fix them for

[2022-07-28 15:14] #1187 closed, assigned to nobody

[2022-07-29 08:51] ScottRamsden opened #1203 "One resolved address for rover.apollo.dev is been blocked by cloudflare"
When fetching the sh script using curl one of the addresses is blocked by cloudflare causing intermittent failures in a pipeline.

[2022-07-29 08:52] ScottRamsden commented on #1203
*   Trying 162.159.36.12:443...
* Connected to rover.apollo.dev (162.159.36.12) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*  CAfile: /etc/ssl/certs/ca-certificates.crt
*  CApath: none
} [5 bytes data]
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
} [512 bytes data]
* TLSv1.3 (IN), TLS handshake, Server hello (2):
{ [55 bytes da

[2022-07-29 12:34] abernix commented on #1203
I don't understand why you're connecting to a Cloudflare IP address in your output (`162.159.36.12`) because Rover doesn't use Cloudflare in any way.  Are you using Cloudflare as your own DNS provider?  What if you use a different DNS provider?

Even looking up `rover.apollo.dev` on Cloudflare's `1.1.1.1` name servers reveals a set of IP addresses that run on Amazon or Google infrastructure (we us

[2022-07-29 12:50] ScottRamsden commented on #1203
Hey thanks for getting back to me, I did jump the gun a little bit here in just raising this issue without checking the network used between where the curl runs and rover.apollo.dev

Im getting the cloudflare page when accessing it from my home address, where the issue lies on some jenkins servers in a business network.

I still have more investigating to do on this but thanks again!

[2022-07-29 12:51] abernix commented on #1203
Thanks for the quick response!  Sounds good.  I'll close this for now, but I'm happy to keep discussing in here either way.  If we can nail down what's happening, we can definitely re-open this, too.

[2022-07-29 12:51] #1203 closed, assigned to nobody

[2022-08-01 09:28] thetruechar opened #1205 "Where is the source code of plugin Supergraph?"
I checked the source code of how the `supergraph compose` is implemented and found that the code downloads a plugin and executes it. I'm wondering where is source code of the plugin is, is it closed source?

[2022-08-01 17:51] EverlastingBugstopper commented on #1205
Very astute! The source is not closed, you can find the source for the plugin in the [`apollographq/federation-rs`](https://github.com/apollographql/federation-rs) repository. This repository provides a cross platform runtime (courtesy of deno) that we use to bundle and run the actual composition algorithm which is written in JavaScript. That code is maintained in the [`apollographq/federation`](h

[2022-08-01 17:51] #1205 closed, assigned to nobody

[2022-08-02 13:00] abernix commented on #1172
Ok, it seems like some sort of declaration will live inside the `.apollo` directory of these templates that defines **where** the schema lives in that template and then `rover dev` can rely on _that_ in order for it to drive composition (and the associated file-watching)?  If that makes sense then we should probably make sure the design is sorted out for whatever that subgraph-level manifest needs

[2022-08-02 15:45] ndintenfass commented on #1172
Agree with @abernix - except maybe for the manifest of short names - we could allow short name OR repo URL, for instance. It's a much nicer experience to get to list out available templates - also saves us having to build against a specific git client of ours have simple https urls to released zips.

[2022-08-02 16:26] EverlastingBugstopper commented on #1172
i'd love if we could just have it be a command! what command do we use to start this subgraph? we can then detect things like the port and do introspection so the schema doesn't even need to be committed, it can be changed directly in code and we're off to the races. this means i only need to implement introspect polling instead of introspect polling AND file watching, and makes integration with o

[2022-08-02 17:03] abernix commented on #1172
I'm merely trying to suggest we can add short names in the future but, sure, we can hard-code something into Rover for now.

In a very general sense, I do not know if we should commit to an introspection-only approach for subgraphs, though we could try starting with that approach and see if we get along with it.  Some reasons for that are:

1. Requiring subgraphs to be running in order to publish

[2022-08-03 13:46] lrlna commented on #1122
i am 99% sure `apollo-parser` is ready to be used in this manner! would be super cool, the monotone sdl is difficult to read eh

[2022-08-05 15:39] EverlastingBugstopper opened #1212 "feat: modify `--output` to output to a file instead of determine the output type"
1. change `--output` to take a `Utf8PathBuf`
2. add move the current `--output <OUTPUT_TYPE>` to `--format <OUTPUT_TYPE>`
3. allow `--json` to be an alias for `--format json`
5. add a check in `--output` to see if the input was equal to `plain` or `json`, and if it was, print a deprecation message but still allow it to configure the output type. if they pass _both_ `--output json` _and_ `--format

[2022-08-07 04:22] ctrl-save commented on #1026
@EverlastingBugstopper I see the same error as @alainosorio when trying to publish a subgraph.
I tried the suggested steps: ran `$PSDefaultParameterValues['*:Encoding'] = 'utf8'` in PowerShell, then `rover config auth`, but it didn't work.

System and rover info:
- Operating system and version: Windows 10.0.19044 [64-bit]
- Shell: VS Code terminal
- Version of Rover: Version: 0.7.0
- Installation

[2022-08-08 10:12] BrynCooke commented on #1172
Just want to give some perspective from a Java/Rust dev.

For Java I would 100% want to start my subgraph from my IDE, the unfortunate reality is that hot-reload doesn't really work with Java, so the amount of time spent in the debugger is much higher. (JRebel exists but still...).

For Rust the debugger is much less useful, but the compile times are killer. Even for a local project which is small

[2022-08-08 10:14] BrynCooke commented on #1172
For auto-detection of subgraphs does a full scan take place? Or just well known ranges?

[2022-08-09 08:46] abernix opened #1214 "expose environment variable to spawned processes"
Related to https://github.com/apollographql/router/issues/1474 — not necessarily the solution, but I think still generally very useful.

Could Rover set some environment variable when spawning subprocesses so those processes can detect that is how they've been launched? (e.g., `APOLLO_ROVER=true`?).

I think that this could evolve into something general purpose in the long-term in a similar spirit

[2022-08-09 13:20] split opened #1215 "Subgraph check against already published graph always shows added types"
## Description

If I publish a subgraph and run `rover subgraph check` with the same schema against it, it shows me added types always.

### Steps to reproduce

1. Installed rover and apollo `npm i -E @apollo/rover @apollo/subgraph apollo-server graphql`
2. Copied [example](https://www.apollographql.com/docs/federation/v1/subgraphs#combined-example) from documentation to `server.js` and started it

[2022-08-09 16:49] EverlastingBugstopper commented on #1214
this is a great idea 👍🏼

[2022-08-10 05:42] split commented on #1215
Tested with rover versions `0.5.4` and `0.7.0`. Both give the expected result:
[code]

[2022-08-10 09:22] paulpdaniels commented on #1215
Just came to report this as well 👍

[2022-08-10 17:24] EverlastingBugstopper opened #1217 "502/404 bad gateway errors during introspection should not suggest submitting a bug"
when running introspect against any given graphql server (_not_ the apollo studio api), it is not a bug in rover when the server responds with a 500 response. the suggestion should say something like "make sure your server is configured to accept introspection queries" and maybe link to a doc somewhere.

[2022-08-10 19:58] EverlastingBugstopper opened #1219 "decrease client timeout for local introspection calls when doing a local scan"
30 second intropsection timeouts cause the GraphQL detector to hang longer than they should if there are misbehaving web services on your local network

[2022-08-10 20:00] EverlastingBugstopper opened #1220 "wait a few seconds to print introspection errors when running `rover dev` with a `--command`"
when you first run `rover dev --command 'npm run start'` with no schema, it will print errors because the server hasn't started yet. we should wait a bit longer to print errors before printing them on startup - and transition to always printing them once we get our first success.

[2022-08-10 20:01] EverlastingBugstopper opened #1221 "make introspection polling interval configurable"
add a `--introspect-poll-interval` flag that defaults to 1 second and uses the same `humantime` parser that we use for other time-based arguments

[2022-08-10 20:05] EverlastingBugstopper opened #1222 "de-duplicate errors when running `rover graph introspect` in parallel with `rover subgraph introspect`"
they look like this:

[code]

🤮

[2022-08-10 20:06] EverlastingBugstopper opened #1223 "bug: race condition when starting first `rover dev` session"
when starting the first `rover dev` session, there is a race condition where it will fail with the message `error: main rover dev session has been killed, shutting down`. (this is unfortunate because the error message only occurs _in_ the main rover dev session). we just need to wait to connect to the socket before running the watcher in this scenario and we should be ok.

[2022-08-10 20:07] EverlastingBugstopper opened #1224 "print success message when introspection succeeds"
currently we only print introspection errors and not introspection successes

[2022-08-10 20:08] EverlastingBugstopper opened #1225 "add spinners/progress bars to `rover dev`"
we should have a progress bar for the port scanner, and a spinner for the schema watcher

[2022-08-10 20:08] EverlastingBugstopper opened #1226 "`rover dev` should provide a confirmation prompt to accept a `.graphql`/`.gql` file if it finds one"
when we detect a `.graphql` file, but they didn't pass a `--schema`, we should prompt them to accept the schema file (we found schema.graphql, would you like to watch it or poll for introspection?)

[2022-08-10 20:17] EverlastingBugstopper commented on #1215
hi all - thanks for reporting this issue. i've raised this issue internally as i believe it to be an issue with the new "async checks" API that is behind `rover {sub}graph check` as of `v0.8.0`.

[2022-08-10 21:40] EverlastingBugstopper opened #1228 "killing main `rover dev` session doesn't kill attached `rover dev` sessions"
when the first `rover dev` session spawns, it is responsible for composing incoming subgraphs and providing the supergraph schema to the router. if this is killed, the other sessions remain alive, but they won't work anymore. when the first `rover dev` session is killed, it should kill the other `rover dev` sessions.

[2022-08-10 21:51] #1223 closed, assigned to EverlastingBugstopper

[2022-08-10 21:54] EverlastingBugstopper opened #1230 "`rover dev` has a hard time cleaning up spawned processes"
if you add a `sleep 10` to the command you provide to `rover dev`, `rover` will die after 5 seconds, and then your server will start up 5 seconds later like nothing happened. this is not good.

rover should either stay running and not die after 5 seconds if it can't find the subgraph schema (just display an error until they ctrl+c) or it should successfully kill the child process after failing to

[2022-08-10 22:04] #1222 closed, assigned to EverlastingBugstopper

[2022-08-10 22:04] #1224 closed, assigned to EverlastingBugstopper

[2022-08-11 16:05] EverlastingBugstopper opened #1231 "add `--port` to `rover dev`"
you should be able to configure the port that the router runs on. it should default to `3000` so as to not conflict with the default port `4000` for `apollo-server` this needs to be part of the router config that gets written out.

[2022-08-11 16:12] EverlastingBugstopper opened #1232 "clean up `rover dev` help text"

[2022-08-11 16:30] #1232 closed, assigned to StephenBarlow, EverlastingBugstopper

[2022-08-12 03:42] namlt3820 opened #1234 "Can I use typeDefs instead of .graphql file?"
## Description

So here is my code:
[code]
but rover cli require me to use `.graphql` file as follows:
[code]
Maybe I'm missing something from the documentation, but is there a way to use `typeDefs` in the command above?

[2022-08-12 14:13] mabuyo opened #1235 "Error codes showing up as `UNKNOWN` after rover check or publish"
## Description

When running a check or publishing a subgraph that results in errors, Rover shows `UNKNOWN` as the error code, instead of a valid error code [as documented in this doc](https://www.apollographql.com/docs/federation/errors).

### Steps to reproduce

1. I have two subgraphs, `accounts` and `monolith`. Both have a `Host` entity with the field `overallRating` defined.
1. The `monolith`

[2022-08-12 15:47] EverlastingBugstopper commented on #1235
@mabuyo thanks so much for the report! I was able to reproduce, and outlined what I did in [this gist](https://gist.github.com/EverlastingBugstopper/db6e7a16fa9f2b28f60195dd9ae02972). TL;DR - this is not an issue with Rover, but rather the Studio API. In this scenario it should be returning the proper error code but it is returning `null` instead. I've raised this internally with the team - once i

[2022-08-12 15:47] #1235 closed, assigned to EverlastingBugstopper

[2022-08-12 16:08] EverlastingBugstopper commented on #1234
hi @namlt3820 - thanks for the report. you can't use `typeDefs` with Rover because Rover supports _multiple_ GraphQL server implementations, and not all of them are in JavaScript. This [section of the docs](https://www.apollographql.com/docs/rover/commands/subgraphs/#output-format) describes how you can use the `rover subgraph introspect` command to get the schema from a running server and either

[2022-08-12 16:08] #1234 closed, assigned to EverlastingBugstopper

[2022-08-12 16:16] #1219 closed, assigned to EverlastingBugstopper

[2022-08-12 16:16] #1230 closed, assigned to EverlastingBugstopper

[2022-08-12 17:17] #1226 closed, assigned to EverlastingBugstopper

[2022-08-12 17:20] EverlastingBugstopper opened #1237 "`rover supergraph compose` and `rover {sub}graph check` should print a different suggestion when there is only one subgraph"
when composition fails, the error message looks like this:

[code]

if there is only one subgraph, the suggestion here is a bit confusing since only one subgraph schema was provided, so they cannot be incompatible with "each other"

[2022-08-12 20:54] mabuyo opened #1239 "References to "gateway" showing up in output messages, despite using Apollo Router"
## Description

Rover refers to the "gateway" in output messages. This can be confusing for folks who are using Apollo Router (and may not be familiar with the gateway).

### Steps to reproduce

1. Go through the [Federation quickstart steps in the docs](https://www.apollographql.com/docs/federation/quickstart/setup#1-set-up-apollo-tools).
1. When you get to the [Registering your subgraph schemas

[2022-08-12 21:22] EverlastingBugstopper commented on #1239
perhaps we say `"The supergraph schema for <GRAPH_REF> was updated, composed from the updated 'accounts' subgraph"` - the supergraph schema is the actual artifact being composed here and is used by _both_ the router and the gateway

[2022-08-16 14:37] Bspiric-deighton commented on #1026
I was able to reproduce this inside of VSCode Terminal, if you open powershell not within VSCode but just the exe from within windows and CD into your project directory and run the commands, it should work.

I tried this multiple times and it only worked if i ran it outside of VSCode, ran the rover config auth command, THEN opened up my VSCode and ran rover publish and other commands just fine, bu

[2022-08-16 18:27] surajkrishan opened #1241 "Guide for uninstall rover-cli please"
I have installed rover-cli via below cmd:

curl -sSL https://rover.apollo.dev/nix/latest | sh

could you plz let me know how to uninstall this.

[2022-08-17 07:51] surajkrishan commented on #1241
Hi Team any update on this ?

@EverlastingBugstopper - can u plz suggest

[2022-08-17 08:05] abernix commented on #1241
The default install location for Rover is `$HOME/.rover` (i.e., `~/.rover`).  You can uninstall Rover completely by:

1. Manually removing the changes to your shell profile files which `source` (sometimes indicated as `.`)  the `~/.rover/env` file
    You can verify by checking your shell profile files (e.g., `~/.zshrc`, `~/.bash_profile`, `~/.profile`, or whatever you use!).  For example, mine lo

[2022-08-17 08:14] surajkrishan commented on #1241
thanks @abernix - it would be great if you guys can also add #286 feature in cli itself!

[2022-08-17 15:49] EverlastingBugstopper commented on #1241
there's also a ~/.config/rover directory you should remove if you dont plan on reinstalling

[2022-08-17 17:45] abernix opened #1242 "The `--output` flag is not showing in sub-command `--help`"
This might be a limitation of `clap` (our command line flag tool), but I see that running `rover --help` indicates the **global** availability of the `--output json` flag (that is, on a lot of commands), **however** when running the _sub-command_ `rover subgraph check --help` directly, it is omitted from that help.

I think it would be more intuitive to me if it were on the sub-command, but wonder

[2022-08-17 19:31] andersonfaria-hotmart opened #1243 "Propagate subgraphs comments to supergraph"
## Description

Comments (fields and types descriptions) in the subgraphs are suppressed in supergraph generation. It'd be great if our comments propagate to supergraph to keep documentation provided in subgraphs

### Steps to reproduce

Make a comment (description) in a subgraph and generate a supergraph via rover compose.

### Expected result

The comments should exist either in subgraphs and in

[2022-08-17 21:11] #1243 closed, assigned to nobody

[2022-08-17 21:11] andersonfaria-hotmart commented on #1243
it`s ok

[2022-08-19 12:07] romash1408 opened #1244 "Crashed introspection with cyrillic symbols"
## Description
We have cyrillic symbols in comments of our schema and get this error when run
[code]

**Crash Report**

[code]
same error we get with latest `v0.9.0-alpha.2` and all older versions before `v0.4.8`, that works fine, but it is deprecated, so we have to use this crazy workaround
[code]

I found same issue for japanese, but it is closed without solution https://github.com/apollographql

[2022-08-19 12:34] lrlna commented on #1244
hi @romash1408, i'll look into this for you. To triple check, do you have cyrillic in comments or descriptions? GraphQL comments don't get returned as part of introspection usually.

[2022-08-19 14:56] sekhavati opened #1246 "`Unknown directive` error when publishing schema that contains AWS AppSync directives"
## Description
When using Apollo Federation + Rover CLI, attempting to publish subgraph schemas that use AWS AppSync directives via `rover subgraph publish` results in errors (see below).

Also, in these situations rover exits with code `0` (success) which seems a bit off given it knows there were issues.

This is somewhat related to [this community thread](https://community.apollographql.com/t/aw

[2022-08-19 15:14] destumme opened #1247 "Schema Checks with --background flag should ensure APOLLO_VCS_COMMIT env is not empty & integration is enabled"
## Description

With the new background flag (which we are very pleased there is a way to do async checks now), we ran into an issue where a team added the flag, but we never setup the integration on the account, so the check has been failing silently since they added it. It would have been helpful for any schema check run with the background flag to ensure that the env required for the github int

[2022-08-22 15:55] JustinTRoss opened #1249 "GitHub PR check not created for schema check w/ Rover@9.*"
## Description

GitHub PR check not created for schema check w/ Rover@0.9.0

### Steps to reproduce

Use Apollo GitHub app and Rover 0.9.0 and invoke a schema check for a PR, like so:

[code]

### Expected result

What should happen?

Schema check should run successfully and report to GitHub with a check on the PR, which can be used for branch protection.

### Actual result

What actually happened

[2022-08-22 16:01] nmiddendorff commented on #1249
I just started noticing this issue in v0.8.1 as well. I'm going to hardcode it to 0.7.0 for now.

[2022-08-23 14:41] #1244 closed, assigned to lrlna

[2022-08-23 15:37] EverlastingBugstopper commented on #1249
hi all - thanks for reporting this issue. i've raised this issue internally as i believe it to be an issue with the new "async checks" API that is behind `rover {sub}graph check` as of `v0.8.0`.

[2022-08-23 17:28] EverlastingBugstopper opened #1250 "crash reports should include output of `rover info` and some information about the commands that were run"
sometimes panics happen. when they happen, rover prints a crash report. for instance, an older version of rover used to panic when it received the `SIGPIPE` signal

[code]

this generates a report that includes the stacktrace that caused the panic. this is OK - but results in some low-quality issues being summited with titles like `bug: crashed while <insert description here>`, and just the stackt

[2022-08-24 16:05] EverlastingBugstopper commented on #1249
This should be resolved now - please let me know if you're still experiencing this issue and I will re-open the issue.

[2022-08-24 16:05] #1249 closed, assigned to EverlastingBugstopper

[2022-08-24 21:38] dhay opened #1253 "Install package with superschema plugin already installed"
## Description

I'm trying to create an AWS Lambda Layer that will have the `rover` binary already installed.  This is in support of my CI pipeline needs, where I want to compose a federated schema when invoking my Lambda.  The difficulty comes from the fact that `rover` wants to download and write files to the file system (Lambda filesystems are read-only, except for the /tmp directory).

What I'

[2022-08-24 22:48] dhay opened #1254 "supergraph compose with --skip-update fails"
## Description

When attempting to compose a supergraph, if add the `--skip-update` flag, the composition fails.  It works correctly when the flag is omitted:

### Steps to reproduce

[code]

### Expected result

Passing the `--skip-update` shouldn't have any bearing on whether the composition succeeds or fails.

### Actual result

Received the error:
[code]

### Environment

$ ./rover-apple-darwi

[2022-08-25 15:53] EverlastingBugstopper opened #1255 "`rover dev` hangs on new sessions"
when creating a second or third `rover dev` session, the stream reader blocks indefinitely waiting for an incoming message.

[2022-08-25 15:54] EverlastingBugstopper commented on #1255
fixed by #1252

[2022-08-25 15:54] #1255 closed, assigned to EverlastingBugstopper

[2022-08-25 15:57] EverlastingBugstopper opened #1256 "docs: `rover dev`"
there should be docs for `rover dev`

[2022-08-25 16:19] EverlastingBugstopper commented on #1254
Hi @dhay - thanks for the report.

I'm unable to reproduce this issue:

[code]

What is the output of `ls ~/.rover/bin` after running the first command?

[2022-08-25 17:02] EverlastingBugstopper opened #1257 "print composition errors in non-main `rover dev` processes"
if a new subgraph is started from a different `rover dev` process and composition fails, the failure should print in both the main `rover dev` terminal and the new subgraph terminal

[2022-08-25 17:03] dhay commented on #1254
[code]
We're still using Federation 1...perhaps the issue has been fixed in the 2.x plugin?  This is the version that `rover` automatically downloaded.

[2022-08-25 17:08] EverlastingBugstopper commented on #1254
hmmmm, no i don't think that's it. i wish the error message here included what file it was trying to read from. i'll get a PR up to at least get a better error message here and we can try troubleshooting.

for now as a workaround - maybe try running `rover install` and see if that fixes up your issue.

[2022-08-25 17:11] EverlastingBugstopper opened #1258 "feat: `rover supergraph dev`"
`rover dev` is great and will be even better when you can extend a remote router. right now though it's a bit cumbersome if you want to start up 12 different subgraphs locally. we should introduce a `rover supergraph dev` command that reads from a `supergraph.yaml` file.

the plumbing should be similar to `rover dev` except we'll need to add a polling mechanism for `rover subgraph fetch` invocatio

[2022-08-25 17:14] dhay commented on #1254
Running `rover install` didn't seem to help any.

 The reason I was thinking it might be a Federation 1 vs. 2 thing is that your output included `composing supergraph with Federation v2.0.5.`...or maybe you're using a different version of rover?

[2022-08-25 18:38] xenoterracide opened #1259 "can't install properly with yarn berry pnp"
## Description

This file contains the result of Yarn building a package (@apollo/rover@npm:0.8.1)
Script name: postinstall

[code]

### Steps to reproduce

this should do it I think

install yarn berry https://yarnpkg.com/getting-started/install

[code]

### Environment

- OS: macOS 11.6.8
- CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz

- Node: 16.14.2 - /private/var/folders/xk/s3n8ww01

[2022-08-25 19:12] EverlastingBugstopper commented on #1259
hi @xenoterracide - i'm not able to reproduce this issue. the output of my terminal session is below and you can see at the end i can successfully run `yarn run rover help`.

[code]

 i believe this has to do with your environment and not rover's installer as the error message says you are on a "read-only filesystem": `EROFS: read-only filesystem, mkdir '/node_modules/binary-install/node_modules'`

[2022-08-25 19:22] EverlastingBugstopper commented on #1254
nah - `rover supergraph compose` works with multiple versions of federation, it downloads the correct version at runtime. here's my output when i don't include any `@link` directives in my subgraphs:

[code]

[2022-08-25 19:24] EverlastingBugstopper commented on #1254
also - after running `rover install` - does `rover` appear in `~/.rover/bin`? and can you just call `rover` directly without referring to the binary path itself? as in - instead of `./dist/rover` just run `rover` since it's in your `PATH`?

[2022-08-25 19:25] EverlastingBugstopper commented on #1259
oooh actually this came up before. check out [this issue comment](https://github.com/apollographql/rover/issues/647#issuecomment-872852066) for a workaround.

[2022-08-25 19:25] #1259 closed, assigned to nobody

[2022-08-25 19:28] EverlastingBugstopper commented on #1258
a few issues with this:

- live reloading a `supergraph.yaml` that pulls from Apollo Studio is likely a non-starter because we'd probably DDoS ourselves. we'd need to only poll introspection/the file system for schemas and have a warning printed at the start of the command that says you need to restart your server to pick up incoming changes from the registry.
- we want to move away from `supergra

[2022-08-25 20:37] xenoterracide commented on #1259
it does not look like your reproducton is using yarn berry 3.2.3

❯ yarn --version
3.2.2

[2022-08-25 20:38] xenoterracide commented on #1259
yarn berry pnp (per those installation instructions) does not use `node_modules` please reopen

[2022-08-25 20:40] xenoterracide commented on #1259
I do not consider that workaround acceptable because from the looks of it, it would do all binaries, not just rover, which I don't want. I don't want rover either to unpack. I'm not sure what rover needs to do, but I'm certain there's an alternative way. Apologize for the comment spam, work proxy lets me edit the issues, but not comments, I don't understand.

[2022-08-25 20:48] dhay commented on #1254
Weird...if I have `~/.rover/bin` in my path, the error goes away...why should that matter?

[2022-08-25 20:48] EverlastingBugstopper commented on #1259
if you run `yarn unplug binary-install -AR` it will unplug any binary that uses the [binary-install](https://github.com/EverlastingBugstopper/binary-install) plugin, which in practice is only really used by `rover` and a handful of other tools that i work on. it shouldn't affect any of your other dependencies. you're more than welcome to submit a PR against the `binary-install` repo to fix this.

[2022-08-25 20:53] EverlastingBugstopper commented on #1254
so the error you're running into originates from [this line](https://github.com/apollographql/rover/blob/main/src/command/supergraph/compose/do_compose.rs#L104) which is attempting to run the binary that it found from [this function](https://github.com/apollographql/rover/blob/main/src/command/supergraph/compose/do_compose.rs#L70) - [(src of that function)](https://github.com/apollographql/rover/b

[2022-08-26 07:15] split commented on #1215
Any progress or timeline for this one? 😃

[2022-08-26 16:39] EverlastingBugstopper opened #1260 "`rover dev` should require other sessions to be the same version of rover"
if you run `rover@vX.X.X dev` in one terminal and `rover@vY.Y.Y` in another, it should return an error saying you need to use the same version of rover for both sessions. we may relax this in the future as the message format stabilizes, but until then we should require the same version.

[2022-08-26 16:55] xenoterracide opened #1261 "LICENSE 404"
❯ rover supergraph compose --config ./supergraph.yml
installing plugin 'supergraph-2' for 'rover supergraph compose'...
supergraph is licensed under the Elastic license, the full text can be found here: https://raw.githubusercontent.com/apollographql/rover/v2.0.5/plugins/supergraph/LICENSE
By installing this plugin, you accept the terms and conditions outlined by this license.
Do you accept the te

[2022-08-26 17:02] EverlastingBugstopper commented on #1261
oops! thanks so much for this report. i've got a fix in #1262 for this

[2022-08-26 17:11] xenoterracide commented on #1259
cute...

[code]

please fix or provide full documentation for this install on the website. Might need for CI due to corporate proxy hell.

which brings up another point, is there another way to install this so that CI works?

[code]

again, I'm not sure it'll allow me to reach out to that url (CI is linux, but you get the point)

[2022-08-26 17:12] xenoterracide commented on #1259
oh, it looks like that error is other cuteness...

[code]
no npm issues though, please fix your code!

[2022-08-26 17:21] xenoterracide commented on #1259
ok, that one is corporate proxy shenanigans, I forgot to enable it locally, however, that makes me think it won't install properly in CI, because CI is more restrictive. I need to be able to install all this stuff in CI which means going through our corporate registry proxy.

[2022-08-26 17:41] #1261 closed, assigned to EverlastingBugstopper

[2022-08-26 17:41] EverlastingBugstopper commented on #1261
for posterity - the link is [here](https://go.apollo.dev/elv2)

[2022-08-26 17:56] xenoterracide opened #1263 "rover doesn't work with corporate proxy"
on install with yarn berry **BERRY** please ensure that `yarn --version` is using `3.x` after you complete setup steps

[code]

[code]
but I just told you not to...

[code]

I guarantee none of my local dev workarounds are going to work in our CI system. that telemetry env var doesn't seem respected. and anything else must be able to use our private npm proxy server

Rover Info:
Version: 0.8.1
Ins

[2022-08-26 18:55] EverlastingBugstopper commented on #1263
hi @xenoterracide - we have a [section in our docs](https://www.apollographql.com/docs/rover/proxy/) about using rover with a corporate proxy. could you take a look and see if that helps you out?

as far as the telemetry var being respected, do you see a "telemetry has been disabled" message when you run with `--log info`? if so, you can be assured it has been disabled.

[code]

you can also look

[2022-08-26 19:04] EverlastingBugstopper commented on #1259
@xenoterracide I'm more than happy to help here, but please do try to remember that there are humans on the other side of your comments. Comments like "please fix your code" are not acceptable. Please refer to our [code of conduct](https://github.com/apollographql/.github/blob/main/CODE_OF_CONDUCT.md) if you are confused about how to respectfully ask for help with this project.

[2022-08-26 19:16] xenoterracide commented on #1263
[code]

[2022-08-26 19:17] xenoterracide commented on #1263
at a glance your unit test doesn't actually test the environment variable... but I don't know how that might be getting set ;)

[2022-08-26 19:19] xenoterracide commented on #1263
if that's not telemetry then what is it doing that I need the proxy?

[2022-08-26 19:20] EverlastingBugstopper commented on #1263
yes, this is expected. you need to set the `HTTP_PROXY` or `HTTPS_PROXY` environment variable (as explained in [the docs linked above](https://www.apollographql.com/docs/rover/proxy/)) in order to download the composition plugin. rover can compose with multiple versions of the composition library (which is written in javascript and called through rust w/an embedded v8 engine). you must have that b

[2022-08-26 19:21] xenoterracide commented on #1263
I looked at the docs, unfortunately that's not going to work, as mentioned any CI will have to go through our artifactory and I would prefer to do and test generation there.

[2022-08-26 19:22] xenoterracide commented on #1263
so it needs to be able to download all of this stuff, preferably via yarn rather than doing so itself without doing whatever the binary is doing in the other ticket

[2022-08-26 19:22] EverlastingBugstopper commented on #1263
you can store the [binaries](https://github.com/apollographql/federation-rs/releases) in your artifactory and download them to `~/.rover/bin` and name them like `supergraph-v2.0.5` (or whatever version you're using) and then run `rover supergraph compose` with the `--skip-update` flag. it will use the binaries you downloaded. you could also build them from source if that's your style.

[2022-08-26 19:22] EverlastingBugstopper commented on #1263
we will not be rearchitecting the plugins in that way, no.

[2022-08-26 19:26] xenoterracide commented on #1259
why is "please fix your code" not acceptable? I don't get that... this isn't in a state that's going to work for us, so why is it unacceptable to ask you to fix it on your side. If I was to suggest using apollo studio we couldn't because of how all of this currently works. Simply speaking the firewall on CI would prevent it.

Also, where is said yarn hack in your documentation? note: I don't think

[2022-08-26 19:33] xenoterracide commented on #1263
also the HTTP_PROXY env var is kind of hard to set in your IDE in a way that it get passed to git commit for a commit hook.

Also, ok, well I definitely can't recommend apollo studio due to these issues. Not sure they would pull out their wallet anyways, but this makes it an impossibility AFAIK. I might even have to look into an alternative composer. I'll worry about that after this PoC

[2022-08-26 19:40] xenoterracide commented on #1263
just so you know, I think all you'd have to do is put them up on the npm registry, and then allow people to configure their registry via config file, cli options, or env vars.

[2022-08-26 20:49] EverlastingBugstopper commented on #1220
the `--command` flag has been removed from `rover dev` for the time being.

[2022-08-26 20:49] #1220 closed, assigned to EverlastingBugstopper

[2022-08-26 23:25] smyrick opened #1265 "`rover dev` errors out after 5 sec on license agreement"
Running `rover dev` for the first time, I get the line that asks:

[code]

It fails if I am not quick on my keyboard for 5 seconds

Also it appears my answer is expected on a new line instead of inline with the previous user prompts so I am not sure if that has something to do with the bug

![Screen Shot 2022-08-26 at 4 21 49 PM](https://user-images.githubusercontent.com/2446877/187002363-f4df54a2

[2022-08-26 23:48] smyrick commented on #1258
We might want to rethink "moving away from supergraph.yml" because fundamentally that is what this feature is going to require. We could still have a local file but maybe we want to start phasing out the ability to run local composition, or require a graph id, or we could move composition to an API call but that gets into scale issues again.

ie

Run the ` mygraph@prod` with all the same URLs but

[2022-08-26 23:50] smyrick commented on #1258
If we are not going to allow fetch from an introspection we could have subgraphs push to new temp variant in Studio, any make sure Studio can handle running that many variants. This would have to be thought of the same way as GitHub handles branches today

[2022-08-29 17:42] EverlastingBugstopper opened #1266 "feat: better error message in `rover dev` when a subgraph url is the same as the router url"
if you run `rover dev` for a subgraph that runs at `http://localhost:4000`, it will fail to start up with the message `error: subgraph with url 'http://localhost:4000' is already running in this 'rover dev' session`.

after #1231 lands, `rover dev` will default the router to `http://localhost:3000` which is different than the default `apollo-server` endpoint of `http://localhost:4000`, but if some

[2022-08-29 17:59] EverlastingBugstopper commented on #1215
Hey @split - just checked in with the team. We have a large event coming up in October (GraphQL Summit) and so a lot of focus is on that right now. They plan on spending 1-2 sprints on this (along with a few other checks reliability improvements) after summit. Until then if this is a blocker for you, just keep using Rover ~v0.7 and I'll be sure to circle back here once the situation improves. Than

[2022-08-29 18:17] split commented on #1215
Thanks for the update @EverlastingBugstopper ! It's not blocker when checks still pass 🙂

[2022-08-29 18:18] EverlastingBugstopper commented on #1215
awesome! glad to hear it.

[2022-08-29 21:43] AmyGao123 opened #1267 "compose supergraph error"
**Using this command:**  npx rover config whoami
**Got this error:**
Checking identity of your API key against the registry.
error[E003]: Invalid header value
Caused by:
    failed to parse header value
        This error was unexpected! Please submit an issue with any relevant details about what you were trying to do: https://github.com/apollographql/rover/issues/new/choose

**It works on others'

[2022-08-29 21:55] EverlastingBugstopper commented on #1263
you should be able to set up environment variables in your IDE, i'm not sure what you use, but here are docs for how to do so with "launch configurations" in [VS Code](https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables). since this is not an issue with Rover (because you can configure it to work w/a corporate proxy), I'm closing this issue.

[2022-08-29 21:55] #1263 closed, assigned to nobody

[2022-08-29 23:10] EverlastingBugstopper commented on #1026
Thanks for the reproduction notes @Bspiric-deighton! I was able to reproduce this (_finally!_) by pasting the API key into `rover config auth` from within PowerShell on VS Code.

**TL;DR** - you will need to run `rover config auth` again and instead of pressing `Ctrl+V` to paste the API key, you should right-click and press paste

if you want details on some new error messages coming in the next v

[2022-08-29 23:12] EverlastingBugstopper commented on #1267
Hi @AmyGao123 - thanks for the report. I took a look at this today and it seems to be an issue with VS Code's default behavior when pressing `Ctrl+V` in an integrated Powershell terminal on Windows. if you run `rover config auth` again and instead of pressing `Ctrl+V` to paste your API key, right click the terminal window and click paste. This should fix your issue. Future versions of Rover will h

[2022-08-29 23:12] #1267 closed, assigned to EverlastingBugstopper

[2022-08-30 03:03] xenoterracide commented on #1263
You can't launch configuration in a Git hook

[2022-08-30 15:04] EverlastingBugstopper opened #1269 "`rover dev` should provide an endpoint to fetch subgraph SDLs"
`rover dev` spins up a [router](https://github.com/apollographql/router) which embeds sandbox. this sandbox endpoint does not have knowledge of all of the subgraph SDLs, only the API schema provided by the router. this is great for running queries since it's what clients will do, but it's not great for navigability in sandbox itself. the checks page is weird and you can't see all of the different

[2022-08-30 17:25] EverlastingBugstopper opened #1272 "the router spun up by `rover dev` should enable query plans"
the router can provide information about query plans if the experimental `expose_query_plan` plugin is enabled. this is useful information to have while developing a federated graph.

[2022-08-30 17:32] EverlastingBugstopper commented on #1253
you can run `rover install --plugin supergraph@vX.X.X`, where `X.X.X` is the version you would like to use, set the `APOLLO_ELV2_LICENSE=accept` environment variable, and then call `rover supergraph compose --config supergraph.yaml --skip-update`.

This should likely be documented a bit better than it currently is.

[2022-08-30 17:34] #1272 closed, assigned to abernix

[2022-08-30 17:35] #1026 closed, assigned to EverlastingBugstopper

[2022-08-30 17:44] EverlastingBugstopper opened #1273 "update router plugin installation to pull from orbiter"
now that router releases are served through [orbiter](https://github.com/apollographql/orbiter), start downloading from there instead of from github releases directly.

[2022-08-30 19:22] #1273 closed, assigned to EverlastingBugstopper

[2022-08-30 22:04] #1231 closed, assigned to EverlastingBugstopper

[2022-08-30 22:04] #1266 closed, assigned to EverlastingBugstopper

[2022-08-30 22:59] #1265 closed, assigned to EverlastingBugstopper

[2022-08-31 12:01] abernix commented on #1269
would love to be included in this conversation eventually whenever we get to it.

[2022-08-31 15:25] patrick91 opened #1277 "secondary `rover dev` crashes in `v0.9.0.alpha.6`"
## Description

Running a secondary `rover dev` crashes when there's a composition error

### Steps to reproduce

I've uploaded a video [here](https://share.cleanshot.com/wjXPbH), I can share the schema if needed 😊

### Expected result

Should the expected result be to not crash the secondary rover dev command and wait for the composition to work?

Also I wonder if it is worth to show the errors i

[2022-08-31 15:39] patrick91 commented on #1277
mhm, this seems to be happen all the time with alpha.6, I'll close it for now :)

[2022-08-31 16:52] EverlastingBugstopper commented on #1277
no! this is not expected, you're exactly right, it should be waiting for composition to succeed and should not crash. also, i do have #1257 open about reporting composition errors to the other session, you're spot on there.

[2022-08-31 17:39] EverlastingBugstopper opened #1278 "`rover dev` should pin the composition version to the same federation version as the router"
to start, `rover dev` will allow you to use one version of the router for each version of rover. we currently use the latest federation 2 composition binary to compose the supergraph that is fed to the router. to prevent unnecessary surprises, we should pin the composition version to the same version used by the query planner in the router.

[2022-09-01 07:02] ntkoopman commented on #875
I feel this bug is still valid, as the error message suggest putting `--header` in front of the endpoint, which doesn't work.

[2022-09-01 14:11] EverlastingBugstopper commented on #875
@ntkoopman where are you seeing that suggestion? can you open a new issue with what you are trying to do, the error message you're seeing, and any steps you may have taken to attempt to fix the issue.

[2022-09-01 18:34] michael-watson opened #1281 "Have `rover dev` output query plans to terminal output?"
## Description

This question outlines a specific use case:

As a user with an existing GraphQL monolith and an existing GraphQL client application, I want to migrate to the supergraph with an existing UI. In this migration, I don't want to change the shape of my clients' query, but move a portion of the query to a second subgraph.

In performing this migration, I will want to verify the query pla

[2022-09-01 20:28] EverlastingBugstopper commented on #1277
turns out this was happening not only for composition errors but for composition success as well.

[2022-09-01 20:30] #1257 closed, assigned to EverlastingBugstopper

[2022-09-01 20:30] #1277 closed, assigned to EverlastingBugstopper

[2022-09-01 21:25] #1228 closed, assigned to EverlastingBugstopper

[2022-09-02 17:47] EverlastingBugstopper commented on #1281
I talked a bit with @abernix about this and the concern is that the output of query plans can be _astronomical_ if it wasn't a "hello world" type of query. the size and complexity of a query plan combined with the limited nature of output in a terminal, this is not something we would be likely to implement. i _think_ sandbox is where we expose operation collections today, though i'm not sure if th

[2022-09-03 23:34] snoopdave opened #1283 "bug: crashed while running subgraph check"
Here's the command used:
rover subgraph check ${APOLLO_GRAPH_REF} --name spaceastronauts --schema schemas/astronauts.graphql

Note that this occured in a Github Action, which you can find here:
https://github.com/snoopdave/space-camp-federation-demo/blob/main/.github/workflows/node.js.yml

**Crash Report**
[code]

[2022-09-04 20:32] snoopdave commented on #1283
Closing this because I was using a very very old version of Rover and v0.8.1 fixed the problem.

[2022-09-04 20:32] #1283 closed, assigned to nobody

[2022-09-06 14:27] EverlastingBugstopper opened #1284 "on error e013, check if `APOLLO_KEY` is set"
if error e013 is thrown, check if `APOLLO_KEY` is set and inform the user that they should unset it if they would like to use the `--profile default` instead.

[2022-09-06 14:31] EverlastingBugstopper commented on #1284
[relevant code snippet](https://github.com/apollographql/rover/blob/c9869e752989dfdce993fd66d17fb482471d853f/src/error/metadata/mod.rs#L139)

[2022-09-07 07:33] ptondereau commented on #1047
Definitely agree that flags should have precedence over ENV.
From an old PHP dev, some frameworks took the decision to remove some flags and just use an ENV but I'm not a big fan.

[2022-09-07 17:44] #1214 closed, assigned to EverlastingBugstopper

[2022-09-07 17:45] #1278 closed, assigned to EverlastingBugstopper

[2022-09-08 15:28] #1284 closed, assigned to EverlastingBugstopper

[2022-09-08 15:32] EverlastingBugstopper commented on #841
this was fixed a while back by the great @StephenBarlow

[2022-09-08 15:32] #841 closed, assigned to EverlastingBugstopper

[2022-09-08 15:34] EverlastingBugstopper commented on #943
i investigated this and got 1 bajillion error messages. closing this.

[2022-09-08 15:34] #943 closed, assigned to EverlastingBugstopper

[2022-09-08 15:36] #688 closed, assigned to EverlastingBugstopper

[2022-09-08 15:36] EverlastingBugstopper commented on #688
Closing this as won't do - nobody external has asked for this feature.

[2022-09-08 17:02] #1124 closed, assigned to EverlastingBugstopper

[2022-09-08 21:55] EverlastingBugstopper opened #1294 "sometimes the router isn't killed when `rover dev` is killed"
we should poll the health check endpoint after kicking off the killer and only exit the process once it's dead

[2022-09-08 21:56] EverlastingBugstopper opened #1295 "sometimes the leader `rover dev` session thinks it's a follower"
this seems to only happen on MacOS - we can circumvent this issue by re-using the `is_main_session` boolean that is determined at startup and also by removing the socket file when the main `rover dev` session is killed

[2022-09-08 22:01] #1295 closed, assigned to EverlastingBugstopper

[2022-09-09 17:09] #1294 closed, assigned to EverlastingBugstopper

[2022-09-09 17:34] dbanty opened #1297 "Error after restarting the server that `rover dev` is introspecting"
## Description

In release builds only, if I follow the below steps, I get the error message `error: could not read incoming message from the main `rover dev` session after 5 seconds` from the main session (the only one running).

### Steps to reproduce

1. Start a subgraph
2. Run `rover dev --url http://localhost:<port> --name <some_name>`
3. Turn off the subgraph. See the expected `error[E028]`

[2022-09-12 14:42] EverlastingBugstopper opened #1300 "`rover dev` should poll graphql endpoint for health check"
hit `/?query={__typename}` instead of `/.well-known/apollo/health-check`

[2022-09-12 15:05] EverlastingBugstopper commented on #1181
closing this as it hasn't been reproduced for a long time and it may have been solved by #1183. if you encounter this issue, please re-open it and include as much detail as possible about what you were doing.

[2022-09-12 15:05] #1181 closed, assigned to EverlastingBugstopper

[2022-09-12 16:17] dbanty opened #1301 "Refactor to prevent missed responses"
Specifically, in `LeaderMessenger::receive_messages` we could require that the handler for each `FollowerMessageKind` returns a response message, which will then be written out by this upper function. That should mean that we can't skip any responses.

[code]

[2022-09-12 16:55] EverlastingBugstopper opened #1302 "remove `launchpad` and replace w/`introspector-gadget`"
the introspection functionality provided by `launchpad` has been published to crates.io as `introspector-gadget`. Rover should use this crate and delete `launchpad`.

[2022-09-12 17:55] #1302 closed, assigned to EverlastingBugstopper

[2022-09-12 18:02] abernix opened #1304 "rover dev: Set router dev environment variable."
We should set an environment variable when running `rover dev` as part of  #1190, following up on the introduction of `APOLLO_ROVER` in https://github.com/apollographql/rover/commit/fee4d2b35bc6767a4541e03c06b4d6c54304484a within https://github.com/apollographql/rover/pull/1288.

This could be `APOLLO_ROUTER_DEV_MODE=true`, or just ``APOLLO_ROUTER_DEV=true``. Maybe the latter just because it's sho

[2022-09-12 18:12] EverlastingBugstopper opened #1305 "`rover subgraph publish` shouldn't require `--convert` flag if there has been no successful `rover graph publish`"
currently, if you run `rover subgraph publish` and it fails, subsequent publishes will require the `--convert` flag, because the `IsFederatedQuery` returns `true`, even if there is no SDL associated with that variant. The `IsFederatedQuery` should be updated to return `true` _only_ in cases where there is no existing monograph SDL associated with a graph variant.

[2022-09-12 19:59] EverlastingBugstopper opened #1306 "fix flaky link checker"
our changelog is approaching 1MB in size and I think it's making our link checker unhappy. consider migrating away from our npm link checker to one written in rust that includes retries. [lychee](https://github.com/lycheeverse/lychee) looks like a fantastic choice. [This code](https://github.com/apollographql/rover/blob/main/xtask/src/tools/npm.rs#L100) is what needs to be updated.

[2022-09-12 20:07] #1301 closed, assigned to EverlastingBugstopper

[2022-09-12 22:11] alinxess opened #1308 "rover supergraph compose command fails and shows (500 Internal Server Error)"
## Description

Following the Federation 2 quickstart guide , at the [local composition ](https://www.apollographql.com/docs/federation/v2/quickstart/local-composition) step the following error is shown when running the rover supergraph compose command

### Steps to reproduce

follow all the steps at [local composition ](https://www.apollographql.com/docs/federation/v2/quickstart/local-composition

[2022-09-12 22:16] EverlastingBugstopper commented on #1308
Hi @alinxess - thanks for the report. It sounds like your endpoint is not responding to an introspection request being performed against the subgraph. What happens if you run `rover subgraph introspect http://localhost:4001/graphql`? I imagine you'll get the same 500 error. If so, this error is being returned from the subgraph you are running, and is not something that Rover can do anything about.

[2022-09-13 04:04] col opened #1309 "`rover subgraph publish` returns a 0 exit code even when it fails"
## Description

When I run a `rover subgraph publish` command and it fails to publish the changes to the Gateway, I expect it to return a non-zero exit code so that the CI job that is running the publish command will fail. If the CI job doesn't fail this error can easily be missed and it's assumed that everything has been published correctly.

### Steps to reproduce

- Make a small schema change t

[2022-09-13 15:10] alinxess commented on #1308
Thankyou @EverlastingBugstopper  for replying . Its an application server . I have already built supergraph from federation v1 and its running fine. But now I moving to federation v2 and also want to update my old supergraph and for that I was running the above supergraph compose command but it is showing 500 error.

[2022-09-13 15:12] alinxess commented on #1308
It is showing the same error when i run rover subgraph introspect http://localhost:4001/graphql

[2022-09-13 16:01] EverlastingBugstopper commented on #1309
This is expected behavior, because the publish still succeeded even though composition failed.

You can see this indicated in the output with the line `The 'myapp' subgraph for the 'MyApp@dev' graph was updated`

Apollo Studio received the publish, and is waiting for subsequent publishes to resolve the composition error. Only once composition succeeds will uplink and `rover supergraph fetch` start

[2022-09-13 16:01] #1309 closed, assigned to EverlastingBugstopper

[2022-09-13 16:07] EverlastingBugstopper commented on #1308
So that means that your GraphQL endpoint is not responding to the SDL request properly. You will need to debug your application server independently - this is not a bug with Rover.

You should be able to reproduce the HTTP request that Rover is sending with the following `curl` command:

[code]

You should look in the logs for your application and determine what is happening to make your server re

[2022-09-13 16:07] #1308 closed, assigned to EverlastingBugstopper

[2022-09-13 18:18] EverlastingBugstopper opened #1310 "`rover dev` should try the `/graphql` endpoint if both introspection methods fail"
when passing `http://localhost:4000` to the `--url` argument in `rover dev`, if introspection fails, we should suggest that they try passing `http://localhost:4000/graphql` as the `--url` argument instead.

[2022-09-13 22:28] EverlastingBugstopper opened #1311 "sometimes `rover dev` fails because there are too many open files"
sometimes `rover dev` fails like this:

[code]

this is sad and disappointing. i am unable to reproduce this issue as of yet, and i'm not sure what we'll need to do to fix it. it may require implementing a semaphore on the interprocess connections, it may require just implementing retries with backoff on the connections. it could be something else entirely, but it doesn't seem normal to reach 256

[2022-09-13 22:43] EverlastingBugstopper commented on #1311
this seems to only happen on M1 machines - something is leaking file descriptors, my hunch is that it's the `interprocess` crate, since the main `rover dev` session's file descriptors start climbing up once we start using connections.

[2022-09-13 23:24] EverlastingBugstopper commented on #1311
this seems to be fixed with the latest commit of the `interprocess` crate!

[2022-09-13 23:34] #1311 closed, assigned to EverlastingBugstopper

[2022-09-13 23:34] #1260 closed, assigned to EverlastingBugstopper

[2022-09-13 23:41] EverlastingBugstopper opened #1315 "the main `rover dev` should use a channel instead of a socket to talk to itself"
currently, the main `rover dev` session is in charge of updating its own subgraphs via an interprocess socket. in this case, a channel should be used instead to reduce overhead, and to allow the router to be killed gracefully if the socket implementation breaks down (due to leaky file descriptors or other unforeseen problems). if everything works properly, the router is gracefully shutdown, but if

[2022-09-14 14:14] y-nk opened #1316 "GraphQL schema structure"
## Description

For recreational purpose I've been looking into the network calls which rover makes, and found interesting patterns where field resolvers inside models are ending up making mutations.

For example, when calling: `rover foo` we can see this:

[code]

I'm not sure to see why you'd need to nest the graph/variant queries there instead of defining a `submitSubgraphCheckAsync` which take

[2022-09-14 15:13] EverlastingBugstopper commented on #1316
Hey @y-nk this is a great question and I hope that spelunking through Rover has been interesting for you.

Our team has written up a [tech note](https://www.apollographql.com/docs/technotes/TN0012-namespacing-by-separation-of-concern/) on exactly this question. Essentially it all boils down to discoverability. You can only run checks on a graph variant, and so it makes sense to nest the check muta

[2022-09-14 15:20] y-nk commented on #1316
thanks @EverlastingBugstopper for such a fast answer. i will read that tech note. as a quick following, wouldn't it be correct that nesting resolvers (although i understand your point) would be considered as less performant?

Is the server side closed source or would it be possible to understand (roughly) how the resolver is structured in order to keep it performant?

[2022-09-14 15:52] reduxdj commented on #582
This is the most annoying thread of the year. Hats off.. I've been trying to figure out why rover silently fails and creates empty output, my hunch is it's falling apart in one of the steps above... is there a reliable way to run `rover supergraph compose` in a docker container with a low level of effort? This pains me to understand and I'd rather be working on my schema than try figure out the pa

[2022-09-15 15:29] EverlastingBugstopper commented on #1258
for folks who want this - we are planning to extend `rover dev`'s functionality to allow you to extend a remote router with one or more local subgraphs. if that use case does not work for your plans, we'd love to hear about it.

[2022-09-15 15:58] dbanty commented on #1258
I would love to update [`async-graphql`'s federation example](https://github.com/async-graphql/examples/tree/master/federation) to use `rover`/`router` instead of Apollo Server + Gateway. It would be much easier if all the subgraphs could be defined in a single file, similar to how you can define them in JavaScript for Gateway.

The ability to run a small supergraph locally-only for debugging/hack

[2022-09-16 14:06] lennyburdette commented on #1258
I don't personally care if it's local or remote, and half the time I don't even care if a router is actually running. I mostly want the ability to test out composition concepts and get real-time feedback. I often need to:

* test out a new composition feature that works across multiple subgraphs like `@composeDirective`
* demonstrate composition to customers and show the resulting errors and hints

[2022-09-16 18:46] #1304 closed, assigned to EverlastingBugstopper

[2022-09-16 18:46] #1315 closed, assigned to EverlastingBugstopper

[2022-09-16 19:17] EverlastingBugstopper commented on #1316
Yes, nesting resolvers have a waterfall effect, but at least in our API the performance tradeoff vs. user experience is worth it. We try to keep our root resolvers very inexpensive and indexed in our databases as much as possible, but you're absolutely correct that there is a small penalty.

[2022-09-19 07:27] y-nk commented on #1316
@EverlastingBugstopper thanks a lot, this is what i understood as well. I guess it's all about tradeoffs. Closing now, thanks again for taking the time to answer 🙏

[2022-09-19 07:27] #1316 closed, assigned to nobody

[2022-09-19 15:09] EverlastingBugstopper commented on #1316
You got it! Any more questions (or ideas for improvements to the project) feel free to shoot them over.

[2022-09-19 18:50] dusty2020 opened #1320 "More detailed errors in json output of compose command"
## Description
I would like to use the json output of the compose command (--output=json) to validate hints but in error situations the command doesn't return the same level of detail as running the command without --output=json. For example, running the command normally lets me know which subgraph file has a problem

[code]

Running the command with --output=json doesn't include the extra informa

[2022-09-19 21:24] EverlastingBugstopper commented on #1320
this is a good point! we will need to extend our custom error serializer [here](https://github.com/apollographql/rover/blob/main/src/error/mod.rs#L46). hopefully there's a way to enumerate error "causes" and we can put them in an array so they can be accessed via `.data.error.causes`. we should also consider including suggestion information in the json output.

[2022-09-19 21:42] EverlastingBugstopper commented on #1225
closing as won't do - the emojis and output are good as is

[2022-09-19 21:42] #1225 closed, assigned to EverlastingBugstopper

[2022-09-20 17:30] EverlastingBugstopper opened #1324 "the main `rover dev` session prints composition errors twice."
[code]

[2022-09-20 18:27] EverlastingBugstopper commented on #1300
this is done

[2022-09-20 18:27] #1300 closed, assigned to EverlastingBugstopper

[2022-09-20 18:27] EverlastingBugstopper commented on #1297
this has been fixed

[2022-09-20 18:27] #1297 closed, assigned to EverlastingBugstopper

[2022-09-20 18:57] #1324 closed, assigned to EverlastingBugstopper

[2022-09-20 18:57] #1217 closed, assigned to EverlastingBugstopper

[2022-09-20 18:57] #1237 closed, assigned to EverlastingBugstopper

[2022-09-21 10:07] ptondereau commented on #1306
I did some tests with `lychee-lib` to avoid downloading another tool, but it's not currently feasible as the links' collector use `async` runtime. Where can I add an external tool in the CI process: do I need to require from xtask's code or from the circle ci config?

[2022-09-21 14:41] EverlastingBugstopper commented on #1306
Sure! So this link checker should be looped up into the `xtask lint` workflow step. You should be able to add an async runtime to just a portion of that code by not using the usual `#[tokio::main]`, but instead creating and starting a new runtime instance in only the section of code that needs it with [`Runtime::new()`](https://docs.rs/tokio/latest/tokio/runtime/struct.Runtime.html#method.new) and

[2022-09-21 14:44] EverlastingBugstopper commented on #1306
I'd probably add a `LycheeRunner` in [`tools`](https://github.com/apollographql/rover/tree/main/xtask/src/tools), remove the link checker from the `NpmRunner` lint step that is executed [here](https://github.com/apollographql/rover/blob/main/xtask/src/commands/lint.rs#L14), and then add in that `LycheeRunner::new()` and `lychee_runner.lint()?` in that same file.

[2022-09-22 19:18] #1256 closed, assigned to EverlastingBugstopper

[2022-09-22 19:46] #1239 closed, assigned to EverlastingBugstopper

[2022-09-26 20:25] EverlastingBugstopper opened #1337 "typo in output of `rover subgraph publish`"
currently, the output of a successful `rover subgraph publish` says "Monitor your schema delivery progresson studio: https://studio.apollographql.com/launch/launch-id" when it should say something like "You can monitor this launch in Apollo Studio: https://studio.apollographql.com/launch/launch-id"

[2022-09-26 23:04] prasek opened #1338 "`rover subgraph introspect` support for dynamically calculated AWS SignatureV4 headers"
## Description

`rover subgraph introspect` generates a `_service { sdl }` query, but for services created and authenticated using AWS IAM it requires passing [AWS auth headers](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html) as part of the request for `rover subgraph introspect` to succeed.

It may be possible to manually generate the auth `--header` fo

[2022-09-28 14:29] EverlastingBugstopper opened #1345 "feat: add `--cors` to `rover dev`"
we should allow cors settings to be handled by `rover dev` so that folks can query their supergraph from some frontend that isn't on the same host.

i think we can handle this by allowing multiple `--cors-origin` arguments to be passed.

as a follow-up, i think we could have rover spin up a proxy that forwards all requests to the router, and when it receives a request from a different host, the ma

[2022-09-28 14:32] EverlastingBugstopper commented on #1345
we could also say that this will be fixed instead by the router dev plugin that would allow a `rover dev` process to attach to a running router that already has this CORS configuration. https://github.com/apollographql/router/issues/1479

[2022-09-28 14:42] o0Ignition0o commented on #1345
It's worth noting the cors origins yml configuration *replaces* the default one, so if such a list is set, we don't want to forget to add `https://studio.apollographql.com` programatically.

[2022-09-28 18:26] EverlastingBugstopper opened #1349 "remote_url_hash in anonymized telemetry should not exclude non-major git origins"
currently, `GitContext::sanitize_remote_url` excludes any git remote url that is not bitbucket, gitlab, or github. this is OK for GitContext used by `rover-client`, but not for `sputnik`. we should refactor that function out - one that excludes and one that doesn't.

[2022-09-28 22:56] reduxdj opened #1353 "rover is broken and complains for metadata at supergraph compose"
[code]

[2022-09-28 23:04] reduxdj commented on #1353
It looks like all of a sudden version 0.9.0 in rover stopped working and composing my queryplan amd standard out just outputs a blank file??

Here's my configuration, since we use sensitive data, we can not participate in your cloud offering. What I do is run the rover command on our build box, which happens to be the kubernetes cluster where we run the environment which is running on linux/amd64.

[2022-09-29 02:07] reduxdj commented on #1353
Reverting back to 0.70 works with --skip-update flag (glad I had a copy of the rover bin lying around) solved my problem, the service that it's complaining about is a rust warp async-graphql micro-service  (subgraph)
version:

async-graphql = "4.0.6"
async-graphql-warp = "4.0.13"

[2022-09-29 13:26] EverlastingBugstopper commented on #1353
Hey @reduxdj - not sure why supergraph compose is outputting a blank file (unless an error is occurring, in which case I would expect that.) It looks like the localhost:4003 endpoint is returning a 404? If so, there's nothing Rover can do about that - you'll need to make sure that endpoint is running and accepting incoming introspection queries. You can run `rover subgraph introspect http://localh

[2022-09-29 19:24] dominicfollett opened #1355 "Rover build from source failing on rover-client compilation"
## Description

We need to compile Rover from source because we're on M1 macs. At some point Rover de-composed the binary into several binary plugins that are dynamically loaded at runtime which meant we needed to compile those from source separately, and then copy them into the next stage of the Docker build where they are expected.

This approach was working fine for us for a while, but recent b

[2022-09-29 20:04] EverlastingBugstopper commented on #1355
Hey @dominicfollett - we're working on pre-built ARM binaries for Rover, they should be coming soon, hopefully you can do away with your custom builds soon.

As for this issue, I saw this starting yesterday. It was due to a change made in our back end that require clients to identify themselves with some extra headers. We already sent those headers for actual requests made by Rover, except for the

[2022-09-29 20:05] EverlastingBugstopper commented on #1355
If you want to stick around on 0.7.0, you will need to apply the changes I made in the PR I linked in my previous comment to `./crates/rover-client/build.rs`.

[2022-09-29 20:27] dominicfollett commented on #1355
Thank you @EverlastingBugstopper -- that has resolved my build issue.

[2022-09-29 20:27] #1355 closed, assigned to nobody

[2022-09-30 18:24] #1349 closed, assigned to EverlastingBugstopper

[2022-09-30 19:01] EverlastingBugstopper commented on #1337
fixed by #1358

[2022-09-30 19:01] #1337 closed, assigned to EverlastingBugstopper

[2022-09-30 23:01] EverlastingBugstopper commented on #582
We have released initial ARM support in [`v0.9.2-rc.0`](https://github.com/apollographql/rover/releases/tag/v0.9.2-rc.0). Please give it a spin and let us know if you run into any issues using it.

[2022-09-30 23:02] EverlastingBugstopper commented on #260
_Originally posted by @EverlastingBugstopper in https://github.com/apollographql/rover/issues/582#issuecomment-1264116353_

[2022-10-02 03:40] reduxdj commented on #1353
[code]

Ok, thanks, however, now it's impossible to install / run rover in a docker in a container... for example:

[2022-10-03 13:53] EverlastingBugstopper commented on #1353
We just released ARM support in [v0.9.2-rc.0](https://github.com/apollographql/rover/releases/tag/v0.9.2-rc.0) that should take care of this. Do you mind trying to install that?

[2022-10-03 14:23] paulmthiebauth opened #1361 "Typo: Migration guide 'check schema' instructions"
## Description
In the `apollo` -> `rover` migration guide, the section titled `Checking monolithic graph changes` instructs users to run the `publish` command. The instructions here should ask the user to run `check` instead, AFAICT.

It'd be good to have the docs updated to help out future migrators.

https://github.com/apollographql/rover/blob/main/docs/source/migration.md#checking-monolithic-gr

[2022-10-03 15:33] hobbsh opened #1362 "500 Downloading Supergraph Plugin on Supergraph Compose"
## Description

We have been seeing 500s since last week when downloading the `supergraph` plugin for rover during a `rover supergraph compose`. Not sure why it started happening or if there's something we should be doing differently.

We are running:

[code]

And the error is:
[code]

### Steps to reproduce

It seems intermittent and is likely related to the availability of `rover.apollo.dev`. Th

[2022-10-03 16:33] giri-jeedigunta commented on #1362
Same here ! I'm trying the router for the first time and this is proving to be a frustrating experience :/

`rover supergraph compose --config ./supergraph.yaml`

`**error:** HTTP status server error (500 Internal Server Error) for url (https://rover.apollo.dev/tar/supergraph/x86_64-apple-darwin/latest-2)`

I installed using
`curl -sSL https://rover.apollo.dev/nix/latest | sh`

just typing `rover`

[2022-10-03 16:56] hobbsh commented on #1362
I don't know why they're serving assets from a Netlify app instead of a CDN. Maybe its using Netlify Edge? If it is, it's not reliable at all.

[code]

[2022-10-03 18:48] EverlastingBugstopper commented on #1362
Hi all - looking into this now. Sorry for the inconvience!

[2022-10-03 18:56] EverlastingBugstopper commented on #1362
For now, as a workaround, you can pass the `--skip-update` flag to skip this check. The binaries are also available for download directly from the [GitHub releases](https://github.com/apollographql/federation-rs/releases) for these packages. You can store these binaries in `~/.rover/bin/supergraph-v{version-you-download}` and Rover will pick it up.

[2022-10-03 19:23] hobbsh commented on #1362
@EverlastingBugstopper is there a reason why `update` is the default behavior? It seems risky to download dependencies at runtime.

[2022-10-03 20:00] EverlastingBugstopper commented on #1362
Yes, the reasoning is to de-couple Rover's release process from the composition release process, and to provide improvements to error messaging and CI pipelines without active effort from developers. However, if you would like to opt-out of this behavior, you can do so by pinning your `federation_version` in `supergraph.yaml`, as documented [here](https://www.apollographql.com/docs/rover/commands/

[2022-10-03 20:20] hobbsh commented on #1362
I see, thanks for the response and workarounds!

[2022-10-03 20:48] EverlastingBugstopper commented on #1355
Just following up - we have prebuilt binaries for ARM machines if you would like to remove your build code @dominicfollett. That release can be found [here](https://github.com/apollographql/rover/releases/v0.9.2-rc.1).

[2022-10-03 20:49] EverlastingBugstopper commented on #1362
This should be resolved now, we've rolled out an update to bypass the 500 errors on GitHub. Please let me know if you start having issues with this again.

[2022-10-03 20:49] #1362 closed, assigned to EverlastingBugstopper

[2022-10-03 20:51] EverlastingBugstopper commented on #1361
Thanks for the report @paulmthiebauth! I've merged a fix to this in #1364.

[2022-10-03 20:51] #1361 closed, assigned to EverlastingBugstopper

[2022-10-04 01:22] ntkoopman opened #1365 "Introspect documentation is incorrect"
## Description

The introspect help mentions that options should go before the endpoint, but they actually need to go behind the endpoint.

### Steps to reproduce

[code]

[code]

### Expected result

It should either work or show a correct error.

### Actual result

It shows the exact same command that was executed.

### Environment

Run `rover info` and paste the results here
[code]

[2022-10-04 05:58] giri-jeedigunta commented on #1362
This is working as expected after few tries. I don't see this error anymore. Thanks for all the help and support !

[2022-10-04 14:50] EverlastingBugstopper commented on #1365
Hi @ntkoopman - thanks for the bug report! This is super strange, but unfortunately the fix will have to be made upstream, in the `clap` library that we use to parse command line arguments and display help/error messages, etc. I've filed [this issue](https://github.com/clap-rs/clap/issues/4346) and I will keep tabs on it. It's also possible that the latest major version of clap will fix this, and

[2022-10-04 14:51] EverlastingBugstopper commented on #1353
Closing this issue as I believe this has been resolved. If you run into any other issues, please do let us know.

[2022-10-04 14:51] #1353 closed, assigned to nobody

[2022-10-04 19:57] #1306 closed, assigned to EverlastingBugstopper

[2022-10-05 20:28] xenoterracide opened #1367 "How do I find out what the latest version of the plugin actually is?"
## Description

https://www.apollographql.com/docs/rover/commands/supergraphs/#preventing-updates

How do I find out what latest is so I can lock it down? the url I see it fetching from is .../latest... I can't find any metadata commands for the version. obviously it's a good idea to lock for people so we know they have the same.

btw, my workaround was to bisect from 2.0.1 - 2.0.9 until I found a

[2022-10-06 14:19] EverlastingBugstopper commented on #1367
Latest versions are stored in `./latest_plugin_versions.json` at the root of this repo, and the download URLs for the tarballs include an `X-Version` header in the response.

[code]

[2022-10-06 14:21] EverlastingBugstopper commented on #1367
You can also run the following, and note the version it's installing in the output

[code]

[2022-10-06 14:21] #1367 closed, assigned to EverlastingBugstopper

[2022-10-06 21:20] EverlastingBugstopper commented on #1365
OK after some discussion on that issue, all I had to do was to remove the `multiple=true` attribute from the headers and now everything works as expected! Check out #1369 for the fix.

[2022-10-06 22:07] theJC opened #1370 "feat: add `--quiet`/`-q` flag to disable progress messages printed to `stderr`"
## Description

npx/npm installer has if !suppressLogs then two different console.error are executed.
Provide a command line flag to npx invocation to suppress logs so that stderr output is not done.
https://github.com/apollographql/rover/blob/32a4407c81410da12e8b7a10a40b83ac7a58e30d/installers/npm/binary.js#L108

In our CICD pipeline, we are running rover via npx, without installing it and wish t

[2022-10-08 15:11] Ansh5461 opened #1371 "Could not parse supergraph config: subgraphs.course_query: data did not match any variant of untagged enum SchemaSource at line 5 column 17"
I am on Ubuntu OS and I am using rover CLI to generate a supergraph from my subgraphs, and when I type the command

`rover supergraph compose --config ./supergraph-config.yaml`

It throws an error as:-

`error: Could not parse supergraph config: subgraphs.course_query: data did not match any variant of untagged enum SchemaSource at line 5 column 17.`

My supergraph-config.yaml is as given below: -

[2022-10-08 15:16] EverlastingBugstopper commented on #1371
Hey @Ansh5461 - two things:

1) you need to refer to the files as files and not as subgraph_urls
2) you need to remove the trailing slash from the .gql files

for example:

`file: ../user_manager.gql`

[2022-10-08 18:20] Ansh5461 commented on #1371
Thanks a lot, @EverlastingBugstopper , it solved my issue

[2022-10-08 19:15] #1371 closed, assigned to nobody

[2022-10-09 01:07] MincePie opened #1372 "How to configure an apollo graph - this was working last week"
## Description

Please can you help me figure out what the Apollo federation 2 setup instructions mean. There are conflicting naming conventions between the instructions in this doc and the Rover CLI instructions it links to, there are problems that I cannot identify in the mismatch between the format specified in the console error logs and the format shown in the instructions - and more.

My setu

[2022-10-10 15:40] #1365 closed, assigned to EverlastingBugstopper

[2022-10-10 17:19] #309 closed, assigned to EverlastingBugstopper

[2022-10-10 19:10] blackie6091 opened #1373 "Allow Router Configuration from Rover Dev"
## Description
It'd be ideal to be able to configure additional properties on the router using the `rover dev` command.  While our needs specifically pertain to header customizations, I could see other properties being made available as well. Our subgraphs require certain headers to always be present or an error will be thrown. Currently this makes the `rover dev` command unusable for our applicat

[2022-10-10 19:35] EverlastingBugstopper commented on #1372
@MincePie this issue doesn't really contain any information that I could use to help determine your issue. The StackOverflow issue also doesn't provide enough information to proceed.

Where are you getting the error message? What are you trying to do when you encounter it? Is it when you start up Apollo Server? If so, what version are you using?

As for finding an API key you can run `rover config

[2022-10-10 21:44] MincePie commented on #1372
@EverlastingBugstopper - do you know if there is a consulting platform for people that know how to use apollo to hire? I tried 3 different people on general platforms yesterday and was not able to find anyone that knows how to solve this problem. I get the 406 error in the server logs when I try to run the local host. I cannot post to the db from the local host interface, because of a json error r

[2022-10-11 07:56] nedarctic opened #1374 "bug: crashed while <running rover dev>"
## Description

Describe the issue that you're seeing.

**Crash Report**

[code]

[2022-10-11 14:50] suleimanforever opened #1375 "Can't install rover using npm"
## Description

Unable to install using npm, error occurs in post-install with the message "Error fetching release: unable to verify the first certificate"

### Steps to reproduce

Have tried:
npm i -g @apollo/rover
npm i --save-dev @apollo/rover
npm i @apollo/rover
npm i -g @apollo/rover@0.9.1
npm i -g @apollo/rover@0.8.2

Other npm packages install just fine.

### Expected result

Rover is insta

[2022-10-12 19:29] EverlastingBugstopper commented on #992
@TheJC you're totally right - we made an improvement but not an actual fix for this. Re-opening and we'll take a look.

[2022-10-13 08:16] sschneider-ihre-pvs opened #1378 "bug: crashed while trying to start `rover dev`"
## Description

                            Did try to start rover dev with local schema and running server.

                            **Crash Report**

[code]

[2022-10-14 03:11] theJC opened #1379 "bug: git_context no longer being populated for subgraph check in 0.9.1"
## Description

We just bumped rover in our CICD pipeline scripts from 0.5.4 -> 0.9.1 and the process which we had been using that relies on the git_context to be populated automatically (without using the APOLLO_VCS_* env variables) is no longer working.

One of our other processes that explicitly sets the APOLLO_VCS_* env variables appears to continue to work properly.

I've been able to pinpoin

[2022-10-14 14:06] theJC commented on #992
@EverlastingBugstopper  -- Note, this is still showing up as closed.

[2022-10-14 15:32] theJC commented on #992
FYI, optimizations here would provide significant developer experience lift:

Our QA env now consists of 149 subgraphs
Our PROD env now consists of 121 subgraphs

Here's our daily p95 and max for the past 60 days of our "subgraph overlay" activity in QA which consists of doing one rover subgraph list command, writing out of a yaml file based off it, and then one rover subgraph compose command:

Un

[2022-10-17 09:53] charlie2clarke opened #1380 "`rover config whoami` should print to `stdout` instead of `stderr` and return JSON data"
## Description

I am trying to make use of rover via a golang application (yes I am sorry rustaceans) and I noticed that when executing the command:
[code]

The output is received via the Stderr and not Stdout.

### Steps to reproduce

My Go code to replicate this issue can be seen below:
[code]

### Environment

`rover info` output:
[code]

[2022-10-17 12:31] charlie2clarke commented on #1380
As a follow up question - is there a better way to be configuring GraphQL federation programmatically?

[2022-10-17 16:33] danilobuerger commented on #582
@EverlastingBugstopper thank you for your awesome work. Could we also get a musl arm64 build? They are provided for x86 so it makes sense (at least to me) to also provide them for arm64. This would allow alpine arm64 workloads to just use rover dists.

[2022-10-18 12:55] nedarctic opened #1382 "bug: crashed while trying to run rover dev in local development"
Was trying out rover dev with a local subgraph that was already running in port 4001. After providing my schema path, Rover prompted for url and name and afterwards crashed without any warning. Please help as I have run into this issue for more than two weeks now.

                            ## Description

                            Describe the issue that you're seeing.

[2022-10-19 20:59] davola opened #1383 "Unexpected `_entities[0]/submitCheckSchemaAsync` error on large schema check"
## Description

After updating Rover from version v0.7.0 to any newer version, we staretd having an undocumented error when trying to perform the graph check process.

The error itself is as follows:
[code]

### Steps to reproduce

This happends when runing the schema check jobs we have set our github workflows.

The steps we go trhough the actions are the following:

- Install any rover version h

[2022-10-21 01:38] andrewmclagan commented on #582
AMAZING

[2022-10-24 16:37] EverlastingBugstopper commented on #1382
Hi @nedarctic - I'm closing this as it is a duplicate of the issue you already opened in #1374. It takes us time to review incoming issues and opening duplicates like this clutters the issue tracker.

[2022-10-24 16:37] #1382 closed, assigned to nobody

[2022-10-24 16:39] EverlastingBugstopper commented on #1374
Hi @nedarctic - thanks for the report. Could you try running `rover dev` again with the `--log debug` argument and paste the entire output of the command here? This will help investigate the issue that you are encountering.

[2022-10-24 18:41] EverlastingBugstopper commented on #1380
Hey @charlie2clarke, thanks for the report!

No problem! One of Apollo's goals is to enable API development across multiple languages - Rust enables _us_ to provide that experience and for you to use the tools from any language you choose.

On to your question. Rover typically uses `stderr` to communicate progress (so, not always errors), and `stdout` to provide the output of a command. You're rig

[2022-10-24 19:53] EverlastingBugstopper commented on #992
🤔 So, looking into this it seems like each of those queries is fetching one subgraph schema at a time and also fetching the names of all the subgraphs, like so:

[code]

Do you think the fix is as simple as removing the section that requests the names of all the subgraphs? I could imagine a world where we perform a _second_ query after the initial one if no subgraph with that `subgraphName` was fo

[2022-10-25 17:08] RyanWhite25 commented on #1254
We ran into this issue today (federation v2) whilst trying to bundle rover & the supergraph plugin in an AWS Lambda layer. Here's a step-by-step to reproduce it on a container running ubuntu, in case anyone's struggling to reproduce the issue:

[code]

Updating `$PATH` with the plugin location described above seems to fix it, as does storing the supergraph plugin alongside rover in the same direct

[2022-10-25 21:22] EverlastingBugstopper commented on #1370
This seems like something we could implement for _any_ Rover command and not just the npx/npm installer commands. The [CLI Guidelines](https://clig.dev/#:~:text=%2C%20ssh.-,%2Dq%2C%20%2D%2Dquiet%3A%20Quiet.,-Display%20less%20output) recommend using a `-q`/`--quiet` flag to suppress any progress information that would be printed to `stderr`.

[2022-10-25 21:45] EverlastingBugstopper commented on #1379
Hi @theJC - I'm taking a look at this now.

[2022-10-25 21:51] EverlastingBugstopper commented on #1379
Could you help me out and let me know what the output of `git remote get-url origin` looks like in GitLab (just redact anything sensitive with *** - but let me know if there are any special characters in the remote)? I tried to reproduce this by running `git remote set-url origin https://gitlab-ci-token:[MASKED]@gitlab.xxxxxx.com/someorg/somerepo.git` and running older versions of Rover in that re

[2022-10-28 12:41] split commented on #1215
This issue seem to have been resolved and now `check` returns expected 🙌
[code]

[2022-10-28 12:41] #1215 closed, assigned to EverlastingBugstopper

[2022-10-31 18:03] EverlastingBugstopper opened #1390 "`rover supergraph compose` erroneously includes `.exe` in message suffix on windows"
On Windows, if you run `rover dev` or `rover supergraph compose`, this progress message will be printed:

[code]

The message should instead be

[code]

On Linux/MacOS this looks fine. The reason for this bug is [this line](https://github.com/apollographql/rover/blob/main/src/command/supergraph/compose/do_compose.rs#L139) which separates the version from the plugin prefix, but does _not_ handle th

[2022-10-31 18:56] EverlastingBugstopper commented on #992
Looked into this a bit more today - removing the error handling with the list of subgraph names does not seem to meaningfully impact the time to config resolution.

[2022-10-31 20:17] cristian-pelegrin opened #1391 "bug: crashed while run "rover dev""
## Description

[code]

**Crash Report**

[code]

[2022-10-31 21:29] EverlastingBugstopper commented on #1391
Hi @cristian-pelegrin - thanks for the report! Would you mind providing the schema you tried to run this command with (`./src/application/schema.graphql`)? This will help us with resolution.

[2022-10-31 21:38] cristian-pelegrin commented on #1391
hi @EverlastingBugstopper I already was able to run it successfully pointing to a different port number (4002). Not sure why but the error happened when tried to run in 5000.

But now that I have your attention, can you help me with an additional concern? I want to propagate an **Authentication** header sent from the client to the Subgraph running behind a raised Supergraph with `rover dev`, is th

[2022-11-01 15:19] EverlastingBugstopper opened #1393 "migrate schema download from `rover-client/build.rs` to `xtask prep`"
In service of deterministic builds, we should migrate schema downloads from `rover-client/build.rs` to be generated during `cargo xtask prep`. This way the schema will automatically update during our release process (or when someone manually makes a PR from a `cargo xtask prep` invocation). We should remove the schema from `.gitignore` and check the schema in as a binary file so that diffs are not

[2022-11-01 23:22] cristian-pelegrin commented on #1373
totally agree!!

[2022-11-02 09:00] jqwn opened #1394 "Allow disable version checking"
## Description

Allow disable the rover version checking.

Add details like:
- What does it do?

When the version checking is disabled, rover will not try to check new versions.

- What are the inputs/outputs?

The input could be an env similar to the env `APOLLO_TELEMETRY_DISABLED` which will disable the telemetry.

- Prior art (are there any other tools/products that do this now?)

Our current w

[2022-11-02 14:45] EverlastingBugstopper commented on #1394
Hey @tsing - thanks for the report!

A few things here:

1) I believe that 30 second delay may be due to the time it takes to resolve the SDL from all the sources in `supergraph.yaml` - do you still see that delay if you modify the `version.toml` manually?
2) This seems like a straightforward implementation, we should add a top level, global `--skip-update` flag in `cli.rs` and if it is set, skip

[2022-11-02 16:01] #1281 closed, assigned to nobody

[2022-11-02 20:43] dbanty opened #1395 "Check for TTY before prompting in `rover template use`"
_Originally posted by @EverlastingBugstopper in https://github.com/apollographql/rover/pull/1388#discussion_r1010828317_

[2022-11-03 00:12] jqwn commented on #1394
@EverlastingBugstopper regarding the timeout, there is no 30 seconds delay if we modify the `version.toml` manually.

Below is a screen shot when I run with `--log trace`, the line of `wait timeout exceeded` was shown in about 30 seconds after the line on top of it was shown.

<img width="1326" alt="Screenshot 2022-11-03 at 1 04 45 PM" src="https://user-images.githubusercontent.com/14569/199625268

[2022-11-03 15:16] EverlastingBugstopper opened #1397 "Improve suggestion for invalid subgraph name on `rover subgraph fetch`"
For supergraphs with a large number of subgraphs, the error message printed when running `rover subgraph fetch` likely contains too much information (every single name of every subgraph in that supergraph). That suggestion is helpful if a supergraph has less than 10 subgraphs, but anything over that becomes cluttered. We should detect the number of subgraphs and if it is over 10, tell them their s

[2022-11-03 21:48] #1394 closed, assigned to tsing, EverlastingBugstopper

[2022-11-03 22:25] #1221 closed, assigned to EverlastingBugstopper

[2022-11-04 18:28] #992 closed, assigned to EverlastingBugstopper

[2022-11-05 22:44] theJC commented on #1379
Sorry Avery, missed your message previously (wouldnt have been able to address it this past week anyways).  We put some kludgey workaround in place, so I'll have to create an isolated env to un-do those in order to be able to see and diagnose this....  hopefully I can get something back to you in the next couple days.

[2022-11-07 00:02] theJC commented on #1379
Sending you a PM with the exact text output

[2022-11-08 19:22] EverlastingBugstopper opened #1400 "chore: update to clap v4"
clap v4 has been out and stable for a bit now, we should migrate to it by following the [migration notes](https://github.com/clap-rs/clap/blob/master/CHANGELOG.md#migrating).

[2022-11-08 19:24] EverlastingBugstopper opened #1401 "chore: consider using `trycmd` to create snapshots of commands"
implementing command snapshots with [`trycmd`](https://docs.rs/trycmd/latest/trycmd/) could help decrease the chances of undetected backwards incompatibility.

maybe as a first pass, we could use them to replace the current JSON compatibility tests.

[2022-11-10 15:47] #1400 closed, assigned to EverlastingBugstopper

[2022-11-10 20:42] #582 closed, assigned to EverlastingBugstopper

[2022-11-10 20:43] EverlastingBugstopper opened #1408 "feat: musl arm64 build"
_Originally posted by @danilobuerger in https://github.com/apollographql/rover/issues/582#issuecomment-1281145494_

[2022-11-10 20:44] EverlastingBugstopper commented on #582
hey @danilobuerger - I've opened another issue to track prebuilt musl ARM binaries here: https://github.com/apollographql/rover/issues/1408.

[2022-11-10 21:00] danilobuerger commented on #582
Thanks!

[2022-11-10 21:17] EverlastingBugstopper opened #1410 "document `NO_COLOR` support"
`NO_COLOR` is coming to Rover soon, we should document its behavior

[2022-11-10 21:35] #1410 closed, assigned to EverlastingBugstopper

[2022-11-14 19:15] EverlastingBugstopper opened #1414 "chore: use `shell-candy` to wrap `std::process::Command` calls"
`shell-candy` is a crate that will allow us to shell out to external programs and allow us to process their output with a functional API.

this will give us the bonus of less code in this repository and consistency across `rover dev` and `cargo xtask` style commands (most importantly providing non-blocking output so you can see what is happening behind the scenes)

[2022-11-15 19:11] nburnett-mw commented on #1373
This would be great for our use case as well!

I know zero rust but I took a stab at adding support and would happy to push up what I have that _seems_ to work adding a custom header when running `rover dev`

[2022-11-16 17:32] EverlastingBugstopper opened #1417 "chore: remove git dependencies where possible"
right now our `Cargo.toml` is relying on a few git dependencies, this makes our builds marginally slower and lets them get out of date faster than we would like. let's trim those up where we can.

[2022-11-17 16:58] #1414 closed, assigned to EverlastingBugstopper

[2022-11-17 17:31] lefoulkrod commented on #1253
Has this capability been removed from the rover plugin recently?

[2022-11-17 17:35] lefoulkrod commented on #1253
[code]

[2022-11-17 17:35] EverlastingBugstopper commented on #1253
Ah - no, my comment was inaccurate. I've updated it to reflect the correct usage.

[2022-11-17 17:47] martinbonnin opened #1419 "Add "short" CLI options"
It's a bit weird that there is `-u, --url` but only `--name` and `--port`. Can we have all options have their matching "short" name? At least until there are duplicates...

[2022-11-17 17:50] EverlastingBugstopper commented on #1419
Yeah this makes sense to me. Name could be `-n` and `--supergraph-port` can be `-p`.

[2022-11-17 17:53] EverlastingBugstopper commented on #1419
looks like the only one missing is `-n` - `--supergraph-port` is already aliased with `-p`

[2022-11-17 18:18] joel-burton opened #1421 "Contract configuration via Rover and Platform API"
# Rover x Contracts

**Old design brief, from contract ideation**
  - https://github.com/apollographql/rover/issues/578
  - This is mainly included for historical considerations, but is largely outdated, and out of scope.

**Note**
- Contracts is currently an enterprise only feature. This should be clearly noted in documentation, and the appropriate feedback should be provided if a non-enterprise

[2022-11-17 19:00] lefoulkrod opened #1422 "rover supergraph compose fails on read-only filesystem despite having it pointed to a read-write volume"
## Description

When trying to invoke rover supergraph compose on a container with a read-only file system, I get an error
[code]
This is despite having set the environment variable `APOLLO_HOME` to a volume that has been mounted as read-write.

### Steps to reproduce

Run a container with a read-only filesystem and mount a volume that is read-write to a location.
Set the `APOLLO_HOME` environment

[2022-11-17 19:33] #1419 closed, assigned to EverlastingBugstopper

[2022-11-17 19:34] #1417 closed, assigned to EverlastingBugstopper

[2022-11-17 20:31] ahmadigbaryia opened #1423 "bug: crashed while executing rover dev command"
## Description
I'm following the instructions from [LIFT-OFF: DESTINATION SUPERGRAPH](https://www.apollographql.com/tutorials/lift-off-supergraph), step 3 FROM MONO, TO SUB, TO SUPERGRAPH

I got to the point where I should execute `rover dev` command to run our supergraph locally with a router and one or more subgraphs.

at first I ran the following command

[code]

Then I tried to run it with thi

[2022-11-17 22:01] caydie-tran commented on #1421
reading through this proposal i noticed that you have a proposal on the commands which is great but i also think we're missing a section on which parts of the codebase/files/sections of code you're looking to add more surface area to. have you looked into how the API interacts with Rover?

[2022-11-17 22:24] EverlastingBugstopper commented on #1421
@joel-burton thanks for putting this together!

This all makes sense to me and fits in with the existing rover design, and I'm happy to pair with anyone taking on implementation here.

Taking a step back - I'd love if you could take a minute to look over my proposal [here](https://github.com/apollographql/rover/issues/1161#issuecomment-1183630079) around creating a `.apollo` configuration director

[2022-11-17 22:32] EverlastingBugstopper commented on #1423
Hi @ahmadigbaryia - thanks for the report! Could you try running `npm run start` in the `tracks` repository and then try running `rover subgraph introspect http://localhost:4000`? If you could paste the output of that command here it would be very helpful, thank you!

[2022-11-18 15:52] lefoulkrod commented on #1422
Further details.  Even if I build a container with the plugin pre-downloaded I can't run rover subgraph compose on that container with a read-only filesystem.
`APOLLO_HOME=/tmp rover supergraph compose --skip-update-check --config` where /tmp is a read-write volume mount.

[2022-11-18 17:17] EverlastingBugstopper commented on #1422
re: that last point - try running with `--skip-update` instead of `--skip-update-check`. the latter only disables checking if _rover_ needs updated while the former disables updating the plugin automatically

[2022-11-18 21:33] lefoulkrod commented on #1422
I tried that as well and getting an error still
[code]

[2022-11-19 20:31] GreenJ84 opened #1426 "Rover not found"
Description
I tried to install rover via the command:
curl -sSL https://rover.apollo.dev/nix/latest | sh

[code]
 I tried the rover command and got

Output:
zsh: command not found: rover

Expected result
Rover should be found and execute display help

Actual result:

An error happened

Environment:

Operating system and version:
MacOS Ventura
Version 13.0

Shell (bash/zsh/powershell): zsh

Version

[2022-11-19 20:46] GreenJ84 commented on #1426
Even adding the suggested path:
[code]
manually to Mac Paths file isn't working.

[2022-11-19 21:26] GreenJ84 commented on #1426
I have finally found a solution

https://techpp.com/2021/09/08/set-path-variable-in-macos-guide/

This shows an accurate way to set the path manually with MacOS.

[2022-11-19 21:26] #1426 closed, assigned to nobody

[2022-11-20 20:19] bazaglia commented on #1212
+1 for that. I'm using Bazel as my build tool and it doesn't like outputs to the stdout. This issue is all need to be able to integrate with Rover.

Also agree that the `--output` flag suggests that it will output to a file (that was my first attempt) and the `--format` is a much better name for setting the output type.

[2022-11-21 21:12] rudrasrivastava opened #1427 "bug: apollo VCS variables not being populated for rover subgraph publish"
## Description

The revision SHA no longer shows correctly for a subgraph on Apollo Studio after we moved over to using `rover subgraph publish`. This was working fine when we were using the [Apollo API](https://engine-graphql.apollographql.com/api/graphql).

We are correctly setting the Apollo VCS env variables from the git equivalents during CI and this information (Commiter name, ID etc) shows

[2022-11-21 22:15] EverlastingBugstopper commented on #1427
Hi @rudrasrivastava - thanks for the report. Somewhat confusingly, Rover always sends the empty string (`""`) for the `revision` field, so it should always be empty (and has ever since Rover was released). Your VCS environment variables are stored in "git context". A query for this might look something like this:

[code]

Hope this helps!

[2022-11-21 22:24] rudrasrivastava commented on #1427
Thanks Avery! I will give that a go! How would you explain the SHA not correctly showing up on the SDL page for a subgraph after switching over to rover?

[2022-11-22 18:23] EverlastingBugstopper opened #1429 "feat: auto-update composition and router in `rover dev`"
`rover dev` should automatically use the latest plugin versions for both composition and the router as defined in `./latest_plugin_versions.json`

[2022-11-24 20:56] mabuyo commented on #1423
Hey @ahmadigbaryia ! I believe the `tracks` subgraph should be running on port `4001`, not `4000`. Could you try running `rover dev` again with the correct URL and making sure the subgraph is running?

[2022-11-25 12:18] voslartomas opened #1434 "bug: crashed while Runnin `rover dev`"
## Description

After running `rover dev` and setting up url and name of the subgraph it panics and ends program.

**Crash Report**

[code]

[2022-11-25 12:26] #1434 closed, assigned to nobody

[2022-11-28 13:25] gocamille opened #1436 "`rover subgraph publish` should return a `stdout` response"
## Description

When a user enters the `rover subgraph publish` command, the user should receive confirmation of a successful or failed publish via `stdout` or `stderr` respectively.

### Steps to reproduce

- As a user [follow the steps to publish a subgraph](https://www.apollographql.com/docs/rover/commands/subgraphs#subgraph-publish).

### Expected result

- A successful publish should return a

[2022-11-28 13:28] gocamille opened #1437 "`rover subgraph delete` should return a response to `stdout` if successful"
## Description

When a user enters the `rover subgraph delete` command, the user should receive confirmation of a successful or failed deletion via `stdout`.

### Steps to reproduce

- As a user [follow the steps to delete a subgraph](https://www.apollographql.com/docs/rover/commands/subgraphs#subgraph-delete).

### Expected result

- A successful subgraph deletion should return a success message

[2022-11-28 13:30] gocamille opened #1438 "`rover readme publish` should return a `stdout` response when successful"
## Description

When a user enters the `rover readme publish` command, the user should receive confirmation of a successful or failed publish via `stdout` or `stderr` respectively.

### Steps to reproduce

- As a user [follow the steps to publish a README for a graph](https://www.apollographql.com/docs/rover/commands/readmes#readme-publish).

### Expected result

- A successful publish should retu

[2022-11-30 17:24] EverlastingBugstopper opened #1440 "update `supergraph-demo` example to use apollo server 4"
we should update the example directory to use apollo server 4.

[2022-11-30 17:25] EverlastingBugstopper opened #1441 "remove `dev` example from `examples` directory"
there are two competing examples in `examples` - `supergraph-demo` and `dev`. They are very similar, and `supergraph-demo` is a bit more interesting of an example. we should remove the other one.

[2022-11-30 17:44] #1440 closed, assigned to EverlastingBugstopper

[2022-11-30 17:44] #1441 closed, assigned to EverlastingBugstopper